/*  STARTING MAIN CONTAINERS CONFIGURATIONS   */

body{
    overflow-y: scroll;
    scroll-behavior:smooth;
    &::-webkit-scrollbar{
        display: none;
        background: rgba(0, 0, 0, 0);
        border-radius: 5px;
        width: 10px;
        box-shadow: 0px 0px 5px 0px rgba(34, 34, 34, 0);
    }
    &::-webkit-scrollbar-thumb{
        background-color: #eeff0000; 
        border-radius: 5px;
        display: none;
    }
}

.full-screen{
    display: block;
    height: 100vh;
    width: 100%;
}


@mixin backHWP($height,$pos) {
    width: 100%;
    height: $height;
    position: $pos;
}

$images:(
    earth3: url(../images/Earth3.jpg),
    mercury3:url(../images/Mercurio3.jpg),
    mercury2:url(../images/Mercurio2.jpg) 50% 50%,
    venus2:url(../images/Venus2.jpg),
    venus:url(../images/Venus.jpg),
    saturno:url(../images/saturno.jpg),
    saturno2:url(../images/saturno2.jpg),
    marte:url(../images/marte.jpg),
    marte2:url(../images/marte2.jpg),
    jupiter:url(../images/jupiter.jpg),
    jupiter3:url(../images/jupiter3.jpg),
    onion:url(../images/onion.png)
);

.body_{
    &Planets {
        padding: 0;
        height: 100%;
        min-height: 100vh;
        background: #000000;
        &::-webkit-scrollbar{
            display: none;
        }
    }
    &Index{
        /* background: url(../images/stars.jpg); */
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &venus, &saturno , &mercury ,&earth,&mars,&jupiter{
        height: 100%;
        background: #000000;
    }
}

.main_{
    &Planets{
        margin-bottom: 100px;
    }
    &index{
        @include backHWP(100vh, relative );
        min-height: 535px
    }
    
    &Earth{
        @include backHWP(100vh, relative );
        min-height: 515px;
    }
    &Earth2{
        @include backHWP(100%, relative );
        // background: url(../images/Earth3.jpg);
        background: map-get($images , earth3 );
        background-position: top;
        @extend .wrapperBackSize;
    }
    &Mercury2{
        @include backHWP(100%, relative );
        // background: url(../images/Mercurio3.jpg);
        background: map-get($images, mercury3 );
        background-position: center;
        background-size:contain;
        background-repeat: no-repeat;
        
    }
}


.earth-Animation{
    position: relative;
    z-index: 100;
    & .webgl{
        width: 100vw !important;
        height: 100vh !important;
        position: relative;
        pointer-events: none;
        cursor:grab;

        &:active{
            cursor: grabbing;
        }
    }
}

/*  ALL BACKGROUNDS */

.stars{
    position: fixed;
    width: 100% !important;
    height: 100vh !important;
    top:0;
    left:0;
    z-index: 10;
    opacity: .5;
}

.back{
    &Appear{
        @include backHWP(100%, absolute );
        z-index: $backAppear;
        background: #000;
        animation: backAppear 7s 2s both;
    }
    &AppearReset{
        animation: none;
    }
    &AppearRefresh{
        animation: backAppear 3s 1 both;
    }
    &{
        border-radius: 6px;
        z-index: 400;
        left: 0;
        bottom: 0;
        @include backHWP(100%, absolute );
        background: linear-gradient(to top, rgba(0, 0, 0, 0.801),transparent);
    }
    &3{
        border-radius: 6px;
        z-index: 400;
        @include backHWP(100vh, absolute );
        background: linear-gradient(to bottom, transparent,rgb(0, 0, 0));
    }
    &2{
        border-radius: 6px;
        @include backHWP(100%, absolute);
        width: 101%;
        left: 0;
        bottom: 0;
        background: linear-gradient(to top, rgb(0, 0, 0),rgba(0, 0, 0, 0.185));
    }
    &Pro{
        @include backHWP(100%, absolute );
        z-index: 1400;
        animation: showPage 3s 2s 1 both;
        pointer-events: none;
    }
    &ground{
        background: #000
    }
}

.color{
    &S1{
        background: none !important;
    }
    
    &M1{
        background: linear-gradient(to right, rgba(54, 43, 4, 0.055),rgba(0, 0, 0, 0.171)) !important;
        border-top: 1px solid rgba(148, 114, 4, 0) !important;
        border-left: 1px solid rgba(148, 114, 4, 0) !important;
    }
    &M2{
        background: linear-gradient(to top,rgb(0, 0, 0), rgba(197, 152, 2, 0.021)) !important;
    }
    
    &M3{
        background: linear-gradient(to right, rgba(0, 0, 0, 0),rgba(117, 92, 8, 0.075)) !important;
    }
}

.remove{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.89),transparent)!important;
}

.whitoutBack{
    background: none !important;
}

.wrapperBackSize{
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.wrapper{

    &Index{
        text-align: center;
        @include backHWP(100%, absolute );
        z-index: $zwrapper;
        opacity: .5;
    }
    &Earth1{
        @extend .wrapperEarth2;
        height: 100vh;
        position: relative;
        // background: url(../images/Earth3.jpg) 50% 50%;
        @extend .wrapperBackSize;
        // animation: bright3Earth 7s infinite alternate ease-in-out;
    }
    &Earth2{
        text-align: center;
        @include backHWP(100%, absolute );
        z-index: $zwrapper;
    }
    
    &Mercury1{
        @extend .wrapperEarth2;
        background: map-get($images, mercury2);
        @extend .wrapperBackSize;
        animation: bright2 7s infinite alternate ease-in-out;
    }
    
    &Mercury2{
        @extend .wrapperEarth2;
        background: map-get($images, mercury3) 50% 50%;
        @extend .wrapperBackSize;
        animation: bright2 7s infinite alternate ease-in-out;
    }
    &Venus1{
        @extend .wrapperEarth2;
        background: map-get($images, venus2) 50% 50%;
        @extend .wrapperBackSize;
        animation: bright2 7s infinite alternate ease-in-out;
    }
    &Venus2{
        @extend .wrapperEarth2;
        background:  map-get($images, venus) 50% 50%;
        @extend .wrapperBackSize;
        animation: bright2 7s infinite alternate ease-in-out;
    }
    &Saturno1{
        @extend .wrapperEarth2;
        background: map-get($images, saturno) 50% 50%;
        @extend .wrapperBackSize;
        background-position: bottom;
        animation: onlyBright 7s infinite alternate ease-in-out;
    }
    &Saturno2{
        @extend .wrapperEarth2;
        background: map-get($images, saturno2) 50% 50%;
        @extend .wrapperBackSize;
        animation: bright 7s infinite alternate ease-in-out;
    }
    &Marte1{
        @extend .wrapperEarth2;
        background: map-get($images, marte) 50% 50%;
        @extend .wrapperBackSize;
        background-position: bottom;
        animation: bright2 7s infinite alternate ease-in-out;
    }
    &Marte2{
        @extend .wrapperEarth2;
        background: map-get($images, marte2) 50% 50%;
        @extend .wrapperBackSize;
        animation: bright 7s infinite alternate ease-in-out;
    }
    &Jupiter1{
        @extend .wrapperEarth2;
        background: map-get($images, jupiter) 50% 50%;
        @extend .wrapperBackSize;
        background-position: bottom;
        animation: bright2 7s infinite alternate ease-in-out;
    }
    &Jupiter2{
        @extend .wrapperEarth2;
        background: map-get($images, jupiter3) 50% 50%;
        @extend .wrapperBackSize;
        background-position: left;
    }
}
.bg{
    @include backHWP(100%, absolute );
    background: map-get($images , onion ) 50% 50%;
    animation: bright 7s infinite alternate ease-in-out;
    @extend .wrapperBackSize;

    &SizePos{
        @include backHWP(100%, absolute );
    }
    &Earth1{
        @extend .bgSizePos;
        background: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0));
    }
    &Earthx{
        @extend .bgSizePos;
        z-index: 5;
        background: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0.404));
    }

    &Earth1x{
        @extend .bgSizePos;
        height: 40%;
        bottom: 0;
        z-index: 150;
        background: linear-gradient(to top, #000, rgba(0, 0, 0, 0));
    }
    
    &Earth2{
        @extend .bgSizePos;
        background: map-get($images , earth3 ) 50% 50%;
        @extend .wrapperBackSize;
        animation: bright2 7s infinite alternate ease-in-out;
    }
    
    &Mercury1{
        @extend .bgSizePos;
        background: linear-gradient(to top, #000, rgba(148, 114, 4, 0.171));
    }
    
    &Mercury2{
        @extend .bgSizePos;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.411), rgba(0, 0, 0, 0));
    }
    
    &Venus1{
        @extend .bgSizePos;
        background: linear-gradient(to top, #000, rgba(148, 114, 4, 0.171));
    }
    
    &Venus2{
        @extend .bgSizePos;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.993), rgba(0, 0, 0, 0));
    }
    &Saturno1{
        @extend .bgSizePos;
        background: linear-gradient(to top, #000, rgba(6, 4, 148, 0.171));
    }
    
    &Saturno2{
        @extend .bgSizePos;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0));
    }
    &Marte1{
        @extend .bgSizePos;
        background: linear-gradient(to top, #000, rgba(6, 4, 148, 0.171));
    }
    
    &Marte2{
        @extend .bgSizePos;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0));
    }
    
    &Jupiter1{
        @extend .bgSizePos;
        background: linear-gradient(to top, #000, rgba(6, 4, 148, 0.171));
    }
    
    &Jupiter2{
        @extend .bgSizePos;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0));
        
    }
}