/*  STARTING MAIN CONTAINERS CONFIGURATIONS   */

body{
    overflow-y: scroll;
    scroll-behavior:smooth;
    &::-webkit-scrollbar{
        display: none;
        background: rgba(0, 0, 0, 0);
        border-radius: 5px;
        width: 10px;
        box-shadow: 0px 0px 5px 0px rgba(34, 34, 34, 0);
    }
    &::-webkit-scrollbar-thumb{
        background-color: #eeff0000; 
        border-radius: 5px;
        display: none;
    }
}

.full-screen{
    display: block;
    height: 100vh;
    width: 100%;
}


.body_{
    &Planets {
        padding: 0;
        height: 100%;
        min-height: 100vh;
        background: #000000;
        &::-webkit-scrollbar{
            display: none;
        }
    }
    &Index{
        /* background: url(../images/stars.jpg); */
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &venus, &saturno , &mercury ,&earth,&mars,&jupiter{
        height: 100%;
        background: #000000;
    }
}

.main_{
    &Planets{
        margin-bottom: 100px;
    }
    &index{
        width: 100%;
        height: 100vh;
        position: relative;
    }
    
    &Earth{
        width: 100%;
        height: 100vh;
        min-height: 515px;
        position: relative;
    }
    &Earth2{
        width: 100%;
        height: 100%;
        position: relative;
        background: url(../images/Earth3.jpg);
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
    }
}


.earth-Animation{
    position: relative;
    z-index: 100;
    & .webgl{
        width: 100vw !important;
        height: 100vh !important;
        position: relative;
        pointer-events: none;
    }
}


/*  ALL BACKGROUNDS */

.stars{
    position: fixed;
    width: 100% !important;
    height: 100vh !important;
    top:0;
    left:0;
    z-index: 10;
    opacity: .5;
}

.back{
    &Appear{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: $backAppear;
        background: #000;
        animation: backAppear 7s 2s both;
    }
    &AppearReset{
        animation: none;
    }
    &AppearRefresh{
        animation: backAppear 3s 1 both;
    }
    &{
        border-radius: 6px;
        position: absolute;
        z-index: 400;
        width: 100%;
        left: 0;
        bottom: 0;
        height: 100%;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.801),transparent);
    }
    &3{
        border-radius: 6px;
        position: absolute;
        z-index: 400;
        width: 100%;
        height: 100vh;
        background: linear-gradient(to bottom, transparent,rgb(0, 0, 0));
    }
    &2{
        border-radius: 6px;
        position: absolute;
        width: 101%;
        height: 100%;
        left: 0;
        bottom: 0;
        background: linear-gradient(to top, rgb(0, 0, 0),rgba(0, 0, 0, 0.185));
    }
    &Pro{
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 1400;
        animation: showPage 3s 2s 1 both;
        pointer-events: none;
    }
    &ground{
        background: #000
    }
}


.color{
    &S1{
        background: none !important;
    }
    
    &M1{
        background: linear-gradient(to right, rgba(54, 43, 4, 0.055),rgba(0, 0, 0, 0.171)) !important;
        border-top: 1px solid rgba(148, 114, 4, 0) !important;
        border-left: 1px solid rgba(148, 114, 4, 0) !important;
    }
    &M2{
        background: linear-gradient(to top,rgb(0, 0, 0), rgba(197, 152, 2, 0.021)) !important;
    }
    
    &M3{
        background: linear-gradient(to right, rgba(0, 0, 0, 0),rgba(117, 92, 8, 0.075)) !important;
    }
}

.remove{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.89),transparent)!important;
}

.whitoutBack{
    background: none !important;
}
.wrapper{
    &Index{
        position: absolute;
        text-align: center;
        width: 100%;
        height: 100%;
        z-index: $zwrapper;
        opacity: .5;
    }
    &Earth1{
        position: relative;
        text-align: center;
        width: 100%;
        height: 100vh;
        z-index: $zwrapper;
        // background: url(../images/Earth3.jpg) 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        // animation: bright3Earth 7s infinite alternate ease-in-out;
    }
    &Earth2{
        position: absolute;
        text-align: center;
        width: 100%;
        height: 100%;
        z-index: $zwrapper;
    }
    
    &Mercury1{
        position: absolute;
        text-align: center;
        width: 100%;
        height: 100%;
        z-index: $zwrapper;
        background: url(../images/Mercurio2.jpg) 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        animation: bright2 7s infinite alternate ease-in-out;
    }
    
    &Mercury2{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: $zwrapper;
        background: url(../images/Mercurio.jpg) 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        animation: bright2 7s infinite alternate ease-in-out;
    }
    &Venus1{
        position: absolute;
        text-align: center;
        width: 100%;
        height: 100%;
        z-index: $zwrapper;
        background: url(../images/Venus2.jpg) 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        animation: bright2 7s infinite alternate ease-in-out;
    }
    &Venus2{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: $zwrapper;
        background: url(../images/Venus.jpg) 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        animation: bright2 7s infinite alternate ease-in-out;
    }
    &Saturno1{
        position: absolute;
        text-align: center;
        width: 100%;
        height: 100%;
        z-index: $zwrapper;
        background: url(../images/saturno.jpg) 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        animation: onlyBright 7s infinite alternate ease-in-out;
    }
    &Saturno2{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: $zwrapper;
        background: url(../images/saturno2.jpg) 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        animation: bright 7s infinite alternate ease-in-out;
    }
    &Marte1{
        position: absolute;
        text-align: center;
        width: 100%;
        height: 100%;
        z-index: $zwrapper;
        background: url(../images/marte.jpg) 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        animation: bright2 7s infinite alternate ease-in-out;
    }
    &Marte2{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: $zwrapper;
        background: url(../images/marte2.jpg) 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        animation: bright 7s infinite alternate ease-in-out;
    }
    &Jupiter1{
        position: absolute;
        text-align: center;
        width: 100%;
        height: 100%;
        z-index: $zwrapper;
        background: url(../images/jupiter.jpg) 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        animation: bright2 7s infinite alternate ease-in-out;
    }
    &Jupiter2{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: $zwrapper;
        background: url(../images/jupiter3.jpg) 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left;
    }
}
.bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/onion.png) 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    animation: bright 7s infinite alternate ease-in-out;
    &Earth1{
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0));
    }
    &Earthx{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 5;
        background: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0.404));
    }

    &Earth1x{
        position: absolute;
        width: 100%;
        height: 40%;
        bottom: 0;
        z-index: 150;
        background: linear-gradient(to top, #000, rgba(0, 0, 0, 0));
    }
    
    &Earth2{
        position: absolute;
        width: 100%;
        height: 100%;
        background: url(../images/Earth3.jpg) 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        animation: bright2 7s infinite alternate ease-in-out;
    }
    
    &Mercury1{
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, #000, rgba(148, 114, 4, 0.171));
    }
    
    &Mercury2{
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.411), rgba(0, 0, 0, 0));
    }
    
    &Venus1{
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, #000, rgba(148, 114, 4, 0.171));
    }
    
    &Venus2{
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.993), rgba(0, 0, 0, 0));
    }
    &Saturno1{
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, #000, rgba(6, 4, 148, 0.171));
    }
    
    &Saturno2{
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0));
    }
    &Marte1{
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, #000, rgba(6, 4, 148, 0.171));
    }
    
    &Marte2{
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0));
    }
    
    &Jupiter1{
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, #000, rgba(6, 4, 148, 0.171));
    }
    
    &Jupiter2{
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0));
        
    }
}