/*  MAIN TEXT  */


@mixin letters($question,$fw,$fs,$color) {
    @if $question == 'transform'{
        text-transform: uppercase;
    }
    font-family: 'Poppins', sans-serif;
    font-weight: $fw;
    @if $fs != 'none'{
        font-size: $fs;
    }
    color: $color;
}


.main-text{
    position: absolute;
    z-index: $content;
    width: 50%;
    height: auto;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    &::-webkit-scrollbar{
        display: none;
    }
    & .title{
        color: rgb(231, 231, 231);
        padding: 0 2rem;
        & .cont-appear{
            overflow: hidden;
            width: 100%;
            animation: letterAppear 3s 1 steps(30), cursor .7s 5;
        }
        & .cont-appear2{
            overflow: hidden;
            width: 100%;
            white-space: nowrap;
            animation: letterAppear 3s 1 steps(30);
        }
        
        & .cont-appear h1,& .cont-appear2 h1,.cont-appear2 h1{
            @include letters('transform',700 , 3rem, rgb(255,255,255));
            animation: textColor 2.5s 5s ease-in-out infinite alternate both;
            position: relative;
        }
        
        & p{
            text-align: justify;
            @include letters('none',400 , 'none', rgb(236, 236, 236));
            width: 85%;
            margin: 1rem 0;
            font-size: 1.3vw;
            animation: show 2s 2s ease-in-out 1 both;
        }
    }
    
}
.cont-appear2 h2{
    @include letters('transform',700 , 1.2rem, rgb(255,255,255));
}

.second-text{
    &-responsive{
        display: none;
    }
    
    &-main{
        width: 98%;
        position: absolute;
        bottom: 0;
        font-size: 1.3vw;
        left: 50%;
        transform: translate(-50%);
        z-index: $content;
        text-align: justify;
        @include letters('none',400 , 'none', rgb(255,255,255));
        margin: 1rem 0;
        animation: show 2s 2s ease-in-out 1 both;
    }
}


.main-text2-{
    &r{
        display: none;
    }
    &nr{
        position: relative;
        height: 150vh;
        width: 100vw;
        z-index: $content;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background: linear-gradient(to bottom, #000,transparent);
        grid-template-rows: repeat(6,minmax(50px, 25vh));
    
        & div{
            position: relative;

            & h2{
                @include letters('transform',700 , 1.2rem, rgb(255,255,255));
            }
    
            & p{
                text-align: justify;
                @include letters('transform',400 , 'none', rgb(236, 236, 236));
            }
        }
        & > div:nth-child(1){
           justify-self: flex-start;
           background: linear-gradient(to right, rgba(15, 39, 4, 0.349),rgba(0, 0, 0, 0));
            border-radius: 15px;
            padding: 15px;
            grid-column: 1/ span 1;
            grid-row: 1/ span 3;
            align-self: center;
        }
        & > div:nth-child(2){
           justify-self: flex-end;
            grid-column: 2/ span 1;
            grid-row: 2/ span 2;
        }
        & > div:nth-child(3){
           justify-self: flex-start;
            grid-column: 1/ span 2;
            grid-row: 4/ span 3;
            background: linear-gradient(to top, #000, rgba(15, 39, 4, 0.158));
            width: 100%;
            padding: 30px;
            border-radius: 15px 15px 0px 0px;
            transition: box-shadow .5s;

            &:hover{
                box-shadow: 0px 0px 7px 0px rgb(168, 168, 168);
            }
        }
    }
}

// .main-text2-nr div:nth-child(3):hover{
//     box-shadow: 0px 0px 7px 0px rgb(168, 168, 168);
// }

.main_Earth2 .main-movements{
    position: relative;
    z-index: 700;
    margin-top: 150px;
    width: 50%;

    & h2{
        text-align: center;
        @include letters('transform',700 , 1.2rem, rgb(255,255,255));
        animation: textColor 2.5s 5s ease-in-out infinite alternate both;
    }

    & .list2{
        color: rgb(255, 255, 255);
        list-style: none;
        & li{
            padding-left: 40px;
            margin-top: 12px;
            text-align: justify;
            color: rgb(236, 236, 236);
            @include letters('none',400 , 'none', rgb(236, 236, 236));
        }
    }
}

.main_Earth2 .lists{
    margin-top: 100px;
    padding: 10px 7vw 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    & h2{
        text-transform: uppercase;
        animation: textColor 2.5s 5s ease-in-out infinite alternate both;
    }
    & > ul{
        padding: 40px;
        width: 95%;
        border-radius: 15px;
        & div{
            position: relative;
            border-radius: 15px;
            border-top: 3px solid rgba(255, 255, 255, 0.438);
            border-left: 3px solid rgba(255, 255, 255, 0.74);
            padding: 15px 5px 10px 25px;
            list-style: none;
            margin-bottom: 15px;
            background: linear-gradient(to left, #000,transparent);
            & > li{
                margin-bottom: 15px;
                & ul{
                    background: rgb(15, 15, 15);
                    border-radius: 15px; 
    
                    & li{
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}

.tables{
    padding: 40px;
    position:fixed;
    width: 100%;
    height: 100vh;
    z-index: 1199;
    top: 0;
    background: rgba(15, 15, 15, 0.585);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    display: flex;
    opacity: 0;
    pointer-events: none;
    flex-direction: column;
    overflow: auto;
    align-items: center;
    transition: opacity 1s;
    &::-webkit-scrollbar{
        display: none;
    }
    & h2{
        text-align: left;
        @include letters('transform',700 , 2vw, rgb(255,255,255));
        animation: textColor 2.5s 5s ease-in-out infinite alternate both;
        margin-bottom: 7px;
    }
}

.list{
    // list-style:disc;
    list-style:none;
    @include letters('none',400 , 'none', rgb(236, 236, 236));
    width: 85%;
    border-radius: 15px;
    padding: 7px;
    background-color: #ffffff10;

    @for $i from 1 through 8{
        & li:nth-child(#{$i}){
            width: 100%;
            margin-bottom: 5px;
            padding: 8px;
            border-radius: 15px;
            font-size: 1.1vw;
        }
       
        @if $i % 2 == 0{
            & li:nth-child(#{$i}){
                background: rgb(0, 0, 0);
            }
        }@else{
            & li:nth-child(#{$i}){
                background: rgb(15, 15, 15);
                outline: 1px solid #2c2c2c5e;
            }
        }
    }

    &x{
        list-style:none;
        @include letters('none',400 , 'none', rgb(236, 236, 236));
        width: 60vw;
        border-radius: 15px;
        padding: 7px;
        background-color: #ffffff10;

        @for $i from 1 through 26{
            & li:nth-child(#{$i}){
                width: 100%;
                margin-bottom: 5px;
                padding: 8px;
                border-radius: 15px;
            }
        
            @if $i % 2 == 0{
                & li:nth-child(#{$i}){
                    background: rgb(0, 0, 0);
                }
            }@else{
                & li:nth-child(#{$i}){
                    background: rgb(15, 15, 15);
                    outline: 1px solid #2c2c2c5e;
                }
            }
        }
    }

    // & li{
    //     text-align: left;
    //     margin-bottom: 2px;
    // }
    &-general{
        z-index: 700;
        position: relative;
        margin: 110px 0 120px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;

        & h2{
            text-align: center;
            @include letters('transform',700 , 1.8vw, rgb(255,255,255));
            animation: textColor 2.5s 5s ease-in-out infinite alternate both;
            margin-bottom: 20px;
        }

        & .list2{
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            padding-left: 18vw;
            list-style:none;
            @include letters('none',400 , 'none', rgb(236, 236, 236));
            width: 60%;
            border-radius: 15px;
            padding: 7px;
            background-color: #ffffff10;

            @for $i from 1 through 8{
                & li:nth-child(#{$i}){
                    width: 100%;
                    margin-bottom: 5px;
                    padding: 8px;
                    border-radius: 15px;
                    font-size: 1.3vw;
                    padding-left: 20px;
                }
               
                @if $i % 2 == 0{
                    & li:nth-child(#{$i}){
                        background: rgb(0, 0, 0);
                    }
                }@else{
                    & li:nth-child(#{$i}){
                        background: rgb(15, 15, 15);
                        outline: 1px solid #2c2c2c5e;
                    }
                }
            }
        }
        &-none{
            display: none;
        }
    }
    &s{
        position: relative;
        z-index: 700;
        color: #ffffff;
        overflow-x: scroll;
        font-family: 'Poppins', sans-serif;
        & ul{
            padding: 40px;
        }
        &::-webkit-scrollbar{
            display: none;
        }
        & li{
            margin-bottom: 2px;
        }
    }
    &2{
        color: rgb(236, 236, 236);
        list-style:circle;
        & li{
            font-family: 'Poppins', sans-serif;
        }
    }
}

.aside-flotante{
    width: 350px;
    position: absolute;
    right: 4px;
    z-index: 1100;
    top: 40%;
    transform: translateY(-40%);
    background: linear-gradient(to left, #000,transparent);
    border-radius: 15px;
    animation: show 2s 4s ease-in-out 1 both;
    & h2{
        @include letters('transform',700 , 1.2rem, rgb(255,255,255));
        text-align: left;
        animation: textColor 2.5s 5s ease-in-out infinite alternate both;
        margin-bottom: 7px;
    }
}

// planets.html bootstrap modified carousel
@each $i in carousel,carousel-inner,carousel-item{
    .#{$i}{
        height: 100% !important;
        width: 100% !important;

        @if $i == carousel-item{
            & img{
                object-fit: cover !important;
                width: 100% !important;
                height: 100% !important;
            }
        }
    }
}

.p-planets,.h2-planetsName{
    position: relative;
    z-index: 700;
}

.maxZindex{
    z-index: 1199 !important;
}

.pointer-event{
    pointer-events: all !important;
}
.magicContainer{
    position: absolute;
    overflow: hidden;
    width: 80%;
    white-space: nowrap;
    top: 50px;
    left: 25px;
    z-index: 1500;
    height: max-content;
    color: rgb(211, 211, 211);
    animation: letterAppear 3s 1 steps(30)
}
.magic{
    text-transform: uppercase;
    font-family: 'poppins', sans-serif;
    font-weight: 900;
    animation: textColor 2.5s 5s ease-in-out infinite alternate both;
    font-size: 3rem;
    position: relative;
    animation: textColor 2.5s 2s ease-in-out infinite alternate;
}
.br-index-res{
    display: none;
}