/*  MAIN TEXT  */

.main-text{
    position: absolute;
    z-index: $content;
    width: 50%;
    height: auto;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    &::-webkit-scrollbar{
        display: none;
    }
    & .title{
        color: rgb(231, 231, 231);
        padding: 0 2rem;
        & .cont-appear{
            overflow: hidden;
            width: 100%;
            animation: letterAppear 3s 1 steps(30), cursor .7s 5;
        }
        & .cont-appear2{
            overflow: hidden;
            width: 100%;
            white-space: nowrap;
            animation: letterAppear 3s 1 steps(30);
        }
        
        & .cont-appear h1,& .cont-appear2 h1,.cont-appear2 h1{
            text-transform: uppercase;
            font-family: 'Poppins', sans-serif;
            font-weight: 700;
            animation: textColor 2.5s 5s ease-in-out infinite alternate both;
            font-size: 3rem;
            position: relative;
        }
        
        & p{
            text-align: justify;
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            color: rgb(236, 236, 236);
            width: 85%;
            margin: 1rem 0;
            animation: show 2s 2s ease-in-out 1 both;
        }
    }
    
}
.cont-appear2 h2{
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
}

.second-text{
    &-responsive{
        display: none;
    }
    
    &-main{
        width: 90%;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        z-index: $content;
        color: #fff;
        text-align: justify;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        color: rgb(255, 255, 255);
        margin: 1rem 0;
        animation: show 2s 2s ease-in-out 1 both;
    }
}


.main-text2-{
    &r{
        display: none;
    }
    &nr{
        position: relative;
        height: 150vh;
        width: 100vw;
        z-index: $content;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background: linear-gradient(to bottom, #000,transparent);
        grid-template-rows: repeat(6,minmax(50px, 25vh));
    
        & div{
            position: relative;

            & h2{
                text-transform: uppercase;
                font-family: 'Poppins', sans-serif;
                font-weight: 700;
                font-size: 1.2rem;
                color: rgb(255, 255, 255);
            }
    
            & p{
                text-align: justify;
                font-family: 'Poppins', sans-serif;
                font-weight: 400;
                color: rgb(236, 236, 236);
            }
        }
        & > div:nth-child(1){
           justify-self: flex-start;
           background: linear-gradient(to right, rgba(15, 39, 4, 0.349),rgba(0, 0, 0, 0));
            border-radius: 15px;
            padding: 15px;
            grid-column: 1/ span 1;
            grid-row: 1/ span 3;
            align-self: center;
        }
        & > div:nth-child(2){
           justify-self: flex-end;
           grid-column: 2/ span 1;
            grid-row: 2/ span 2;
        }
        & > div:nth-child(3){
           justify-self: flex-start;
           grid-column: 1/ span 2;
            grid-row: 4/ span 3;
            background: linear-gradient(to top, #000, rgba(15, 39, 4, 0.158));
            width: 100%;
            padding: 30px;
            border-radius: 15px 15px 0px 0px;
            transition: box-shadow .5s;

            &:hover{
                box-shadow: 0px 0px 7px 0px rgb(168, 168, 168);
            }
        }
    }
}

// .main-text2-nr div:nth-child(3):hover{
//     box-shadow: 0px 0px 7px 0px rgb(168, 168, 168);
// }

.list{
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: rgb(236, 236, 236);
    width: 85%;
    padding-left: 60px;
    & li{
        text-align: left;
        margin-bottom: 2px;
    }
    &s{
        color: #ffffff;
        overflow-x: scroll;
        font-family: 'Poppins', sans-serif;
        & ul{
            padding: 40px;
        }
        &::-webkit-scrollbar{
            display: none;
        }
        & li{
            margin-bottom: 2px;
        }
    }
    &2{
        color: rgb(236, 236, 236);
        list-style:circle;
        & li{
            font-family: 'Poppins', sans-serif;
        }
    }
}

.aside-flotante{
    width: 350px;
    position: absolute;
    right: 4px;
    z-index: $menuList;
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(to left, #000,transparent);
    border-radius: 15px;
    animation: show 2s 4s ease-in-out 1 both;
    & h2{
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 1.2rem;
        text-align: center;
        color: rgb(255, 255, 255);
    }
}

// planets bootstrap modified carousel
.carousel, .carousel-inner, .carousel-item{
    height: 100% !important;
    width: 100% !important;
}

.carousel-item img{
    object-fit: cover !important;
    width: 100% !important;
    height: 100% !important;
}


.p-planets,.h2-planetsName{
    position: relative;
    z-index: 700;
}

.maxZindex{
    z-index: 1199 !important;
}

.pointer-event{
    pointer-events: all !important;
}
.magicContainer{
    position: absolute;
    overflow: hidden;
    width: 80%;
    white-space: nowrap;
    top: 50px;
    left: 25px;
    z-index: 1500;
    height: max-content;
    color: rgb(211, 211, 211);
    animation: letterAppear 3s 1 steps(30)
}
.magic{
    text-transform: uppercase;
    font-family: 'poppins', sans-serif;
    font-weight: 900;
    animation: textColor 2.5s 5s ease-in-out infinite alternate both;
    font-size: 3rem;
    position: relative;
    animation: textColor 2.5s 2s ease-in-out infinite alternate;
}
.br-index-res{
    display: none;
}

