/*** making responsive all ****/

@media only screen and (max-width: 1085px){
    .title h1{
        font-size: 1.8rem;
    }    

    .title p{
        width: 100%;
        font-size: 0.9rem;
        margin: 0.5rem 0;
    }

    // .btn,.btn-rev {
    //     padding: 0.5rem 1rem;
    //     margin-top: 1.7rem;
    //     font-size: 0.8rem;
    // }
}

@media only screen and (max-width: 1000px){
    .main-text{
        width: 55%;
    }

    .main_Earth2 .main-movements{
        width: 80%;
        margin: 150px auto 0;
    }

    .title{
        width: 100%;
    }

    .list-general{
        & h2{
            font-size: 2.3vw;
        }

        & .list2{
            width: 70%;
        }

        @for $i from 1 through 9{
            & .list2 li:nth-child(#{$i}){
                font-size: 1.5vw;
            }
        }
    }
}

@media screen and (max-width:916px){
    // .main-text{
    //     top: 42%;
    // }
}

@media only screen and (max-width: 900px){
    .main-text{
        width: 60%;
    }

    .title h1{
        color: white;
    }

    .title p{
        color: rgb(205, 205, 205);
    }
}

@media screen and (max-width: 828px){
    .body_Index .main_index .main-text .title{
        p{
            font-size: 1.4vw;
        }
    
        & .cont-appear h1{
            font-size: 4vw;
        }
    }
    
}

@media only screen and (max-width: 790px){
    .main_{
        &Mercuryback{
            background-position: center;
        }
        &Mercuryback2{
            background: none;
        }
    }

    .close-tables{
        left: 5%;
        padding: 15px;
        top: 5%;
        & span{
            height: 5px;
            width: 20px;
            &::after{
                content: '';
                height: 5px;
                width: 20px;
            }
        }
    }

    .tables{
        padding-top:100px;

        & h2{
            font-size: 4vw;
        }
    }

    .listx{
        width: 90vw;
        padding: 7px;

        @for $i from 1 through 26{
            & li:nth-child(#{$i}){
                width: 100%;
                margin-bottom: 5px;
                padding: 8px;
                border-radius: 15px;
            }
        
            @if $i % 2 == 0{
                & li:nth-child(#{$i}){
                    background: rgb(0, 0, 0);
                }
            }@else{
                & li:nth-child(#{$i}){
                    background: rgb(15, 15, 15);
                    outline: 1px solid #2c2c2c5e;
                }
            }
        }
    }
    .overflow,.overflow2{
        width: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        overflow-y: scroll;
    }
    .aside-flotante{
        display: none;
    }

    .list-general{
        & h2{
            font-size: 2.8vw;
        }

        & .list2{
            width: 85%;
        }

        @for $i from 1 through 9{
            & .list2 li:nth-child(#{$i}){
                font-size: 1.9vw;
            }
        }

        &-none{
            display: flex;
        }
    }

    .main-text2-nr > div:nth-child(1){
        display: none;
    }
    .main-text2-nr > div:nth-child(2){
        display: none;
    }
    .main-text2-nr > div:nth-child(3){
        background: linear-gradient(to top, #000,transparent);
    }
    .main-text2-r{
        width: 100%;
        height: 100%;
        border-radius: 15px;
        grid-column: 1 / span 2;
        grid-row: 1 / span 3;
        border: none;
        display: flex;
        position: relative;
        align-items: center;
        overflow: auto;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
    }
    .main-text2-r section{
        min-width: 100%;
        scroll-snap-align: start;
        position: relative;
        height: 100%;
        background: linear-gradient(to bottom,#000,transparent)!important;
    }


    .listInd{
        padding-left: 20px ;
    }

    .listInd li{
        font-size: 18px;
    }

    .general-c{
        width:100%;
        height: 100%;
        position: relative;
        border-radius: 15px;
        padding: 15px;
        animation: show 2s 4s ease-in-out 1 both;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .general-c .list2{
        padding: 25px;
    }
    .general-c h2{
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 1.5rem !important;
        color: rgb(255, 255, 255);
    }

    .overflow{
        top: 55%;
    }

    .title{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .main_Earth .title p{
        color: rgb(248, 248, 248);
        font-size: 1.8vw;
    }
    .main_Earth2 .main-movements{
        & .list2{
            & li{
                font-size: 1.8vw;
            }
        }
    }
    
    .title .second-text-responsive{
        display: block;
        margin-top: 20px;
    }
    .second-text-main{
        display: none;
    }
}

@media screen and (max-width:768px){
    .magic{
        font-size: 2rem;
    }
    .main_Earth2 .lists {
        padding: 10px 0;
        & h2{
            font-size: 3.6vw;
            text-align: left;
            padding-left: 4px;
        }
    }
}

@media screen and (max-width: 700px){
    .main-text{
        width: 100%;
    }
    .body_Index .main_index .main-text .title{
        display: flex;
        align-items: center;
        flex-direction: column;
    
        & .cont-appear h1{
           text-align: center;
           font-size: 4.2vw;
        }

        p{
            font-size: 2vw;
        }
        
    }
}

@media screen and (max-width:672px){
    .magic{
        font-size: 2rem !important;
    }
    .main_Earth2 .main-movements{
        width: 95%;
        margin-top: 70px;
        
        & .list2 li{
            padding-left: 5px;
        }
    }

    .list-general{
        & h2{
            font-size: 3.2vw;
        }

        & .list2{
            width: 85%;
        }

        @for $i from 1 through 9{
            & .list2 li:nth-child(#{$i}){
                font-size: 2.6vw;
            }
        }
    }
}

@media screen and (max-width:570px){
    .close-tables{
        padding: 10px;
        top: 5%;
    }

    .title .cont-appear h1{
        font-size: 2rem;
        animation: none;
    }
    .main_Earth .title p{
        font-size: 2.5vw;
    }
    .main_Earth2 .main-movements{
        & .list2{
            & li{
                font-size: 2.2vw;
            }
        }
    }
    .main_Earth2 .lists > ul  {
        width: 100%;
        padding: 4px;
    }
    .main_Earth2 .lists > ul div > li{
        font-size: 3.5vw;
    }
    
    .list-general{
        & .list2{
            padding-left: 7vw;
        }
        & h2{
            font-size: 4vw;
        }
    } 
    .body_Index .main_index .main-text .title{
        & .cont-appear h1{
           font-size: 5vw;
        }

        p{
            font-size: 3vw;
        }
        
    }

    .list-general{
        & h2{
            font-size: 3.9vw;
        }

        & .list2{
            width: 85%;
            padding: 5px 2px 2px;
        }

        @for $i from 1 through 9{
            & .list2 li:nth-child(#{$i}){
                font-size: 3.5vw;
            }
        }
    }
}

@media screen and (min-device-height: 510px) and (max-width:508px) {
    .main_Earth2 .main-movements{
        margin-top: 110px;
    }
}
@media screen and (min-device-height: 510px) and (max-width:390px) {
    .overflow{
        top: 65%;
    } 
}

@media screen and (max-width:500px){
    .lists{
        padding: 10px;
    }

    .lists ul{
        padding: 20px;
    }
}

@media screen and (max-width:469px){
    .tables{
        & h2{
            font-size: 4.2vw;
            text-align: center;
        }
    }

    .listx li{
        font-size: 3vw;
    }
    .magic{
        font-size: 1.5rem !important;
    }
    .list{
        text-align: left;
    }

    .main_Earth2 .main-movements{
        & .list2 li{
            font-size: 14px;
        }
    }

}

@media screen and (max-width:435px){
    .main-text .title p{
        width: 100%;
    }
}
@media screen and (max-width:430px){
    .magic{
        font-size: 6.2vw !important;
    }
    .p-planets{
        text-align: justify;
    }
}
// @media screen and (max-width:402px){
//     .magic{
//         font-size: 1.3rem;
//     }
// }

@media  screen and (max-width:395px) {
    .main-text{
        margin-top: 20px;
    }

    .p-planets{
        font-size: 13px;
    }
}

@media  screen and (max-width:390px) {
    .main-text{
        margin-top: 15px;
        & .title p{
            font-size: 12px;
        }
    }
    .main_Earth2 .main-movements{
        & .list2{
            & li{
                font-size: 12px;
            }
        }
    }
    
    .body_Index .main_index .main-text .title{
        & .cont-appear h1{
           font-size: 5.8vw;
        }

        p{
            font-size: 3.5vw;
        }
        
    }
    .overflow{
        height: 100vh;
        border-radius: 5px;
    }
    .overflow2{
        height: 70vh;
        box-shadow: 1px 2px 1px 0px rgba(148, 114, 4, 0.699);
        border-radius: 5px;
    }
    .overflow::-webkit-scrollbar,.overflow2::-webkit-scrollbar{
        display: none;
    }

}

@media screen and (max-width:368px){
    .title .cont-appear h1{
        text-align: center;
    }

    .title .cont-appear{
        animation: none;
    }
    .main-text2-r{
        border-radius: 15px;
        border-top: 2px solid #0c029b;
    }

    .mercury-color{
        border-top: 2px solid rgba(148, 114, 4, 0.699);
    }

    .listInd li{
        font-size: 15px;
    }

    .general-c  p{
        text-align: left !important;
    }
    .br-index-res{
        display: block;
    }
    .main-text .title{
        padding: 0 20px;
    }
}

@media screen and (max-width:350px){
    .lists{
        padding: 5px;
    }

    .lists ul{
        padding: 10px;
    }
}
// @media screen and (max-width:330px){
//     .magic{
//         font-size: 1.1rem;
//     }
// }

// HEIGHT AND BIG WIDTH

@media only screen and (max-width:1023px) and (max-device-height:560px) {
    .second-text-main{
        width: 95%;
    }
}

@media screen and (min-width:1440px) {
    .main-text .title .cont-appear2 h1{
        font-size: 4.5vw;
    }
    .main-text .title p{
        font-size: 1.3vw;
    }

    .aside-flotante{
        width: 35vw;
    }

    .aside-flotante h2{
        font-size: 2vw;
    }
    .list li{
        font-size: 1.5vw;
    }

    .second-text-main p{
        font-size: 1.3vw;
    }
    // .menu--circle{
    //     height: 20vw;
    //     width: 20vw;
    // }

    // .menu__toggle{
    //     height: 15vw;
    //     width: 15vw;
    // }
    
}

