<!DOCTYPE html>
<html lang="en" translate="yes">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Jupiter is the fifth planet from the Sun and the largest in the Solar System. It is a gas giant with a mass more than two and a half times that of all the other planets in the Solar System combined, but slightly less than one-thousandth the mass of the Sun. Jupiter is the third brightest natural object in the Earth's night sky after the Moon and Venus. People have been observing it since prehistoric times; it was named after the Roman god Jupiter, the king of the gods."
    />
    <meta
      name="keywords"
      content="SOLAR SYSTEM,PLANETS,GALAXY,JUPITER PLANET, ROTATION, SUN, STAR, GRAVITY, PLANET ANIMATION, PLANET 3D, MASS, DENSITY"
    />

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="stylesheet" href="../styles/main.css" />
    <script
      src="https://kit.fontawesome.com/53d40d2367.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="shortcut icon"
      href="../images/Icons/favicon-32x32.png"
      type="image/x-icon"
    />

    <title>JUPITER | All About Jupiter Planet</title>
  </head>
  <body class="body_jupiter">
    <!-- button go home -->
    <a href="/" class="btn position-button"
      ><i class="fas fa-home"></i
    ></a>
    <!-- End button go home -->

    <!-- circle menu -->
    <section class="planets-names animation">
      <section class="planets1">
        <div class="firstPlanet">
          <p><a href="./mercurio.html"></a>Mercurio</p>
          <span></span>
        </div>
        <div class="secondPlanet">
          <p><a href="./venus.html"></a>Venus</p>
          <span></span>
        </div>
        <div class="thirdPlanet">
          <p><a href="./tierra.html"></a>Tierra</p>
          <span></span>
        </div>
      </section>
      <section class="planets2">
        <div class="firstPlanet2">
          <p><a href="./marte.html"></a>Marte</p>
          <span></span>
        </div>
        <div class="secondPlanet2">
          <p><a href="./jupiter.html"></a>Jupiter</p>
          <span></span>
        </div>
        <div class="thirdPlanet2">
          <p><a href="./saturno.html"></a>Saturno</p>
          <span></span>
        </div>
      </section>
      <section class="planets3">
        <div class="firstPlanet3">
          <p><a href="./urano.html"></a>Urano</p>
          <span></span>
        </div>
        <div class="secondPlanet3">
          <p><a href="./neptuno.html"></a>Neptuno</p>
          <span></span>
        </div>
        <div class="thirdPlanet3">
          <p><a href="./pluton.html"></a>Plutón</p>
          <span></span>
        </div>
      </section>
    </section>
    <header class="menu menu--circle">
      <input type="checkbox" id="menu__active" />
      <label for="menu__active" class="menu__active">
        <div class="menu__toggle">
          <div class="icon">
            <div class="hamburger"></div>
          </div>
        </div>

        <input type="radio" name="arrow--up" id="degree--up-0" />
        <input type="radio" name="arrow--up" id="degree--up-1" />
        <input type="radio" name="arrow--up" id="degree--up-2" />

        <div class="menu__listings">
          <ul class="circle">
            <li>
              <div class="placeholder">
                <div class="upside">
                  <a href="./venus.html" title="Venus" class="button"
                    ><i class="fa-solid fa-earth-americas"></i
                  ></a>
                </div>
              </div>
            </li>
            <li>
              <div class="placeholder">
                <div class="upside">
                  <a href="./mercurio.html" title="Mercurio" class="button"
                    ><i class="fa-solid fa-earth-africa"></i
                  ></a>
                </div>
              </div>
            </li>
            <li>
              <div class="placeholder">
                <div class="upside">
                  <a href="#">&nbsp</a>
                </div>
              </div>
            </li>
            <li>
              <div class="placeholder">
                <div class="upside">
                  <a href="./pluton.html" title="Pluton" class="button"
                    ><i class="fa-solid fa-earth-africa"></i
                  ></a>
                </div>
              </div>
            </li>
            <li>
              <div class="placeholder">
                <div class="upside">
                  <a href="./neptuno.html" title="Neptuno" class="button"
                    ><i class="fa-solid fa-earth-americas"></i
                  ></a>
                </div>
              </div>
            </li>
            <li>
              <div class="placeholder">
                <div class="upside">
                  <a href="./urano.html" title="Urano" class="button"
                    ><i class="fa-solid fa-earth-oceania"></i
                  ></a>
                </div>
              </div>
            </li>
            <li>
              <div class="placeholder">
                <div class="upside">
                  <a href="./saturno.html" title="Saturno" class="button"
                    ><i class="fa-solid fa-earth-americas"></i
                  ></a>
                </div>
              </div>
            </li>
            <li>
              <div class="placeholder">
                <div class="upside">
                  <a href="./jupiter.html" title="Jupiter" class="button"
                    ><i class="fa-solid fa-earth-africa"></i
                  ></a>
                </div>
              </div>
            </li>
            <li>
              <div class="placeholder">
                <div class="upside">
                  <a href="./marte.html" title="Marte" class="button"
                    ><i class="fa-solid fa-earth-oceania"></i
                  ></a>
                </div>
              </div>
            </li>
            <li>
              <div class="placeholder">
                <div class="upside">
                  <a href="./tierra.html" title="Tierra" class="button"
                    ><i class="fa-solid fa-earth-oceania"></i
                  ></a>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="menu__arrow menu__arrow--top">
          <ul>
            <li>
              <label class="degree--up-0" for="degree--up-0"
                ><div class="arrow"></div
              ></label>
              <label class="degree--up-1" for="degree--up-1"
                ><div class="arrow"></div
              ></label>
              <label class="degree--up-2" for="degree--up-2"
                ><div class="arrow"></div
              ></label>
            </li>
          </ul>
        </div>
      </label>
    </header>
    <!-- End circle menu -->

    <!-- all content text and backgrounds -->
    <main class="main_Container">
      <!-- first main section 100vh -->
      <section class="main_Earth">
        <!-- back appear -->
        <picture class="backAppear backAppearJs"></picture>
        <!-- back linear #000 to transparent 30% -->
        <div class="bgEarth1x"></div>
        <!-- Earth Planet Background animation -->
        <picture class="wrapperJupiter1">
          <div class="bgJupiter1"></div>
        </picture>
        <!-- main-text -->
        <section class="tables">
          <button class="close-tables"><span></span></button>
          <h2>GENERAL CHARACTERISTICS OF JUPITER</h2>
          <ul class="listx">
            <li><b> Distancia media al Sol: </b> 5,205 UA = 7,786x108 km</li>
            <li><b> Máxima distancia al Sol: </b> 5,455 UA =8,157x108 km</li>
            <li><b> Mínima distancia al Sol: </b> 4,951 UA =7,409x108 km</li>
            <li><b> Velocidad orbital media: </b> 13,1 km/s</li>
            <li><b> Periodo sideral: </b> 11,86 años</li>
            <li><b> Periodo de rotación: </b> 9hr 50m 30s ecuatorial</li>
            <li><b> Inclinación del ecuador a la órbita: </b> 3° 04'</li>
            <li><b> Inclinación de la órbita a la eclíptica: </b> 1,30°18'</li>
            <li><b> Excentricidad orbital: </b> 0,0485</li>
            <li>
              <b> Diámetro (ecuatorial): </b> 142,984 km - 133,500 km polar
            </li>
            <li><b> Diámetro (Tierra = 1): </b> 11,19 - 10,47 polar</li>
            <li><b> Diámetro aparente desde la Tierra, Max: </b> 50,1"</li>
            <li><b> Diámetro aparente desde la Tierra, Min: </b> 30,4"</li>
            <li><b> Masa: </b> 1,90x1027 kg</li>
            <li><b> Masa (Tierra=1): </b> 318</li>
            <li><b> Densidad media </b> 1.326 kg/m3</li>
            <li><b> Gravedad en la superficie (Tierra=1) </b> 2,53</li>
            <li><b> Velocidad de escape </b> 59,5 km/s</li>
            <li><b> Achatamiento </b> 0,065</li>
            <li>
              <b> Temperatura media de superficie: </b> arriba de las nubes
              -110°C=-166°F=163K
            </li>
            <li><b> Albedo </b> 0,52</li>
            <li><b> Magnitud de max. brillo: </b> -2,7</li>
            <li><b> Diámetro medio del Sol desde Júpiter </b> 6'09"</li>
          </ul>
        </section>
        <aside class="aside-flotante whitoutBack">
          <h2>GENERAL CHARACTERISTICS</h2>
          <ul class="list">
            <li><b>Category:</b> Rocky Planet</li>
            <li><b>Star:</b> Sun</li>
            <li><b>Distance to its star:</b> 778.330.000 km</li>
            <li><b>Diameter:</b> 142 984 km</li>
            <li><b>Average orbital speed:</b> <br> 13,0697 km/s</li>
            <li><b>Gravity:</b> 24.79 m/s²<sup>2</sup></li>
            <li><b>Density:</b> 1336 kg/m³<sup>2</sup></li>
            <li><b>Mass:</b> 1,899 x 10<sup>27</sup> kg</li>
            <button id="btn-tables" class="btn-aside">See More...</button>
          </ul>
        </aside>
        <section class="main-text overflow">
          <div class="title">
            <div class="cont-appear2"><h1>JUPITER</h1></div>
            <p>
              Jupiter is the largest planet in the solar system and the fifth in order of distance from the Sun.3 It is a gas giant that is part of the so-called outer planets. It gets its name from the Roman god Jupiter (Zeus in Greek mythology). It is one of the brightest natural objects in a clear night sky, second only to the Moon, Venus, and sometimes Mars. 
              It is also the oldest planet in the solar system, being even older than the Sun; This discovery was made by researchers at the University of Münster in Germany.
            </p>
            <p class="second-text-responsive">
              It is the planet that offers the greatest brightness throughout the year depending on its phase. It is also, after the Sun, the largest celestial body in the solar system, with a mass almost two and a half times that of the other planets combined (with a mass 318 times greater than that of Earth and three times greater than that of Saturn). , in addition to being, in terms of volume, 1321 times larger than the Earth).
            </p>
            <button
              class="buttonSeeAndCheck2 buttonResponsive second-text-responsive"
            >
              INSPECT
            </button>
          </div>
        </section>
        <section class="second-text-main">
          <p>
            It is the planet that offers the greatest brightness throughout the year depending on its phase. It is also, after the Sun, the largest celestial body in the solar system, with a mass almost two and a half times that of the other planets combined (with a mass 318 times greater than that of Earth and three times greater than that of Saturn). , in addition to being, in terms of volume, 1321 times larger than the Earth)
          </p>
        </section>
        <!-- end main text -->
      </section>
      <!-- End first main section 100vh -->
      <!-- second main section 100% -->
      <section class="main_Earth2">
        <div class="bgEarth1"></div>
        <div class="main_Earthback whitoutBack">
          <!-- <div class="bgEarth1"></div>
          <div class="bgEarth1x"></div> -->
          <canvas class="webgl jupiterAnimation"> </canvas>
          <div class="main-movements" data-aos="fade-up">
            <h2>Main Movements</h2>
            <ul class="list2">
              <li>
                <b>- Rotation.</b>the rotation speed of the planet is very high (45,300 km/h). A day on Jupiter is only 9 hours 50 minutes.
                This explains the distribution of its clouds parallel to the equator due to the enormous centripetal force.
              </li>
              <li>
                <b>- Translation.</b> For its part, the year on Jupiter is almost 12 Earth years
              </li>
            </ul>
          </div>

          <div class="list-general list-general-none">
            <h2>GENERAL CHARACTERISTICS</h2>
            <ul class="list2">
              <li><b>Category:</b> Rocky Planet</li>
              <li><b>Star:</b> Sun</li>
              <li><b>Distance to its star:</b> 778.330.000 km</li>
              <li><b>Diameter:</b> 142 984 km</li>
              <li><b>Average orbital speed:</b> 13,0697 km/s</li>
              <li><b>Gravity:</b> 24.79 m/s²<sup>2</sup></li>
              <li><b>Density:</b> 1336 kg/m³<sup>2</sup></li>
              <li><b>Mass:</b> 1,899 x 10<sup>27</sup> kg</li>
              <button id="btn-tables-res" class="btn-aside">See More...</button>
            </ul>
          </div>

          <div class="list-general" data-aos="fade-up">
            <h2>Most Abundant Elements on its atmosphere And Inside</h2>
            <ul class="list2">
              <li>Hydrogen <b>(80%)</b></li>
              <li>helium </li>
              <li>methane </li>
              <li>ammonia </li>
              <li>ethane </li>
              <li>extremely dense core of iron and nickel</li>
              <li>perhaps surrounded by a layer of hydrogen liquid metallic</li>
            </ul>
          </div>
        </div>
        <div class="lists">
          <h2>
            GENERAL FEATURES OF JUPITER 
          </h2>
          <ul>
            <div data-aos="fade-right">
              <li>
                - <b> Jupiter's Atmosphere</b> <br /><br />
                <ul>
                  <li>
                    Jupiter's atmosphere does not present a clear boundary with the planet's liquid interior; the transition occurs gradually. It is composed mostly of hydrogen (87%) and helium (13%), as well as containing methane, water vapor, ammonia, and hydrogen sulfide, all of which make up < 0.1% of the composition of the total atmosphere.
                  </li>
                </ul>
              </li>
            </div>
            <div data-aos="fade-right">
              <li>
                - <b>Internal structure of Jupiter</b><br /><br />
                <ul>
                  <li>
                    Inside the planet, hydrogen, helium and argon (noble gas that accumulates on the surface of Jupiter) are progressively compressed. Molecular hydrogen is compressed in such a way that it transforms into a metallic liquid at depths of about 15,000 km below the surface. Further down there is assumed to be a rocky core consisting mainly of icy and denser materials, of about seven Earth masses (although a recent model increases the mass of the central core of this planet to between 14 and 18 Earth masses, and other authors think that there may be no such nucleus, as well as the possibility that the nucleus was originally larger, but that convective currents of hot metallic hydrogen would have caused it to lose mass).
                  </li>
                  <li>
                    The existence of the different layers is determined by the study of the gravitational potential of the planet, measured by the different space probes. If the inner core existed, it would prove the theory of planet formation from a disk of planetesimals. Jupiter is so massive that it has not yet released the heat accumulated in its formation, and therefore has a significant internal source of heat energy that has been precisely measured to be 5.4 W/m². This means that the interior of the planet is effectively mixed at least to levels close to clouds of water at 5 bar.
                  </li>
                </ul>
              </li>
            </div>
            <div data-aos="fade-right">
              <li>
                - <b> Magnetosphere</b><br /><br />
                <ul>
                  <li>
                    Jupiter has an extensive magnetosphere made up of a very strong magnetic field. Jupiter's magnetic field could be seen from Earth to occupy a space equivalent to that of the full Moon despite being much further away. Jupiter's magnetic field is in fact the largest structure in the solar system after the Sun's magnetic field. Charged particles are picked up by the Jovian magnetic field and carried to the polar regions where they produce impressive auroras. On the other hand, the particles ejected by the volcanoes of the satellite Io form a rotating toroid in which the magnetic field traps additional material that is conducted through the field lines on the upper atmosphere of the planet.
                  </li>
                  <li>
                    The origin of the magnetosphere is thought to be due to the fact that in the deep interior of Jupiter, hydrogen behaves like a metal due to the very high pressure. Metals are, of course, excellent conductors of electrons, and the planet's rotation produces currents, which in turn produce a large magnetic field.
                    
                  </li>
                  <li>
                    The Pioneer probes confirmed the existence of the Jovian magnetic field and its intensity, being more than 10 times higher than the Earth's, containing more than 20,000 times the energy associated with the Earth's field. The Pioneers found that the shock wave from the Jovian magnetosphere extends 26 million kilometers from the planet, with the magnetic tail extending beyond the orbit of Saturn.
                  </li>
                </ul>
              </li>
            </div>
            <div data-aos="fade-right">
              <li>
                - <b> Satellites (Galilean satellites)</b><br /><br />
                <ul>
                  <li>
                    The main satellites of Jupiter were discovered by Galileo Galilei on January 7, 1610, which is why they are called Galilean satellites. They get their names from Greek mythology, although in Galileo's time they were called by Roman numerals depending on their order of proximity to the planet. Originally, Galileo named the satellites "Mediceans", in honor of Cosme de' Medici, Duke of Florence. The discovery of these satellites constituted a turning point in the already long dispute between those who supported the idea of a geocentric system, that is, with the Earth at the center of the universe, and the Copernican (or heliocentric system, that is, with the Sun at the center of the solar system), in which it was much easier to explain the movement and the very existence of the natural satellites of Jupiter.
                  </li>
                  <li>
                    The four main satellites are very different from each other. Io, the innermost, is a volcanic world with a constantly renewing surface and heated by tidal effects caused by Jupiter and Europa. Europa, the next satellite, is an icy world under which it is speculated the presence of liquid oceans of water and even the presence of life. Ganymede, with a diameter of 5,268 km, is the largest satellite in the entire solar system. It is composed of an iron core covered by a rocky and ice mantle. Callisto is characterized by being the body that has the largest number of craters produced by impacts in the entire solar system.
                  </li>
                </ul>
              </li>
            </div>
          </ul>
        </div>

        <a href="./saturno.html" class="btn next">NEXT PLANET</a>
        <!-- Footer -->
        <footer class="footer-Earth">
          <div class="wrapper">
            <a
              href="mailto:stivendiazh@gmail.com"
              target="__BLANK"
              class="iconsocial email"
            >
              <div class="tooltip">Email</div>
              <span><i class="fa-solid fa-envelope"></i></span>
            </a>
            <a
              href="https://www.linkedin.com/in/stiven-diaz-3892aa224"
              target="__BLANK"
              class="iconsocial linkdein"
            >
              <div class="tooltip" translate="no">linkdein</div>
              <span><i class="fab fa-linkedin"></i></span>
            </a>
            <a
              href="https://instagram.com/stiven_dz"
              target="__BLANK"
              class="iconsocial instagram"
            >
              <div class="tooltip">Instagram</div>
              <span><i class="fab fa-instagram"></i></span>
            </a>
            <a
              href="https://github.com/StivenDz"
              target="__BLANK"
              class="iconsocial github"
            >
              <div class="tooltip">Github</div>
              <span><i class="fab fa-github"></i></span>
            </a>
          </div>
          <p>&copy; Stiven Diaz | CoderHouse</p>
        </footer>
        <!-- End Footer -->
      </section>
      <!--End second main section 100% -->
    </main>
    <!-- End all content text and backgrounds -->
    <script src="../animation/three.min.js"></script>
    <script src="../animation/stars.js"></script>
    <script src="../animation/nav-index.js"></script>
    <script type="module" src="../animation/jupiter.js"></script>
    <script src="../animation/tables.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
