<!DOCTYPE html>
<html lang="en" translate="yes">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mars is the fourth planet from the Sun and the second-smallest planet in the Solar System, being larger than only Mercury. In English, Mars carries the name of the Roman god of war and is often called the 'Red Planet'. The latter refers to the effect of the iron oxide prevalent on Mars's surface, which gives it a striking reddish appearance in the sky. Mars is a terrestrial planet with a thin atmosphere, with surface features such as impact craters, valleys, dunes, and polar ice caps.">
    <meta name="keywords" content="SOLAR SYSTEM,PLANETS,GALAXY,MARS PLANET, ROTATION, SUN, STAR, GRAVITY, PLANET ANIMATION, PLANET 3D, MASS, DENSITY">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="stylesheet" href="../styles/main.css" />
    <script
      src="https://kit.fontawesome.com/53d40d2367.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="shortcut icon"
      href="../images/Icons/favicon-32x32.png"
      type="image/x-icon"
    />
    
    <title>MARS | All About Mars Planet</title>
</head>
<body class="body_mars">
  <!-- button go home -->
  <a href="/" class="btn position-button"><i class="fas fa-home"></i></a>
  <!-- End button go home -->

  <!-- circle menu -->
  <section class="planets-names animation">
    <section class="planets1">
      <div class="firstPlanet">
        <p><a href="./mercurio.html"></a>Mercurio</p>
        <span></span>
      </div>
      <div class="secondPlanet">
        <p><a href="./venus.html"></a>Venus</p>
        <span></span>
      </div>
      <div class="thirdPlanet">
        <p><a href="./tierra.html"></a>Tierra</p>
        <span></span>
      </div>
    </section>
    <section class="planets2">
      <div class="firstPlanet2">
        <p><a href="./marte.html"></a>Marte</p>
        <span></span>
      </div>
      <div class="secondPlanet2">
        <p><a href="./jupiter.html"></a>Jupiter</p>
        <span></span>
      </div>
      <div class="thirdPlanet2">
        <p><a href="./saturno.html"></a>Saturno</p>
        <span></span>
      </div>
    </section>
    <section class="planets3">
      <div class="firstPlanet3">
        <p><a href="./urano.html"></a>Urano</p>
        <span></span>
      </div>
      <div class="secondPlanet3">
        <p><a href="./neptuno.html"></a>Neptuno</p>
        <span></span>
      </div>
      <div class="thirdPlanet3">
        <p><a href="./pluton.html"></a>Plutón</p>
        <span></span>
      </div>
    </section>
  </section>
  <header class="menu menu--circle">
    <input type="checkbox" id="menu__active" />
    <label for="menu__active" class="menu__active">
      <div class="menu__toggle">
        <div class="icon">
          <div class="hamburger"></div>
        </div>
      </div>

      <input type="radio" name="arrow--up" id="degree--up-0" />
      <input type="radio" name="arrow--up" id="degree--up-1" />
      <input type="radio" name="arrow--up" id="degree--up-2" />

      <div class="menu__listings">
        <ul class="circle">
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./venus.html" title="Venus" class="button"
                  ><i class="fa-solid fa-earth-americas"></i
                ></a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./mercurio.html" title="Mercurio" class="button"
                  ><i class="fa-solid fa-earth-africa"></i
                ></a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="#">&nbsp</a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./pluton.html" title="Pluton" class="button"
                  ><i class="fa-solid fa-earth-africa"></i
                ></a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./neptuno.html" title="Neptuno" class="button"
                  ><i class="fa-solid fa-earth-americas"></i
                ></a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./urano.html" title="Urano" class="button"
                  ><i class="fa-solid fa-earth-oceania"></i
                ></a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./saturno.html" title="Saturno" class="button"
                  ><i class="fa-solid fa-earth-americas"></i
                ></a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./jupiter.html" title="Jupiter" class="button"
                  ><i class="fa-solid fa-earth-africa"></i
                ></a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./marte.html" title="Marte" class="button"
                  ><i class="fa-solid fa-earth-oceania"></i
                ></a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./tierra.html" title="Tierra" class="button"
                  ><i class="fa-solid fa-earth-oceania"></i
                ></a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="menu__arrow menu__arrow--top">
        <ul>
          <li>
            <label class="degree--up-0" for="degree--up-0"
              ><div class="arrow"></div
            ></label>
            <label class="degree--up-1" for="degree--up-1"
              ><div class="arrow"></div
            ></label>
            <label class="degree--up-2" for="degree--up-2"
              ><div class="arrow"></div
            ></label>
          </li>
        </ul>
      </div>
    </label>
  </header>
  <!-- End circle menu -->

  <!-- all content text and backgrounds -->
  <main class="main_Container">
    <!-- first main section 100vh -->
    <section class="main_Earth">
      <!-- back appear -->
      <picture class="backAppear"></picture>
      <!-- back linear #000 to transparent 30% -->
      <div class="bgEarth1x"></div>
      <!-- Earth Planet Background animation -->
      <picture class="wrapperMarte1">
        <div class="bgMarte1"></div>
      </picture>
      <!-- main-text -->
      <section class="tables">
        <button class="close-tables"><span></span></button>
        <h2>GENERAL CHARACTERISTICS OF MARS</h2>
        <ul class="listx">
          <li><b> Distancia media al Sol: </b> 1,524 UA = 2,279x108 km</li>
          <li><b> Máxima distancia al Sol: </b> 1,666 UA =2,491x108 km</li>
          <li><b> Mínima distancia al Sol: </b> 1,382 UA =2,067x108 km</li>
          <li><b> Velocidad orbital media: </b> 24,1 km/s</li>
          <li><b> Periodo sideral: </b> 686,98 dias 1,88 años</li>
          <li><b> Periodo de rotación: </b> 24hr 37m 23s</li>
          <li><b> Inclinación del ecuador a la órbita: </b> 25° 11'</li>
          <li><b> Inclinación de la órbita a la eclíptica: </b> 1°50'59"</li>
          <li><b> Excentricidad orbital: </b> 0,0934</li>
          <li><b> Diámetro (ecuatorial): </b> 6.794 km</li>
          <li><b> Diámetro (Tierra = 1): </b> 0,532</li>
          <li><b> Diámetro aparente desde la Tierra, Max: </b> 25,7"</li>
          <li><b> Diámetro aparente desde la Tierra, Min: </b> 3,5"</li>
          <li><b> Masa: </b> 6,42x1023 kg</li>
          <li><b> Masa (Tierra=1): </b> 0,107</li>
          <li><b> Densidad media </b> 3.933 kg/m3</li>
          <li><b> Gravedad en la superficie (Tierra=1) </b> 0,380</li>
          <li><b> Velocidad de escape </b> 5,0 km/s</li>
          <li><b> Achatamiento </b> 0,006</li>
          <li><b> Temperatura de superficie, max: </b> 20°C=68°F=293K</li>
          <li><b> Temperatura de superficie, min: </b> -140°C=-220°F=133K</li>
          <li><b> Albedo </b> 0,15</li>
          <li><b> Magnitud de max. brillo: </b> -2,0</li>
          <li><b> Diámetro medio del Sol desde Marte </b> 21'</li>
        </ul>
      </section>
      <aside class="aside-flotante whitoutBack">
        <h2>GENERAL CHARACTERISTICS</h2>
        <ul class="list">
          <li><b>Category:</b> Rocky Planet</li>
          <li><b>Star:</b> Sun</li>
          <li><b>Distance to its star:</b> 	227.940.000 kilómetros</li>
          <li><b>Diameter:</b> 6794,4 km</li>
          <li><b>Average orbital speed:</b> 24,077 km/s</li>
          <li><b>Gravity:</b> 	3,72076 m/s²</li>
          <li><b>Density:</b> 3,9335 ± 0,0004 g/cm³</li>
          <li><b>Mass:</b>  6,4185 x 10<sup>23</sup></li>
          <button id="btn-tables" class="btn-aside">See More...</button>
        </ul>
      </aside>
      <section class="main-text overflow">
        <div class="title">
          <div class="cont-appear2"><h1>Mars</h1></div>
          <p>
            Mars is the fourth planet in order of distance from the Sun and the second smallest in the solar system, after Mercury. <br> It received its name in homage to the god of war in Roman mythology (Ares in Greek mythology), and is also known as "the red planet" due to the reddish appearance5 given by the predominant iron oxide. on its surface. Mars is the inner planet farthest from the Sun.
          </p>
          <p class="second-text-responsive">
            It is a telluric planet with a thin carbon dioxide atmosphere, and has two small, irregularly shaped satellites, Phobos and Deimos (sons of the Greek god), which could be captured asteroids similar to the Trojan asteroid (5261) Eureka. Its surface features are reminiscent of both the craters on the Moon and the valleys, deserts, and ice caps on Earth.
          </p>
        </div>
      </section>
      <section class="second-text-main">
        <p>
          It is a telluric planet with a thin carbon dioxide atmosphere, and has two small, irregularly shaped satellites, Phobos and Deimos (sons of the Greek god), which could be captured asteroids similar to the Trojan asteroid (5261) Eureka. Its surface features are reminiscent of both the craters on the Moon and the valleys, deserts, and ice caps on Earth.
        </p>
      </section>
      <!-- end main text -->
    </section>
    <!-- End first main section 100vh -->
    <!-- second main section 100% -->
    <section class="main_Earth2">
      <div class="bgEarth1"></div>
      <div class="main_Marsback">
        <div class="bgEarth1"></div>
        <div class="bgEarth1x"></div>
        <div class="main-movements" data-aos="fade-up">
          <h2>Main Movements</h2>
          <ul class="list2">
            <li>
              <b>- Rotation.</b> The average distance between Mars and the Sun is approximately 230 million km, and its orbital period is 687 Earth days. Mars' solar day is only slightly longer than Earth's: 24 hours, 39 minutes, and 35.244 seconds. One year on Mars is equal to 1.8809 Earth years, or 1 year, 320 days, and 18.2 hours.
            </li>
            <li>
              <b>- Orbit.</b> Mars' axial tilt is 25.19° relative to its orbital plane, similar to Earth's axial tilt. Consequently, Mars has seasons like Earth's, though they are almost twice as long there because its orbital period is much greater. At present, the orientation of the Martian north pole is similar to that of the star Deneb.
            </li>
            <li>
              <b>- Translation.</b> The Martian year lasts 1 year, 321 days and 7 Earth hours, or 668.6 Martian days.
            </li>
          </ul>
        </div>

        <div class="list-general list-general-none">
          <h2>GENERAL CHARACTERISTICS</h2>
          <ul class="list2">
            <li><b>Category:</b> Rocky Planet</li>
            <li><b>Star:</b> Sun</li>
            <li><b>Distance to its star:</b> 	227.940.000 kilómetros</li>
            <li><b>Diameter:</b> 6794,4 km</li>
            <li><b>Average orbital speed:</b> 24,077 km/s</li>
            <li><b>Gravity:</b> 	3,72076 m/s²</li>
            <li><b>Density:</b> 3,9335 ± 0,0004 g/cm³</li>
            <li><b>Mass:</b>  6,4185 x 10<sup>23</sup></li>
            <button id="btn-tables-res" class="btn-aside">See More...</button>
          </ul>
        </div>

        <div class="list-general" data-aos="fade-up">
          <h2>Most Abundant Elements on its atmosphere</h2>
          <ul class="list2">
            <li>carbon dioxide <b>(95,3%)</b></li>
            <li>nitrogen <b>(2,7%)</b></li>
            <li>argon <b>(1,6%)</b></li>
            <li>trace molecular oxygen <b>(0,15%)</b></li>
            <li>monóxido de carbono <b>(0,07%)</b></li>
            <li>water steam <b>(0,03%)</b></li>
          </ul>
        </div>
      </div>
      <div class="lists">
        <h2>
          GENERAL FEATURES OF MARS
        </h2>
        <ul>
          <div data-aos="fade-right">
            <li>
              - <b> Mars's Atmosphere</b><br /><br />
              <ul>
                <li>
                  The atmosphere of Mars is very thin, with a surface pressure of only 7 to 9 hPa compared to 1013 hPa for Earth's atmosphere. This represents one hundredth of the earth's. Atmospheric pressure varies considerably with altitude, from nearly 9 hPa in the deepest depressions to 1 hPa at the top of Mount Olympus. Recent discoveries regarding Martian exploration allow us to conclude that the data on atmospheric pressure must be revised. Specifically because with such atmospheric pressure data it would be unfeasible to use large parachutes to land the modules sent to Mars.
                </li>
                <li>
                  The atmosphere is dense enough to support very strong winds and large dust storms that can sometimes cover the entire planet for months. This wind is responsible for the existence of sand dunes in the Martian deserts. Clouds can come in three colors: white, yellow and blue. White clouds are condensed water vapor or carbon dioxide at polar latitudes. The yellow ones, of a hairy nature, are the result of dust storms and are made up of particles of size around 1 micron. The Martian sky canopy is a soft salmon-pink color due to light scattering by very fine dust grains from the ferruginous soil.
                </li>
              </ul>
            </li>
          </div>
          <div data-aos="fade-right">
            <li>
              - <b> Mars's Geology</b><br /><br />
              <ul>
                <li>
                  Mars is a rocky planet made up of minerals that contain silicon, oxygen, metals, and other elements that normally make up rocks. The surface of Mars is mainly composed of tholeiitic basalt with a high content of iron oxides that provide the characteristic red color of its surface. By its nature it resembles limonite, highly hydrated iron oxide. Just as silicates and aluminates predominate in the crusts of the Earth and the Moon, ferrosilicates predominate in the soil of Mars. Its three main constituents are, in order of abundance, oxygen, silicon and iron. Contains: 20.8% silica, 13.5% iron, 5% aluminum, 3.8% calcium, as well as titanium and other minor components. Some areas are richer in silica than basalt and may be similar to andesite rocks on Earth or silica glass. In parts of the southern mountainous areas there are detectable amounts of high-calcium pyroxenes. Localized concentrations of hematite and olivine have also been detected <br><br>
                  Most of its surface is deeply covered with fine-grained iron(III) oxide dust.
                </li>
                <li>
                  Mars is a planet noticeably smaller than Earth. Its main characteristics, in proportion to those of the terrestrial globe, are the following: diameter 53%, surface area 28%, mass 11%. Since the oceans cover about 70% of the Earth's surface and Mars does not have them, both planets have approximately the same amount of walkable surface.
                </li>
              </ul>
            </li>
          </div>
          <div data-aos="fade-right">
            <li>
              - <b> Mars's Floor</b><br /><br />
              <ul>
                <li>
                  The Phoenix probe provided data that the Martian soil is slightly alkaline and contains elements such as magnesium, sodium, potassium and chlorine. These nutrients are found in terrestrial soils, and are necessary for plant growth. Experiments conducted by the spacecraft showed that Martian soil has a basic pH of 7.7 and contains 0.6% salts of perchlorate.
                </li>
                <li>
                  Striae are common across Mars, and new streaks often appear on steep crater slopes, in depressions, and in valleys. These stripes are initially dark and gradually become lighter over time. They can start in a tiny area and then spread hundreds of meters. They have been observed skirting boulders and other obstacles in their path. Commonly accepted theories suggest that they are dark layers of the subsurface exposed by avalanches of dust clouds or dust devils. Several other explanations have been proposed, including those concerning water or even the development of organisms.
                </li>
              </ul>
            </li>
          </div>
        </ul>
      </div>

      <a href="./jupiter.html" class="btn next">NEXT PLANET</a>
      <!-- Footer -->
      <footer class="footer-Earth">
        <div class="wrapper">
          <a
            href="mailto:stivendiazh@gmail.com"
            target="__BLANK"
            class="iconsocial email"
          >
            <div class="tooltip">Email</div>
            <span><i class="fa-solid fa-envelope"></i></span>
          </a>
          <a
            href="https://www.linkedin.com/in/stiven-diaz-3892aa224"
            target="__BLANK"
            class="iconsocial linkdein"
          >
            <div class="tooltip" translate="no">linkdein</div>
            <span><i class="fab fa-linkedin"></i></span>
          </a>
          <a
            href="https://instagram.com/stiven_dz"
            target="__BLANK"
            class="iconsocial instagram"
          >
            <div class="tooltip">Instagram</div>
            <span><i class="fab fa-instagram"></i></span>
          </a>
          <a
            href="https://github.com/StivenDz"
            target="__BLANK"
            class="iconsocial github"
          >
            <div class="tooltip">Github</div>
            <span><i class="fab fa-github"></i></span>
          </a>
        </div>
        <p>&copy; Stiven Diaz | CoderHouse</p>
      </footer>
      <!-- End Footer -->
    </section>
    <!--End second main section 100% -->
  </main>
  <!-- End all content text and backgrounds -->
  <script src="../animation/three.min.js"></script>
  <script src="../animation/stars.js"></script>
  <script src="../animation/nav-index.js"></script>
  <script src="../animation/tables.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>
</html>