<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mars is the fourth planet from the Sun and the second-smallest planet in the Solar System, being larger than only Mercury. In English, Mars carries the name of the Roman god of war and is often called the 'Red Planet'. The latter refers to the effect of the iron oxide prevalent on Mars's surface, which gives it a striking reddish appearance in the sky. Mars is a terrestrial planet with a thin atmosphere, with surface features such as impact craters, valleys, dunes, and polar ice caps.">
    <meta name="keywords" content="SOLAR SYSTEM,PLANETS,GALAXY,MARS PLANET, ROTATION, SUN, STAR, GRAVITY, PLANET ANIMATION, PLANET 3D, MASS, DENSITY">

    <link rel="stylesheet" href="../styles/main.css">
    <script src="https://kit.fontawesome.com/53d40d2367.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="../images/Icons/favicon-32x32.png" type="image/x-icon">
    
    <title>MARS | All About Mars Planet</title>
</head>
<body class="body_mars">
  <!-- button go home -->
  <a href="/SOLAR-SYS" class="btn position-button"><i class="fas fa-home"></i></a>
  <!-- End button go home -->

  <!-- circle menu -->
  <section class="planets-names animation">
    <section class="planets1">
      <div class="firstPlanet">
        <p><a href="./mercurio.html"></a>Mercurio</p><span></span>
      </div>
      <div class="secondPlanet">
        <p><a href="./venus.html"></a>Venus</p><span></span>
      </div>
      <div class="thirdPlanet">
        <p><a href="./tierra.html"></a>Tierra</p><span></span>
      </div>
    </section>
    <section class="planets2">
      <div class="firstPlanet2">
        <p><a href="./marte.html"></a>Marte</p><span></span>
      </div>
      <div class="secondPlanet2">
        <p><a href="./jupiter.html"></a>Jupiter</p><span></span>
      </div>
      <div class="thirdPlanet2">
        <p><a href="./saturno.html"></a>Saturno</p><span></span>
      </div>
    </section>
    <section class="planets3">
      <div class="firstPlanet3">
        <p><a href="./urano.html"></a>Urano</p><span></span>
      </div>
      <div class="secondPlanet3">
        <p><a href="./neptuno.html"></a>Neptuno</p><span></span>
      </div>
      <div class="thirdPlanet3">
        <p><a href="./pluton.html"></a>Plutón</p><span></span>
      </div>
    </section>
  </section>
  <header class="menu menu--circle">
    <input type="checkbox" id="menu__active" />
    <label for="menu__active" class="menu__active">
      <div class="menu__toggle">
        <div class="icon">
          <div class="hamburger"></div>
        </div>
      </div>

      <input type="radio" name="arrow--up" id="degree--up-0" />
      <input type="radio" name="arrow--up" id="degree--up-1" />
      <input type="radio" name="arrow--up" id="degree--up-2" />

      <div class="menu__listings">
        <ul class="circle">
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./venus.html" title="Venus" class="button"><i class="fa-solid fa-earth-americas"></i></a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./mercurio.html" title="Mercurio" class="button"><i class="fa-solid fa-earth-africa"></i></a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="#">&nbsp</a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./pluton.html" title="Pluton" class="button"><i class="fa-solid fa-earth-africa"></i></a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./neptuno.html" title="Neptuno" class="button"><i class="fa-solid fa-earth-americas"></i></a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./urano.html" title="Urano" class="button"><i class="fa-solid fa-earth-oceania"></i></a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./saturno.html" title="Saturno" class="button"><i class="fa-solid fa-earth-americas"></i></a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./jupiter.html"title="Jupiter" class="button"><i class="fa-solid fa-earth-africa"></i></a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./marte.html" title="Marte" class="button"><i class="fa-solid fa-earth-oceania"></i></a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./tierra.html" title="Tierra" class="button"><i class="fa-solid fa-earth-oceania"></i></a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="menu__arrow menu__arrow--top">
        <ul>
          <li>
            <label class="degree--up-0" for="degree--up-0"><div class="arrow"></div></label>
            <label class="degree--up-1"for="degree--up-1"><div class="arrow"></div></label>
            <label class="degree--up-2" for="degree--up-2"><div class="arrow"></div></label>
          </li>
        </ul>
      </div>
    </label>
  </header>
  <!-- End circle menu -->

  <!-- all content text and backgrounds -->
  <main class="main_Container">
    <!-- first main section 100vh -->
    <section class="main_Earth">
      <!-- back appear -->
      <picture class="backAppear"></picture>
      <!-- Earth Planet Background Image -->
      <picture class="wrapperMarte1">
        <div class="bgMarte1">
        </div>
      </picture>
      <!-- main-text -->
      <aside class="aside-flotante colorM3">
        <h2> GENERAL CHARACTERISTICS</h2>
        <ul class="list">
          <li><b>Category:</b> Rocky Planet</li>
          <li><b>Star:</b> Sun</li>
          <li><b>Distance to its star:</b> 149,598,262 km (1 AU)</li>
          <li><b>Diameter:</b> 12,756 km</li>
          <li><b>Average orbital speed:</b> 29.8 km/s</li>
          <li><b>Gravity:</b> 9.8m/s2</li>
          <li><b>Density:</b> 5,513 Kg/m3</li>
          <li><b>Mass:</b> 5.97x10^24 Kg</li>
        </ul>
      </aside>
      <section class="main-text overflow2">
        <div class="title">
          <div class="cont-appear2"><h1 data-text="The Earth">Mars</h1></div>
            <p>Planet Earth is the third planet orbiting the Sun <b>(star of type G2V, who is in his youth according to stellar evolution)</b>, is a metallic terrestrial planet, classified in this category along with <b>Mercury, Venus and Mars</b> due to the composition of their nuclei.<br> The planet Earth is characterized by being the densest in the entire Solar System, by having the most intense magnetic field and the highest surface gravity of the rocky planets, since it has the highest rotation speed.</p>
            <p class="second-text-responsive">Planet Earth does not have rings. It has a natural satellite called "Selene" or more popularly known as Luna, it orbits only 384,400 km away from the surface, it is the fourth largest natural satellite in the Solar System. This contributes to the stabilization of the tilt of the Earth, as well as tidal changes.</p>
          </div>
      </section>
      <section class="second-text-main">
        <p>Planet Earth does not have rings. It has a natural satellite called "Selene" or more popularly known as Luna, it orbits only 384,400 km away from the surface, it is the fourth largest natural satellite in the Solar System. This contributes to the stabilization of the tilt of the Earth, as well as tidal changes.</p>
      </section>
    </section>
    <!-- end firt main section 100vh -->
    
    <!-- second main section 150vh -->
    <section class="main_Earth2 background">
      <picture class="wrapperMarte2">
        <div class="bgMarte2">
        </div>
      </picture>
      
      <section class="main-text2-nr remove">
        <div class="colorS1">
          <h2>Most Abundant Elements</h2>
           <ul class="list">
             <li>- iron <b>(32.1%)</b></li>
             <li>- oxygen <b>(30.1%)</b></li>
             <li>- silicon <b>(15.1%)</b></li>
             <li>- magnesium <b>(13.9%)</b></li>
             <li>- sulfur <b>(2.9%)</b></li>
             <li>- nickel <b>(1.8%)</b></li>
             <li>- calcium <b>(1.5%)</b></li>
             <li>- aluminum <b>(1.4%)</b></li>
           </ul>
           <p>leaving 1.2% for the rest of the elements.</p>
        </div>
        <div>
          <h2>Main Movements</h2>
          <ul class="list2">
            <li><b>Rotation.</b> A rotating movement on its own axis, which intermittently exposes its surface to the sun and is the cause of days and nights.9</li>
            <li><b>Translation.</b> This is the displacement of the planet along its solar orbit, describing more or less an ellipse as a path. Every time we celebrate a year, it marks one more revolution of the planet around the Sun</li>
          </ul>
        </div>
        <div class="lists colorM2">
          <h2>Planet Earth is made up of concentric layers of matter that extend toward the core from the surface. These layers are:</h2>
          <ul>
            <li>
              lithosphere. It extends from the surface (0 kilometers deep) to about 60 kilometers inwards, being the least dense layer of all and the only one that we can visit with concrete physical means. That's where the tectonic plates are, for example. The lithosphere is further divided into two distinct layers.
              <ul>
                <li>Cortex. It goes from 0 to 35 kilometers deep, being the layer where life is located, consisting mainly of solid silicates.</li>
                <li>Upper mantle. It ranges from 35 to 60 kilometers deep, and is composed mostly of peridotite rocks, extremely basic, from which the basalts could come.</li>
              </ul>
            </li>
            <li>
              Earth's mantle. The mantle of the Earth goes from 35 kilometers deep, to 2890, that is, to the outer part of the core. It is the widest layer of the internal structure of the Earth, rich in silicates, magnesium and iron, all in a semi-solid state and of variable viscosity. Within the mantle is the inner mantle and also the asthenosphere.
              <ul>
                <li>Asthenosphere. A low-viscosity layer that comprises the upper part of the Earth's mantle, made up of silicate materials in a solid state and semi-molten or partially molten, depending on its proximity to the boiling magma. The tectonic plates move above the asthenosphere. This layer goes from 100 to 700 kilometers deep.</li>
              </ul>
            </li>
            <li>
              Nucleus. The terrestrial core is the "heart" of the planet, and is composed mostly of ferromagnetic metals (iron and nickel), divided into two stages:
              <ul>
                <li>External nucleus. Stretching from 2,890 kilometers to 5,100 kilometers deep, this liquid layer of highly viscous metal rests on the inner core and comprises mostly iron, with traces of lighter elements.</li>
                <li>Inner core. The true center of the Earth is a core of solid metal, which rotates with a slightly higher angular speed than the rest of the planet, and which is responsible for the generation of its magnetosphere. It has a radius of approximately 1,255 kilometers and its composition is believed to be 70% iron and 30% nickel, along with minute portions of other heavy metals such as iridium, lead, and titanium.</li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- responsive section -->
        <section class="main-text2-r mercury-color">
          <section id="first-section">
            <div class="general-c">
              <h2> GENERAL CHARACTERISTICS</h2>
              <ul class="list listInd">
                <li><b>Category:</b> Rocky Planet</li>
                <li><b>Star:</b> Sun</li>
                <li><b>Distance to its star:</b> 149,598,262 km (1 AU)</li>
                <li><b>Diameter:</b> 12,756 km</li>
                <li><b>Average orbital speed:</b> 29.8 km/s</li>
                <li><b>Gravity:</b> 9.8m/s2</li>
                <li><b>Density:</b> 5,513 Kg/m3</li>
                <li><b>Mass:</b> 5.97x10^24 Kg</li>
              </ul>
            </div>
            <a class="btn-sections" href="#second-section"></a>
          </section>
          <section id="second-section">
            <div class="general-c">
              <h2>Most Abundant Elements</h2>
               <ul class="list">
                 <li>- iron <b>(32.1%)</b></li>
                 <li>- oxygen <b>(30.1%)</b></li>
                 <li>- silicon <b>(15.1%)</b></li>
                 <li>- magnesium <b>(13.9%)</b></li>
                 <li>- sulfur <b>(2.9%)</b></li>
                 <li>- nickel <b>(1.8%)</b></li>
                 <li>- calcium <b>(1.5%)</b></li>
                 <li>- aluminum <b>(1.4%)</b></li>
               </ul>
               <p>leaving 1.2% for the rest of the elements.</p>
            </div>
            <a class="btn-sections" href="#third-section"></a>
          </section>
          <section id="third-section">
            <div class="general-c">
              <h2>Main Movements</h2>
              <ul class="list2">
                <li><b>Rotation.</b> A rotating movement on its own axis, which intermittently exposes its surface to the sun and is the cause of days and nights.9</li>
                <li><b>Translation.</b> This is the displacement of the planet along its solar orbit, describing more or less an ellipse as a path. Every time we celebrate a year, it marks one more revolution of the planet around the Sun</li>
              </ul>
            </div>
            <a class="btn-sections" href="#first-section"></a>
          </section>
        </section>
        <!-- end second main resposive section 100vh -->
      </section>
    </section>
    <!-- end second main section 150vh -->

    <a href="./jupiter.html" class="btn next">NEXT PLANET</a>
  </main>
  <!-- End all content text and backgrounds -->

  <!-- Footer -->
  <footer class="footer-Earth">
    <div class="wrapper">
      <a href = "mailto:stivendiazh@gmail.com"target="__BLANK" class="iconsocial email">
          <div class="tooltip">Email</div>
         <span><i class="fa-solid fa-envelope"></i></span>
      </a>
      <a href="https://www.linkedin.com/in/stiven-diaz-3892aa224" target="__BLANK"class="iconsocial linkdein">
         <div class="tooltip" translate="no">linkdein</div>
         <span><i class="fab fa-linkedin"></i></span>
      </a>
      <a href="https://instagram.com/stiven_dz" target="__BLANK" class="iconsocial instagram">
         <div class="tooltip">Instagram</div>
         <span><i class="fab fa-instagram"></i></span>
      </a>
      <a href="https://github.com/StivenDz" target="__BLANK" class="iconsocial github">
         <div class="tooltip">Github</div>
         <span><i class="fab fa-github"></i></span>
      </a>
    </div>
  </footer>
  <!-- End Footer -->
  <script src="../animation/nav.js"></script>
</body>
</html>