<!DOCTYPE html>
<html lang="en" translate="yes">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mercury is the planet in the solar system closest to the Sun and the smallest. It is part of the so-called inner planets and lacks natural satellites like Venus. Very little was known about its surface until the Mariner 10 planetary probe was sent and observations were made with radar and radio telescopes.">
    <meta name="keywords" content="SOLAR SYSTEM,PLANETS,GALAXY,MERCURY PLANET, ROTATION, SUN, STAR, GRAVITY, PLANET ANIMATION, PLANET 3D, MASS, DENSITY">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../styles/main.css">
    <script src="https://kit.fontawesome.com/53d40d2367.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="../images/Icons/favicon-32x32.png" type="image/x-icon">

    <title>MERCURY | All About Mercury Planet</title>
</head>
<body class="body_mercury">
  <!-- button go home -->
  <a href="/SOLAR-SYS" class="btn position-button"><i class="fas fa-home"></i></a>
  <!-- End button go home -->

  <!-- circle menu -->
  <section class="planets-names animation">
    <section class="planets1">
      <div class="firstPlanet">
        <p><a href="./mercurio.html"></a>Mercurio</p><span></span>
      </div>
      <div class="secondPlanet">
        <p><a href="./venus.html"></a>Venus</p><span></span>
      </div>
      <div class="thirdPlanet">
        <p><a href="./tierra.html"></a>Tierra</p><span></span>
      </div>
    </section>
    <section class="planets2">
      <div class="firstPlanet2">
        <p><a href="./marte.html"></a>Marte</p><span></span>
      </div>
      <div class="secondPlanet2">
        <p><a href="./jupiter.html"></a>Jupiter</p><span></span>
      </div>
      <div class="thirdPlanet2">
        <p><a href="./saturno.html"></a>Saturno</p><span></span>
      </div>
    </section>
    <section class="planets3">
      <div class="firstPlanet3">
        <p><a href="./urano.html"></a>Urano</p><span></span>
      </div>
      <div class="secondPlanet3">
        <p><a href="./neptuno.html"></a>Neptuno</p><span></span>
      </div>
      <div class="thirdPlanet3">
        <p><a href="./pluton.html"></a>Plutón</p><span></span>
      </div>
    </section>
  </section>
  <header class="menu menu--circle">
    <input type="checkbox" id="menu__active" />
    <label for="menu__active" class="menu__active">
      <div class="menu__toggle">
        <div class="icon">
          <div class="hamburger"></div>
        </div>
      </div>

      <input type="radio" name="arrow--up" id="degree--up-0" />
      <input type="radio" name="arrow--up" id="degree--up-1" />
      <input type="radio" name="arrow--up" id="degree--up-2" />

      <div class="menu__listings">
        <ul class="circle">
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./venus.html" title="Venus" class="button"><i class="fa-solid fa-earth-americas"></i></a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./mercurio.html" title="Mercurio" class="button"><i class="fa-solid fa-earth-africa"></i></a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="#">&nbsp</a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./pluton.html" title="Pluton" class="button"><i class="fa-solid fa-earth-africa"></i></a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./neptuno.html" title="Neptuno" class="button"><i class="fa-solid fa-earth-americas"></i></a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./urano.html" title="Urano" class="button"><i class="fa-solid fa-earth-oceania"></i></a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./saturno.html" title="Saturno" class="button"><i class="fa-solid fa-earth-americas"></i></a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./jupiter.html"title="Jupiter" class="button"><i class="fa-solid fa-earth-africa"></i></a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./marte.html" title="Marte" class="button"><i class="fa-solid fa-earth-oceania"></i></a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./tierra.html" title="Tierra" class="button"><i class="fa-solid fa-earth-oceania"></i></a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="menu__arrow menu__arrow--top">
        <ul>
          <li>
            <label class="degree--up-0" for="degree--up-0"><div class="arrow"></div></label>
            <label class="degree--up-1"for="degree--up-1"><div class="arrow"></div></label>
            <label class="degree--up-2" for="degree--up-2"><div class="arrow"></div></label>
          </li>
        </ul>
      </div>
    </label>
  </header>
  <!-- End circle menu -->

  <!-- all content text and backgrounds -->
  <main class="main_Container">
    <!-- first main section 100vh -->
    <section class="main_Earth">
      <!-- back appear -->
      <picture class="backAppear backAppearJs"></picture>
      <!-- back linear #000 to transparent 30% -->
      <div class="bgEarth1x"></div>
      <!-- Earth Planet Background animation -->
      <div class="earth-Animation">
        <button class="close"><span></span></button>
        <canvas class="webgl">
        </canvas>
      </div>
      <!-- main-text -->
      <aside class="aside-flotante whitoutBack">
        <h2> GENERAL CHARACTERISTICS</h2>
        <ul class="list">
          <li><b>Category:</b> Rocky Planet</li>
          <li><b>Star:</b> Sun</li>
          <li><b>Distance to its star:</b> 57,909,227 km</li>
          <li><b>Diameter:</b> 4,879.4 km</li>
          <li><b>Average orbital speed:</b> 47.36194 km/s</li>
          <li><b>Gravity:</b> 3.7 m/s²</li>
          <li><b>Density:</b> 	5,43 g/cm³</li>
          <li><b>Mass:</b> 3,302 x 10<sup>23</sup> kg <br>
            0,055 Earths</li>
          <button id="btn-tables" class="btn-aside">See More...</button>
        </ul>
      </aside>
      <section class="tables t-mercury">
        <button class="close-tables"><span></span></button>
        <h2> GENERAL CHARACTERISTICS OF MERCURY</h2>
        <ul class="listx">
            <li><b> Distancia media al Sol: </b>0,387 UA = 5,79x107 km </li>
            <li><b> Máxima distancia al Sol: </b>0,467 UA=6,98x107 km </li>
            <li><b> Mínima distancia al Sol: </b>0,307 UA=4,60x107 km </li>
            <li><b> Velocidad orbital media: </b>47,4 km/s </li>
            <li><b> Periodo sideral: </b>87,969 dias </li>
            <li><b> Periodo de rotación: </b>58,646 dias </li>
            <li><b> Inclinación del ecuador a la órbita: </b>0,01° </li>
            <li><b> Inclinación de la órbita a la eclíptica: </b>7°00'16" </li>
            <li><b> Excentricidad orbital: </b>0,206 </li>
            <li><b> Diámetro (ecuatorial): </b>4.879 km </li>
            <li><b> Diámetro (Tierra = 1): </b>0,382 </li>
            <li><b> Diámetro aparente desde la Tierra, Max: </b>12,9" </li>
            <li><b> Diámetro aparente desde la Tierra, Min: </b>4,5" </li>
            <li><b> Masa: </b>3,3x1023 kg </li>
            <li><b> Masa (Tierra=1): </b>0,0553 </li>
            <li><b> Densidad media: </b>5.427 kg/m3 </li>
            <li><b> Gravedad en la superficie (Tierra=1): </b>0,38 </li>
            <li><b> Velocidad de escape:	</b>4,3 km/s </li>
            <li><b> Achatamiento: </b>0 </li>
            <li><b> Temperatura de superficie media, dia: </b>350°C=662°F=623K </li>
            <li><b> Temperatura de superficie media, noche: </b>-170°C=-274°F=103K </li>
            <li><b> Albedo: </b>0,1 </li>
            <li><b> Magnitud de max. brillo: </b>-1,9 </li>
            <li><b> Diámetro medio del Sol desde Mercurio: </b>1°22'40" </li>
        </ul>
      </section>
      <section class="main-text overflow">
        <div class="title">
          <div class="cont-appear2"><h1>MERCURY</h1></div>
            <p>Mercury is the planet in the solar system closest to the Sun and the smallest. It is part of the so-called inner planets and lacks natural satellites like Venus. Mercury is one of the four rocky or solid planets; that is, it has a rocky body, like the Earth. This planet is the smallest of the four, with a diameter of 4,879 km at the equator. <br> Mercury is made up of approximately 70% metallic elements and 30% silicates. The density of this planet is the second largest in the entire solar system, its value being 5430 kg/m³, only slightly less than the density of the Earth. Mercury's density can be used to deduce the details of its internal structure. </p>
            <p class="second-text-responsive">The surface of Mercury, like that of the Moon, has numerous meteorite impacts ranging from a few meters to thousands of kilometers. Some of the craters are relatively recent, a few million years old, and are characterized by the presence of a central peak.</p>
            <button class="buttonSeeAndCheck2 buttonResponsive second-text-responsive">INSPECT</button>
          </div>
      </section>
      <section class="second-text-main">
        <button class="buttonSeeAndCheck">INSPECT</button>
        <p>The surface of Mercury, like that of the Moon, has numerous meteorite impacts ranging from a few meters to thousands of kilometers. Some of the craters are relatively recent, a few million years old, and are characterized by the presence of a central peak.</p>
      </section>
      <!-- end main text -->
    </section>
    <!-- End first main section 100vh -->
    <!-- second main section 100% -->
    <section class="main_Earth2 main_Mercury2">
        <div class="bgEarth1">
        </div>
        <div class="main_Mercuryback">
          <div class="bgEarth1">
          </div>
          <div class="bgEarth1x">
          </div>
          <div class="main-movements" data-aos="fade-up">
            <h2>Main Movements</h2>
            <ul class="list2">
              <li><b>- Rotation.</b> A rotating movement on its own axis, which intermittently exposes its surface to the sun and is the cause of days and nights.</li>
              <li><b>- Translation.</b> This is the displacement of the planet along its solar orbit, describing more or less an ellipse as a path. Every time we celebrate a year, it marks one more revolution of the planet around the Sun</li>
              <li>This small planet rotates slowly compared to Earth, so a day lasts a long time. Mercury takes 59 Earth days to make one complete rotation. A year on Mercury goes by fast. Because it is the closest planet to the Sun, it does not take long for it to cover the entire circumference. It completes one revolution around the Sun in just 88 Earth days. If you lived on Mercury, you would have a birthday party every three months!</li>
            </ul>
          </div>

          <div class="list-general list-general-none">
            <h2> GENERAL CHARACTERISTICS</h2>
            <ul class="list2">
              <li><b>Category:</b> Rocky Planet</li>
              <li><b>Star:</b> Sun</li>
              <li><b>Distance to its star:</b> 57,909,227 km</li>
              <li><b>Diameter:</b> 4,879.4 km</li>
              <li><b>Average orbital speed:</b> 47.36194 km/s</li>
              <li><b>Gravity:</b> 3.7 m/s²</li>
              <li><b>Density:</b> 	5,43 g/cm³</li>
              <li><b>Mass:</b> 3,302x10<sup>23</sup> kg <br>
                0,055 Earths</li>
            </ul>
          </div>

          <div class="list-general" data-aos="fade-up">
            <h2>Most Abundant Elements on its atmosphere</h2>
            <ul class="list2">
              <li>oxygen <b>(42%)</b></li>
              <li>Sodium <b>(29%)</b></li>
              <li>Hidrogen <b>(22%)</b></li>
              <li>Helium <b>(6%)</b></li>
              <li>calcium <b>(0.5%)</b></li>
              <li>potassium <b>(0.5%)</b></li>
            </ul>
          </div>
        </div>

        <div class="lists">
          <h2>GENERAL FEATURES OF MERCURY</h2>
          <ul>
            <div data-aos="fade-right">
              <li>
                - <b>Mercury's atmosphere</b><br><br>
                <ul>
                  <li>Mercury's atmosphere is extremely thin, which is why it is so easy for meteors and asteroids to reach the surface and hit it. Its "atmosphere" is actually an exosphere, composed mostly of oxygen, sodium, helium, hydrogen and potassium and created by the effect of atoms detached from the surface and the impact of micrometeorites. Since surface temperatures are often extreme, atoms quickly and easily escape into space.</li>
                </ul>
              </li>
            </div>
            <div data-aos="fade-right">
              <li>
                - <b> Mercury's surface</b><br><br>
                <ul>
                  <li>The surface of Mercury, like that of the Moon, has numerous meteorite impacts ranging from a few meters to thousands of kilometers. Some of the craters are relatively recent, a few million years old, and are characterized by the presence of a central peak. It seems that the oldest craters have had a very strong erosion, possibly due to large changes in temperature, which on a normal day range between 623 K (350 °C) during the day and 103 K (-170 °C) during the night. evening.</li>
                  <li>Like the Moon, Mercury appears to have undergone a period of intense bombardment by large meteorites about 4,000,000,000 (four billion) years ago. During this period of crater formation, Mercury received impacts on its entire surface, facilitated by the virtual absence of an atmosphere that could disintegrate or stop many of these rocks. During this time, Mercury was volcanically active, forming basins or depressions with lava in the interior of the planet and producing smooth plains similar to the seas or maria of the Moon; proof of this is the discovery by the MESSENGER probe of possible volcanoes.</li>
                </ul>
              </li>
            </div>
            <div data-aos="fade-right">
              <li>
                - <b> Magnetosphere</b><br><br>
                <ul>
                  <li>The study of Mercury's interaction with the solar wind has revealed the existence of a magnetosphere around the planet. The origin of this magnetic field is not known. In 2007, very precise ground-based radar observations demonstrated a wobble of the rotational axis compatible only with a partially molten core of the planet. A partially molten core with ferromagnetic materials could be the cause of its magnetic field.
                    <br><br>
                  The intensity of the magnetic field is 220 nT.</li>
                </ul>
              </li>
            </div>
          </ul>
        </div>

        <a href="./venus.html" class="btn next">NEXT PLANET</a>
        <!-- Footer -->
        <footer class="footer-Earth">
          <div class="wrapper">
            <a href = "mailto:stivendiazh@gmail.com"target="__BLANK" class="iconsocial email">
                <div class="tooltip">Email</div>
              <span><i class="fa-solid fa-envelope"></i></span>
            </a>
            <a href="https://www.linkedin.com/in/stiven-diaz-3892aa224" target="__BLANK"class="iconsocial linkdein">
              <div class="tooltip" translate="no">linkdein</div>
              <span><i class="fab fa-linkedin"></i></span>
            </a>
            <a href="https://instagram.com/stiven_dz" target="__BLANK" class="iconsocial instagram">
              <div class="tooltip">Instagram</div>
              <span><i class="fab fa-instagram"></i></span>
            </a>
            <a href="https://github.com/StivenDz" target="__BLANK" class="iconsocial github">
              <div class="tooltip">Github</div>
              <span><i class="fab fa-github"></i></span>
            </a>
          </div>
        </footer>
      <!-- End Footer -->
    </section>
    <!--End second main section 100% -->
  </main>
  <!-- End all content text and backgrounds -->
  <script src="../animation/three.min.js"></script>
  <script src="../animation/stars.js"></script>
  <script src="../animation/nav.js"></script>
  <script src="../animation/tables.js"></script>
  <script type="module" src="../animation/mercurio.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>
</html>