<!DOCTYPE html>
<html lang="en" translate="yes">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
    content="Neptune is the eighth and farthest-known Solar planet from the Sun. In the Solar System, it is the fourth-largest planet by diameter, the third-most-massive planet, and the densest giant planet. It is 17 times the mass of Earth, and slightly more massive than its near-twin Uranus. Neptune is denser and physically smaller than Uranus because its greater mass causes more gravitational compression of its atmosphere. It is referred to as one of the solar system's two ice giant planets (the other one being its near-twin Uranus).

    Being composed primarily of gases and liquids, it has no well-defined 'solid surface'. The planet orbits the Sun once every 164.8 years at an average distance of 30.1 AU (4.5 billion km; 2.8 billion mi). It is named after the Roman god of the sea and has the astronomical symbol ♆, representing Neptune's trident." />
  <meta name="keywords"
    content="SOLAR SYSTEM,PLANETS,GALAXY,NEPTUNE PLANET, ROTATION, SUN, STAR, GRAVITY, PLANET ANIMATION, PLANET 3D, MASS, DENSITY" />

  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  <link rel="stylesheet" href="../styles/main.css" />
  <script src="https://kit.fontawesome.com/53d40d2367.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" href="../images/Icons/favicon-32x32.png" type="image/x-icon" />

  <title>NEPTUNE | All About Neptune Planet</title>
</head>

<body class="body_neptuno">
  <!-- button go home -->
  <a href="/" class="btn position-button"><i class="fas fa-home"></i></a>
  <!-- End button go home -->

  <!-- circle menu -->
  <section class="planets-names animation">
    <section class="planets1">
      <div class="firstPlanet">
        <p><a href="./mercurio.html"></a>Mercurio</p>
        <span></span>
      </div>
      <div class="secondPlanet">
        <p><a href="./venus.html"></a>Venus</p>
        <span></span>
      </div>
      <div class="thirdPlanet">
        <p><a href="./tierra.html"></a>Tierra</p>
        <span></span>
      </div>
    </section>
    <section class="planets2">
      <div class="firstPlanet2">
        <p><a href="./marte.html"></a>Marte</p>
        <span></span>
      </div>
      <div class="secondPlanet2">
        <p><a href="./jupiter.html"></a>Jupiter</p>
        <span></span>
      </div>
      <div class="thirdPlanet2">
        <p><a href="./saturno.html"></a>Saturno</p>
        <span></span>
      </div>
    </section>
    <section class="planets3">
      <div class="firstPlanet3">
        <p><a href="./urano.html"></a>Urano</p>
        <span></span>
      </div>
      <div class="secondPlanet3">
        <p><a href="./neptuno.html"></a>Neptuno</p>
        <span></span>
      </div>
      <div class="thirdPlanet3">
        <p><a href="./pluton.html"></a>Plutón</p>
        <span></span>
      </div>
    </section>
  </section>
  <header class="menu menu--circle">
    <input type="checkbox" id="menu__active" />
    <label for="menu__active" class="menu__active">
      <div class="menu__toggle">
        <div class="icon">
          <div class="hamburger"></div>
        </div>
      </div>

      <input type="radio" name="arrow--up" id="degree--up-0" />
      <input type="radio" name="arrow--up" id="degree--up-1" />
      <input type="radio" name="arrow--up" id="degree--up-2" />

      <div class="menu__listings">
        <ul class="circle">
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./venus.html" title="Venus" class="button"><i class="fa-solid fa-earth-americas"></i></a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./mercurio.html" title="Mercurio" class="button"><i class="fa-solid fa-earth-africa"></i></a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="#">&nbsp</a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./pluton.html" title="Pluton" class="button"><i class="fa-solid fa-earth-africa"></i></a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./neptuno.html" title="Neptuno" class="button"><i class="fa-solid fa-earth-americas"></i></a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./urano.html" title="Urano" class="button"><i class="fa-solid fa-earth-oceania"></i></a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./saturno.html" title="Saturno" class="button"><i class="fa-solid fa-earth-americas"></i></a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./jupiter.html" title="Jupiter" class="button"><i class="fa-solid fa-earth-africa"></i></a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./marte.html" title="Marte" class="button"><i class="fa-solid fa-earth-oceania"></i></a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./tierra.html" title="Tierra" class="button"><i class="fa-solid fa-earth-oceania"></i></a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="menu__arrow menu__arrow--top">
        <ul>
          <li>
            <label class="degree--up-0" for="degree--up-0">
              <div class="arrow"></div>
            </label>
            <label class="degree--up-1" for="degree--up-1">
              <div class="arrow"></div>
            </label>
            <label class="degree--up-2" for="degree--up-2">
              <div class="arrow"></div>
            </label>
          </li>
        </ul>
      </div>
    </label>
  </header>
  <!-- End circle menu -->
  <!-- all content text and backgrounds -->
  <main class="main_Container">
    <!-- first main section 100vh -->
    <section class="main_Earth">
      <!-- back appear -->
      <picture class="backAppear backAppearJs"></picture>
      <!-- back linear #000 to transparent 30% -->
      <div class="bgEarth1x"></div>
      <!-- Earth Planet Background animation -->
      <div class="wrapperNeptune1"></div>
      <!-- main-text -->
      <section class="tables">
        <button class="close-tables"><span></span></button>
        <h2>GENERAL CHARACTERISTICS OF NEPTUNE</h2>
        <ul class="listx">
          <li><b> Distancia media al Sol: </b> 30,05 UA = 4,4951x109 km</li>
          <li><b> Máxima distancia al Sol: </b> 30,36 UA=4,546x109 km</li>
          <li><b> Mínima distancia al Sol: </b> 29,76 UA=4,456x109 km</li>
          <li><b> Velocidad orbital media: </b> 5,43 km/s</li>
          <li><b> Periodo sideral: </b> 163,72 años</li>
          <li><b> Periodo de rotación: </b> 16,11 horas</li>
          <li><b> Inclinación del ecuador a la órbita: </b> 28,3°</li>
          <li><b> Inclinación de la órbita a la eclíptica: </b> 1,77°</li>
          <li><b> Excentricidad orbital: </b> 0,011</li>
          <li><b> Diámetro (ecuatorial): </b> 49.528 km</li>
          <li><b> Diámetro (Tierra = 1): </b> 3,88</li>
          <li><b> Diámetro aparente desde la Tierra, Max: </b> 2,2"</li>
          <li><b> Diámetro aparente desde la Tierra, Min: </b> 2,0"</li>
          <li><b> Masa: </b> 1,03x1026 kg</li>
          <li><b> Masa (Tierra=1): </b> 17,09</li>
          <li><b> Densidad media </b> 1.638 kg/m3</li>
          <li><b> Gravedad en la superficie (Tierra=1) </b> 1,12</li>
          <li><b> Velocidad de escape </b> 23,5 km/s</li>
          <li><b> Achatamiento </b> 0,026</li>
          <li>
            <b> Temperatura de superficie media:</b> arriba de las nubes
            -216°C=-357°F=57K
          </li>
          <li><b> Albedo </b> 0,35</li>
          <li><b> Magnitud de max. brillo: </b> +7,7</li>
          <li><b> Diámetro medio del Sol desde Neptuno </b> 1'04"</li>
        </ul>
      </section>
      <aside class="aside-flotante whitoutBack">
        <h2>GENERAL CHARACTERISTICS</h2>
        <ul class="list">
          <li><b>Category:</b> Rocky Planet</li>
          <li><b>Star:</b> Sun</li>
          <li><b>Distance to its star:</b> 4.504.300.000 km</li>
          <li><b>Diameter:</b> 49.572 km</li>
          <li><b>Average orbital speed:</b> 5,4778 km/s<sup>3</sup></li>
          <li><b>Gravity:</b> 11,15 m/s²3<sup>3</sup> <br>
            1,14 g</li>
          <li><b>Density:</b> 1,64 g/cm³3<sup>3</sup></li>
          <li><b>Mass:</b> 1,024 × 10<sup>26</sup> kg3​ <br>
            17,147 Earths</li>
          <button id="btn-tables" class="btn-aside">See More...</button>
        </ul>
      </aside>
      <section class="main-text overflow">
        <div class="title">
          <div class="cont-appear2">
            <h1>NEPTUNE</h1>
          </div>
          <p>
            Neptune is the eighth planet in distance from the Sun and the farthest in the solar system. It is part of
            the so-called outer planets, and within these, it is one of the ice giants, and it is the first to be
            discovered thanks to mathematical predictions. Its name was put in honor of the Roman god of the sea
            Neptune, and it is the fourth planet in diameter and the third largest in mass. <br><br> Its mass is
            seventeen times that of Earth and slightly greater than that of its "twin" planet Uranus, which is fifteen
            Earth masses and not as dense. On average, Neptune orbits the Sun at a distance of 30.1 AU. His astronomical
            symbol is ♆, a stylized version of the god Neptune's trident.
          </p>
          <p class="second-text-responsive">
            Neptune is a dynamic planet, with spots reminiscent of Jupiter's storms. The largest, the Great Dark Spot,
            was about the same size as Earth, but in 1994 it disappeared and another has formed. The strongest winds on
            any planet in the solar system are found on Neptune.
          </p>
        </div>
      </section>
      <section class="second-text-main">
        <p>
          Neptune is a dynamic planet, with spots reminiscent of Jupiter's storms. The largest, the Great Dark Spot, was
          about the same size as Earth, but in 1994 it disappeared and another has formed. The strongest winds on any
          planet in the solar system are found on Neptune.
        </p>
      </section>
      <!-- end main text -->
    </section>
    <!-- End first main section 100vh -->
    <!-- second main section 100% -->
    <section class="main_Earth2">
      <div class="bgEarth1"></div>
      <div class="main_Neptuneback">
        <!-- <div class="bgEarth1"></div>
        <div class="bgEarth1x"></div> -->

        <div class="main-movements" data-aos="fade-up">
          <h2>Main Movements</h2>
          <ul class="list2">
            <li>
              <b>- Rotation.</b> Neptune has a rotation period of 16 Earth hours and 7 minutes.
            </li>
            <li>
              <b>- Translation.</b> Neptune has a translation period of 164 years, 280 days and 7 Earth hours.
            </li>
          </ul>
        </div>

        <div class="list-general list-general-none">
          <h2>GENERAL CHARACTERISTICS</h2>
          <ul class="list2">
            <li><b>Category:</b> Rocky Planet</li>
            <li><b>Star:</b> Sun</li>
            <li><b>Distance to its star:</b> 4.504.300.000 km</li>
            <li><b>Diameter:</b> 49.572 km</li>
            <li><b>Average orbital speed:</b> 5,4778 km/s<sup>3</sup></li>
            <li><b>Gravity:</b> 11,15 m/s²3<sup>3</sup> <br>
              1,14 g</li>
            <li><b>Density:</b> 1,64 g/cm³3<sup>3</sup></li>
            <li><b>Mass:</b> 1,024 × 10<sup>26</sup> kg3​ <br>
              17,147 Earths</li>
            <button id="btn-tables-res" class="btn-aside">See More...</button>
          </ul>
        </div>

        <div class="list-general" data-aos="fade-up">
          <h2>Most Abundant Elements On Its Atmosphere</h2>
          <ul class="list2">
            <li>Hydrogen <b>(>84%)</b></li>
            <li>Helium <b>(>12%)</b></li>
            <li>Methane <b>(2%)</b></li>
            <li>Ammonia <b>(0.01%)</b></li>
            <li>Ethane <b>(0.00025%)</b></li>
            <li>Acetylene <b>(0.00001%)</b></li>
          </ul>
        </div>
      </div>
      <div class="lists">
        <h2>
          GENERAL FEATURES OF NEPTUNE
        </h2>
        <ul>
          <div data-aos="fade-right">
            <li>
              - <b> Atmosphere</b><br /><br />
              <ul>
                <li>
                  By orbiting so far from the Sun, Neptune receives very little heat. Its surface temperature is −218 °C
                  (55 K). However, the planet appears to have an internal source of heat. It is thought that it may be a
                  remnant of the heat produced by the concretion of matter during its creation, which now slowly
                  radiates heat back into space. This internal heat source produces powerful weather systems around the
                  planet, such as the Great Dark Spot that the Voyager 2 probe discovered as it passed through the
                  Neptune system in 1989.
                </li>
                <li>
                  Neptune's color differs from that of Uranus due to the amount of helium contained in its atmosphere,
                  which is slightly higher. Because of this, Neptune absorbs more red light from the Sun than its
                  neighboring planet, thus reflecting a much more intense blue.

                  Neptune's atmosphere has a band structure similar to that found in the other gas giants. Phenomena
                  such as giant hurricanes, with a diameter equal to that of the Earth, and other cloud formations,
                  including some extensive cirrus clouds, above (50 km) of the main clouds occur on this planet. Thus
                  Neptune has a very active cloud system, possibly more active than Jupiter's. Wind speeds in Neptune's
                  atmosphere are up to 2,000 km/h, the highest in the solar system, and are believed to be powered by
                  internal heat flux.
                </li>
              </ul>
            </li>
          </div>
          <div data-aos="fade-right">
            <li>
              - <b> Composition And Internal Structure</b><br /><br />
              <ul>
                <li>
                  Neptune's internal structure resembles that of Uranus: a rocky core covered by an icy crust, hidden under a thick, thick atmosphere. The inner two-thirds of Neptune are made up of a mixture of molten rock, water, liquid ammonia, and methane. The outer third is a hot gas mixture made up of hydrogen, helium, water and methane.
                </li>
                <li>
                  Like Uranus and unlike Jupiter and Saturn, Neptune's internal structure composition is thought to be made up of distinct layers. The upper layer is made up of clouds of hydrogen, helium, and methane, which change from gas to ice as depth increases. The mantle surrounds a compact core of rock and ice.
                </li>
                <li>
                  Its atmosphere comprises about 5% to 10% of its mass and probably extends from the planet's surface to depths corresponding to 10% to 20% of the distance to the core. At these depths, the atmosphere reaches pressures of about 10 GPa, or about 100,000 times that of Earth's atmosphere. The concentrations of methane, ammonia and water are increasing from the outer regions to the lower regions of the atmosphere.
                </li>
              </ul>
            </li>
          </div>
          <div data-aos="fade-right">
            <li>
              - <b> Magnetic Field</b><br /><br />
              <ul>
                <li>
                  Neptune's magnetic field, like Uranus's, is quite tilted at 47° from the axis of rotation and displaced by at least 0.55 radii (about 13,500 km) from the physical center. By comparing the magnetic fields of the planets, the researchers think that the extreme orientation could be characteristic of the flows inside the planet and not the result of the tilt of the planet itself or any possible reversal of the fields on both planets. This field can be generated by fluid convective motions in a thin spherical shell of electrically conductive liquids (probably a combination of ammonia, methane, and water) resulting in dynamo action.
                </li>
                <li>
                  El dipolo del campo magnético, en el ecuador magnético de Neptuno, es de unos 14 microteslas (0,14 G).​ El momento dipolar magnético de Neptuno es aproximadamente 2,2x10<sup>17</sup> ;T-m³ (14 μT·RN³, donde RN es el radio de Neptuno). El campo magnético de Neptuno tiene una geometría compleja, que incluye contribuciones relativamente grandes de componentes no dipolares, incluyendo un momento cuadrupolar que puede exceder la fuerza del momento dipolar. Por el contrario, la Tierra, Júpiter y Saturno solo tienen momentos cuadrupolares relativamente pequeños, y sus campos están menos inclinados con respecto al eje polar. El gran momento cuadrupolar de Neptuno puede ser el resultado del desplazamiento en relación al centro del planeta y de las limitaciones geométricas del dinamo generador del campo magnético.
                </li>
                <li>
                  Neptune's bow shock, where the magnetosphere starts to slow down the solar wind, occurs at a distance of 34.9 times the planet's radius. The magnetopause, where the pressure of the magnetosphere counteracts the solar wind, is between 23 and 26.5 times the radius of Neptune. The tail of the magnetosphere extends to at least 72 Neptune radii, and probably much farther.
                </li>
              </ul>
            </li>
          </div>
        </ul>
      </div>

      <a href="./pluton.html" class="btn next">NEXT PLANET</a>
      <!-- Footer -->
      <footer class="footer-Earth">
        <div class="wrapper">
          <a href="mailto:stivendiazh@gmail.com" target="__BLANK" class="iconsocial email">
            <div class="tooltip">Email</div>
            <span><i class="fa-solid fa-envelope"></i></span>
          </a>
          <a href="https://www.linkedin.com/in/stiven-diaz-3892aa224" target="__BLANK" class="iconsocial linkdein">
            <div class="tooltip" translate="no">linkdein</div>
            <span><i class="fab fa-linkedin"></i></span>
          </a>
          <a href="https://instagram.com/stiven_dz" target="__BLANK" class="iconsocial instagram">
            <div class="tooltip">Instagram</div>
            <span><i class="fab fa-instagram"></i></span>
          </a>
          <a href="https://github.com/StivenDz" target="__BLANK" class="iconsocial github">
            <div class="tooltip">Github</div>
            <span><i class="fab fa-github"></i></span>
          </a>
        </div>
        <p>&copy; Stiven Diaz | CoderHouse</p>
      </footer>
      <!-- End Footer -->
    </section>
    <!--End second main section 100% -->
  </main>
  <!-- End all content text and backgrounds -->
  <script src="../animation/three.min.js"></script>
  <script src="../animation/stars.js"></script>
  <script src="../animation/nav-index.js"></script>
  <script src="../animation/tables.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>