<!DOCTYPE html>
<html lang="en" translate="yes">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
    content="Pluto is the ninth-largest and tenth-most-massive known object directly orbiting the Sun. It is the largest known trans-Neptunian object by volume but is less massive than Eris. Like other Kuiper belt objects, Pluto is primarily made of ice and rock and is relatively small—one-sixth the mass of the Moon and one-third its volume. It has a moderately eccentric and inclined orbit, ranging from 30 to 49 astronomical units (4.5 to 7.3 billion kilometers; 2.8 to 4.6 billion miles) from the Sun. Therefore, Pluto periodically comes closer to the Sun than Neptune. Still, a stable orbital resonance with Neptune prevents them from colliding. As a result, light from the Sun takes 5.5 hours to reach Pluto at its average distance (39.5 AU [5.91 billion km; 3.67 billion mi])." />
  <meta name="keywords"
    content="SOLAR SYSTEM,PLANETS,GALAXY,PLUTO PLANET, ROTATION, SUN, STAR, GRAVITY, PLANET ANIMATION, PLANET 3D, MASS, DENSITY" />

  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  <link rel="stylesheet" href="../styles/main.css" />
  <script src="https://kit.fontawesome.com/53d40d2367.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" href="../images/Icons/favicon-32x32.png" type="image/x-icon" />

  <title>PLUTO | All About Pluto Planet</title>
</head>

<body class="body_pluton">
  <!-- button go home -->
  <a href="/" class="btn position-button"><i class="fas fa-home"></i></a>
  <!-- End button go home -->

  <!-- circle menu -->
  <section class="planets-names animation">
    <section class="planets1">
      <div class="firstPlanet">
        <p><a href="./mercurio.html"></a>Mercurio</p>
        <span></span>
      </div>
      <div class="secondPlanet">
        <p><a href="./venus.html"></a>Venus</p>
        <span></span>
      </div>
      <div class="thirdPlanet">
        <p><a href="./tierra.html"></a>Tierra</p>
        <span></span>
      </div>
    </section>
    <section class="planets2">
      <div class="firstPlanet2">
        <p><a href="./marte.html"></a>Marte</p>
        <span></span>
      </div>
      <div class="secondPlanet2">
        <p><a href="./jupiter.html"></a>Jupiter</p>
        <span></span>
      </div>
      <div class="thirdPlanet2">
        <p><a href="./saturno.html"></a>Saturno</p>
        <span></span>
      </div>
    </section>
    <section class="planets3">
      <div class="firstPlanet3">
        <p><a href="./urano.html"></a>Urano</p>
        <span></span>
      </div>
      <div class="secondPlanet3">
        <p><a href="./neptuno.html"></a>Neptuno</p>
        <span></span>
      </div>
      <div class="thirdPlanet3">
        <p><a href="./pluton.html"></a>Plutón</p>
        <span></span>
      </div>
    </section>
  </section>
  <header class="menu menu--circle">
    <input type="checkbox" id="menu__active" />
    <label for="menu__active" class="menu__active">
      <div class="menu__toggle">
        <div class="icon">
          <div class="hamburger"></div>
        </div>
      </div>

      <input type="radio" name="arrow--up" id="degree--up-0" />
      <input type="radio" name="arrow--up" id="degree--up-1" />
      <input type="radio" name="arrow--up" id="degree--up-2" />

      <div class="menu__listings">
        <ul class="circle">
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./venus.html" title="Venus" class="button"><i class="fa-solid fa-earth-americas"></i></a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./mercurio.html" title="Mercurio" class="button"><i class="fa-solid fa-earth-africa"></i></a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="#">&nbsp</a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./pluton.html" title="Pluton" class="button"><i class="fa-solid fa-earth-africa"></i></a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./neptuno.html" title="Neptuno" class="button"><i class="fa-solid fa-earth-americas"></i></a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./urano.html" title="Urano" class="button"><i class="fa-solid fa-earth-oceania"></i></a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./saturno.html" title="Saturno" class="button"><i class="fa-solid fa-earth-americas"></i></a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./jupiter.html" title="Jupiter" class="button"><i class="fa-solid fa-earth-africa"></i></a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./marte.html" title="Marte" class="button"><i class="fa-solid fa-earth-oceania"></i></a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./tierra.html" title="Tierra" class="button"><i class="fa-solid fa-earth-oceania"></i></a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="menu__arrow menu__arrow--top">
        <ul>
          <li>
            <label class="degree--up-0" for="degree--up-0">
              <div class="arrow"></div>
            </label>
            <label class="degree--up-1" for="degree--up-1">
              <div class="arrow"></div>
            </label>
            <label class="degree--up-2" for="degree--up-2">
              <div class="arrow"></div>
            </label>
          </li>
        </ul>
      </div>
    </label>
  </header>
  <!-- End circle menu -->
  <!-- all content text and backgrounds -->
  <main class="main_Container">
    <!-- first main section 100vh -->
    <section class="main_Earth">
      <!-- back appear -->
      <picture class="backAppear backAppearJs"></picture>
      <!-- back linear #000 to transparent 30% -->
      <div class="bgEarth1x"></div>
      <!-- Earth Planet Background animation -->
      <div class="wrapperPluton1"></div>
      <!-- main-text -->
      <section class="tables">
        <button class="close-tables"><span></span></button>
        <h2>GENERAL CHARACTERISTICS OF PLUTO</h2>
        <ul class="listx">
          <li><b> Distancia media al Sol: </b> 39,48 UA = 5,9064x109 km</li>
          <li><b> Máxima distancia al Sol: </b> 49,33 UA =7,380x109 km</li>
          <li><b> Mínima distancia al Sol: </b> 29,73 UA =4,447x109 km</li>
          <li><b> Velocidad orbital media: </b> 4,74 km/s</li>
          <li><b> Periodo sideral: </b> 247,93 años</li>
          <li><b> Periodo de rotación: </b> 6,3874 dias</li>
          <li><b> Inclinación del ecuador a la órbita: </b> 122°</li>
          <li><b> Inclinación de la órbita a la eclíptica: </b> 17,1°</li>
          <li><b> Excentricidad orbital: </b> 0,244</li>
          <li><b> Diámetro (ecuatorial): </b> 2.370 km</li>
          <li><b> Diámetro (Tierra = 1): </b> 0,18</li>
          <li><b> Diámetro aparente desde la Tierra: </b> 0,1"</li>
          <li><b> Masa: </b> 1x1022 kg</li>
          <li><b> Masa(Tierra=1): </b> 0,00245</li>
          <li><b> Densidad media </b> 2.095 kg/m3</li>
          <li><b> Gravedad en la superficie (Tierra=1) </b> 0,06</li>
          <li><b> Velocidad de escape </b> 1.3 km/s</li>
          <li><b> Temperatura de superficie media: </b> -223°C=-369°F=50K</li>
          <li><b> Albedo </b> 0,4</li>
          <li><b> Magnitud de max. brillo: </b> +15</li>
          <li><b> Diámetro medio del Sol desde Plutón </b> 50"</li>
        </ul>
      </section>
      <aside class="aside-flotante whitoutBack">
        <h2>GENERAL CHARACTERISTICS</h2>
        <ul class="list">
          <li><b>Category:</b> Rocky Planet</li>
          <li><b>Star:</b> Sun</li>
          <li><b>Distance to its star:</b> 39,48 UA = 5,9064x10<sup>9</sup> km</li>
          <li><b>Diameter:</b> 2370 km<sup>1</sup> </li>
          <li><b>Average orbital speed:</b> 4,7 km/s<sup>1</sup> </li>
          <li><b>Gravity:</b> 0,6 m/s²1<sup>1</sup> </li>
          <li><b>Density:</b> 1750 kg/m³</li>
          <li><b>Mass:</b> 1,25 × 10<sup>22</sup> kg<sup>1</sup></li>
          <button id="btn-tables" class="btn-aside">See More...</button>
        </ul>
      </aside>
      <section class="main-text overflow">
        <div class="title">
          <div class="cont-appear2">
            <h1>PLUTO</h1>
          </div>
          <p>
            Pluto, designated (134340) Pluto, is a dwarf planet in the solar system located below the orbit of Neptune.
            Its name is due to the Roman mythological god Pluto (Hades according to Greek mythology). At the General
            Assembly of the International Astronomical Union held in Prague on August 24, 2006, a new category called
            plutoid was created, in which Pluto is included. <br> It is also the prototype of a category of
            trans-Neptunian objects called plutinos.
          </p>
          <p class="second-text-responsive">
            Pluto has an eccentric and highly inclined orbit with respect to
            the ecliptic, which it travels, approaching at its perihelion to the interior of Neptune's orbit. Likewise,
            it also has five satellites: Charon, Nix, Hydra, Cerberus and Styx, which are celestial bodies that share
            that same category.
          </p>
        </div>
      </section>
      <section class="second-text-main">
        <p>
          Pluto has an eccentric and highly inclined orbit with respect to
          the ecliptic, which it travels, approaching at its perihelion to the interior of Neptune's orbit. Likewise,
          it also has five satellites: Charon, Nix, Hydra, Cerberus and Styx, which are celestial bodies that share
          that same category.
        </p>
      </section>
      <!-- end main text -->
    </section>
    <!-- End first main section 100vh -->
    <!-- second main section 100% -->
    <section class="main_Earth2">
      <div class="bgEarth1"></div>
      <div class="main_Uranoback">
        <!-- <div class="bgEarth1"></div>
        <div class="bgEarth1x"></div> -->

        <div class="main-movements" data-aos="fade-up">
          <h2>Main Movements</h2>
          <ul class="list2">
            <li>
              <b>- Orbit.</b> Pluto's orbit is very eccentric, and for 20 of the 248 years it takes to traverse it, it is closer to the Sun than Neptune.

              It is also much more inclined with respect to the ecliptic plane than any of the planets in the solar system, its inclination being 16º, therefore there is no danger of a collision with Neptune. When the orbits cross they do so near the ends so that, perpendicular to the ecliptic, they are separated by a great distance.
            </li>
            <li>
              <b>- Rotation.</b> Pluto's rotation period is equal to 6.39 Earth days (153 hours 21 minutes). Like Uranus, Pluto rotates lying on its side in its orbital plane, with an axial tilt of 120°, so Therefore, its seasonal variation is extreme. During the Plutonian solstices, a quarter of the surface is continuously day while another quarter is continuously night.
            </li>
          </ul>
        </div>

        <div class="list-general list-general-none">
          <h2>GENERAL CHARACTERISTICS</h2>
          <ul class="list2">
            <li><b>Category:</b> Rocky Planet</li>
            <li><b>Star:</b> Sun</li>
            <li><b>Distance to its star:</b> 39,48 UA = 5,9064x10<sup>9</sup> km</li>
            <li><b>Diameter:</b> 2370 km<sup>1</sup> </li>
            <li><b>Average orbital speed:</b> 4,7 km/s<sup>1</sup> </li>
            <li><b>Gravity:</b> 0,6 m/s²1<sup>1</sup> </li>
            <li><b>Density:</b> 1750 kg/m³</li>
            <li><b>Mass:</b> 1,25 × 10<sup>22</sup> kg<sup>1</sup></li>
            <button id="btn-tables-res" class="btn-aside">See More...</button>
          </ul>
        </div>

        <div class="list-general" data-aos="fade-up">
          <h2>Most Abundant Elements On Its Atmosphere</h2>
          <ul class="list2">
            <li>Nitrogen <b>(90%)</b></li>
            <li>Methane <b>(10%)</b></li>
          </ul>
        </div>
      </div>
      <div class="lists">
        <h2>
          GENERAL FEATURES OF PLUTO
        </h2>
        <ul>
          <div data-aos="fade-right">
            <li>
              - <b> Atmosphere</b>.<br /><br />
              <ul>
                <li>
                  Pluto has an extremely thin atmosphere, made up of nitrogen, methane, and carbon monoxide, which freezes and collapses onto its surface as the planet moves away from the Sun. It is this evaporation and subsequent freezing that caused the variations in albedo. of the planet, detected by photoelectric photometers in the 1950s (Kuiper and others). As the planet approached, the changes became smaller, diminishing when it was found at orbital perihelion (1989). These albedo changes are expected to repeat themselves, but in reverse, as the planet moves away from the Sun toward its aphelion.
                </li>
              </ul>
            </li>
          </div>
          <div data-aos="fade-right">
            <li>
              - <b> Geology</b><br /><br />
              <ul>
                <li>
                  Methane (CH4) ice, brighter with an albedo of 0.65, is found in certain areas of the surface higher than 1.5 km. In equatorial areas of Pluto, between 20º N and 10 S, within the Cthulhu region, it occurs on the north-facing peaks and slopes of the Pigafetta Montes and Elcano Montes, which are 4 km high relative to altitude. mid-pluto and between 2.5 and 3.5 km from the surrounding surface, giving rise to a landscape similar to snow-capped peaks on Earth, and crater rims, Edgeworth, and escarpments, Virgil Fossa. To the north, at Venera Terra and Viking Terra, it is also found on the crater walls, but this time preferentially on those facing south. Also the summits of Al-Idrisi Montes and Tenzing Montes show high-altitude methane frost.
                </li>
                <li>
                  The presence of this methane ice cap in high areas is due to the fact that the relative concentration of this compound in Pluto's atmosphere is higher at a height of 4 km from the surface, giving rise to a zone of higher temperature, for absorption of solar radiation since it is a gas that generates an important greenhouse effect, which on the surface. The surface remains just as cold regardless of height since the atmosphere is too thin to affect it. Therefore, the air closer to the surface cools and flows downslope, unlike on Earth, allowing the methane in the height to condense on the tops and high areas of mountains and craters.
                </li>
                <li>
                  In the Cthulhu region, despite its low albedo of 0.1, its nighttime surface temperature is so cold, 40-42 K, that it allows an amount of frost to build up that daytime sublimation cannot compensate for. This mechanism would also explain the sheared texture of the Tartarus Dorsa region, a region consisting of massive methane deposits found almost exclusively at elevations greater than 2 km above Pluto's mean radius. This process does not occur in areas whose surface is mostly composed of nitrogen ice (N2), such as Sputnik Planitia, because the sublimation of nitrogen is capable of cooling the atmosphere to a height of several kilometers above the surface.
                </li>
              </ul>
            </li>
          </div>
          <div data-aos="fade-right">
            <li>
              - <b> Satellites</b><br /><br />
              <ul>
                <li>
                  At first Pluto was considered to have no satellites (similar to Mercury and Venus). In 1978 was when its first satellite (Charon) was discovered. Of all the moons in the solar system, Charon is the largest compared to its host planet, meaning no other moon is as close in size to the planet it orbits.
                </li>
                <li>
                  The similar size of Pluto and Charon makes the double planet effect appear, that is, the center of the orbits around which both bodies move is not located inside any of them, as opposed to the "satellite" system. -planet" which is the case of the Earth and the Moon, in which the center is located approximately 1700 kilometers below the surface of the Earth.
                </li>
              </ul>
            </li>
          </div>
        </ul>
      </div>

      <a href="./mercurio.html" class="btn next">FIRST PLANET</a>
      <!-- Footer -->
      <footer class="footer-Earth">
        <div class="wrapper">
          <a href="mailto:stivendiazh@gmail.com" target="__BLANK" class="iconsocial email">
            <div class="tooltip">Email</div>
            <span><i class="fa-solid fa-envelope"></i></span>
          </a>
          <a href="https://www.linkedin.com/in/stiven-diaz-3892aa224" target="__BLANK" class="iconsocial linkdein">
            <div class="tooltip" translate="no">linkdein</div>
            <span><i class="fab fa-linkedin"></i></span>
          </a>
          <a href="https://instagram.com/stiven_dz" target="__BLANK" class="iconsocial instagram">
            <div class="tooltip">Instagram</div>
            <span><i class="fab fa-instagram"></i></span>
          </a>
          <a href="https://github.com/StivenDz" target="__BLANK" class="iconsocial github">
            <div class="tooltip">Github</div>
            <span><i class="fab fa-github"></i></span>
          </a>
        </div>
        <p>&copy; Stiven Diaz | CoderHouse</p>
      </footer>
      <!-- End Footer -->
    </section>
    <!--End second main section 100% -->
  </main>
  <!-- End all content text and backgrounds -->
  <script src="../animation/three.min.js"></script>
  <script src="../animation/stars.js"></script>
  <script src="../animation/nav-index.js"></script>
  <script src="../animation/tables.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>