<!DOCTYPE html>
<html lang="en" translate="yes">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Saturn is the sixth planet from the Sun and the second-largest in the Solar System, after Jupiter. It is a gas giant with an average radius of about nine and a half times that of Earth. It only has one-eighth the average density of Earth; however, with its larger volume, Saturn is over 95 times more massive.
    Saturn's interior is most likely composed of a core of iron-nickel and rock (silicon and oxygen compounds). Its core is surrounded by a deep layer of metallic hydrogen, an intermediate layer of liquid hydrogen and liquid helium, and finally, a gaseous outer layer."
    />
    <meta
      name="keywords"
      content="SOLAR SYSTEM,PLANETS,GALAXY,SATURN PLANET, ROTATION, SUN, STAR, GRAVITY, PLANET ANIMATION, PLANET 3D, MASS, DENSITY"
    />

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="stylesheet" href="../styles/main.css" />
    <script
      src="https://kit.fontawesome.com/53d40d2367.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="shortcut icon"
      href="../images/Icons/favicon-32x32.png"
      type="image/x-icon"
    />

    <title>SATURN | All About Saturn Planet</title>
  </head>
  <body class="body_saturno">
    <!-- button go home -->
    <a href="/" class="btn position-button"
      ><i class="fas fa-home"></i
    ></a>
    <!-- End button go home -->

    <!-- circle menu -->
    <section class="planets-names animation">
      <section class="planets1">
        <div class="firstPlanet">
          <p><a href="./mercurio.html"></a>Mercurio</p>
          <span></span>
        </div>
        <div class="secondPlanet">
          <p><a href="./venus.html"></a>Venus</p>
          <span></span>
        </div>
        <div class="thirdPlanet">
          <p><a href="./tierra.html"></a>Tierra</p>
          <span></span>
        </div>
      </section>
      <section class="planets2">
        <div class="firstPlanet2">
          <p><a href="./marte.html"></a>Marte</p>
          <span></span>
        </div>
        <div class="secondPlanet2">
          <p><a href="./jupiter.html"></a>Jupiter</p>
          <span></span>
        </div>
        <div class="thirdPlanet2">
          <p><a href="./saturno.html"></a>Saturno</p>
          <span></span>
        </div>
      </section>
      <section class="planets3">
        <div class="firstPlanet3">
          <p><a href="./urano.html"></a>Urano</p>
          <span></span>
        </div>
        <div class="secondPlanet3">
          <p><a href="./neptuno.html"></a>Neptuno</p>
          <span></span>
        </div>
        <div class="thirdPlanet3">
          <p><a href="./pluton.html"></a>Plutón</p>
          <span></span>
        </div>
      </section>
    </section>
    <header class="menu menu--circle">
      <input type="checkbox" id="menu__active" />
      <label for="menu__active" class="menu__active">
        <div class="menu__toggle">
          <div class="icon">
            <div class="hamburger"></div>
          </div>
        </div>

        <input type="radio" name="arrow--up" id="degree--up-0" />
        <input type="radio" name="arrow--up" id="degree--up-1" />
        <input type="radio" name="arrow--up" id="degree--up-2" />

        <div class="menu__listings">
          <ul class="circle">
            <li>
              <div class="placeholder">
                <div class="upside">
                  <a href="./venus.html" title="Venus" class="button"
                    ><i class="fa-solid fa-earth-americas"></i
                  ></a>
                </div>
              </div>
            </li>
            <li>
              <div class="placeholder">
                <div class="upside">
                  <a href="./mercurio.html" title="Mercurio" class="button"
                    ><i class="fa-solid fa-earth-africa"></i
                  ></a>
                </div>
              </div>
            </li>
            <li>
              <div class="placeholder">
                <div class="upside">
                  <a href="#">&nbsp</a>
                </div>
              </div>
            </li>
            <li>
              <div class="placeholder">
                <div class="upside">
                  <a href="./pluton.html" title="Pluton" class="button"
                    ><i class="fa-solid fa-earth-africa"></i
                  ></a>
                </div>
              </div>
            </li>
            <li>
              <div class="placeholder">
                <div class="upside">
                  <a href="./neptuno.html" title="Neptuno" class="button"
                    ><i class="fa-solid fa-earth-americas"></i
                  ></a>
                </div>
              </div>
            </li>
            <li>
              <div class="placeholder">
                <div class="upside">
                  <a href="./urano.html" title="Urano" class="button"
                    ><i class="fa-solid fa-earth-oceania"></i
                  ></a>
                </div>
              </div>
            </li>
            <li>
              <div class="placeholder">
                <div class="upside">
                  <a href="./saturno.html" title="Saturno" class="button"
                    ><i class="fa-solid fa-earth-americas"></i
                  ></a>
                </div>
              </div>
            </li>
            <li>
              <div class="placeholder">
                <div class="upside">
                  <a href="./jupiter.html" title="Jupiter" class="button"
                    ><i class="fa-solid fa-earth-africa"></i
                  ></a>
                </div>
              </div>
            </li>
            <li>
              <div class="placeholder">
                <div class="upside">
                  <a href="./marte.html" title="Marte" class="button"
                    ><i class="fa-solid fa-earth-oceania"></i
                  ></a>
                </div>
              </div>
            </li>
            <li>
              <div class="placeholder">
                <div class="upside">
                  <a href="./tierra.html" title="Tierra" class="button"
                    ><i class="fa-solid fa-earth-oceania"></i
                  ></a>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="menu__arrow menu__arrow--top">
          <ul>
            <li>
              <label class="degree--up-0" for="degree--up-0"
                ><div class="arrow"></div
              ></label>
              <label class="degree--up-1" for="degree--up-1"
                ><div class="arrow"></div
              ></label>
              <label class="degree--up-2" for="degree--up-2"
                ><div class="arrow"></div
              ></label>
            </li>
          </ul>
        </div>
      </label>
    </header>
    <!-- End circle menu -->

    <!-- all content text and backgrounds -->
    <main class="main_Container">
      <!-- first main section 100vh -->
      <section class="main_Earth">
        <!-- back appear -->
        <picture class="backAppear backAppearJs"></picture>
        <!-- back linear #000 to transparent 30% -->
        <div class="bgEarth1x"></div>
        <!-- Earth Planet Background animation -->
        <picture class="wrapperSaturno3">
          <!-- <div class="bgSaturno2"></div> -->
        </picture>
        <!-- main-text -->
        <section class="tables">
          <button class="close-tables"><span></span></button>
          <h2>GENERAL CHARACTERISTICS OF SATURN</h2>
          <ul class="listx">
            <li><b> Distancia media al Sol: </b> 9,582 UA = 1,4335x109 km</li>
            <li><b> Máxima distancia al Sol: </b> 10,044 UA =1,503x109 km</li>
            <li><b> Mínima distancia al Sol: </b> 9,014 UA =1,348x109 km</li>
            <li><b> Velocidad orbital media: </b> 9,7 km/s</li>
            <li><b> Periodo sideral: </b> 29,42 años</li>
            <li>
              <b> Periodo de rotación: </b> 10 h 13m 59s - 10 h 39m 25s interior
            </li>
            <li><b> Inclinación del ecuador a la órbita: </b> 27°</li>
            <li><b> Inclinación de la órbita a la eclíptica: </b> 2°29'</li>
            <li><b> Excentricidad orbital: </b> 0,054</li>
            <li><b> Diámetro (ecuatorial): </b> 120,536 km - 107,000 polar</li>
            <li><b> Diámetro (Tierra = 1): </b> 9,26 - 8,27 polar</li>
            <li><b> Diámetro aparente desde la Tierra, Max: </b> 20,9"</li>
            <li><b> Diámetro aparente desde la Tierra, Min: </b> 15"</li>
            <li><b> Masa: </b> 5,69x1026 kg</li>
            <li><b> Masa (Tierra=1): </b> 95,1</li>
            <li><b> Densidad media </b> 687 kg/m3</li>
            <li><b> Gravedad en la superficie (Tierra=1) </b> 1,07</li>
            <li><b> Velocidad de escape </b> 35,5 km/s</li>
            <li><b> Achatamiento </b> 0,108</li>
            <li>
              <b> Temperatura de superficie media:</b> arriba de las nubes
              -180°C=-292°F=93K
            </li>
            <li><b> Albedo </b> 0,76</li>
            <li><b> Magnitud de max. brillo: </b> -0,3</li>
            <li><b> Diámetro medio del Sol desde Saturno </b> 3'22"</li>
          </ul>
        </section>
        <aside class="aside-flotante whitoutBack">
          <h2>GENERAL CHARACTERISTICS</h2>
          <ul class="list">
            <li><b>Category:</b> Rocky Planet</li>
            <li><b>Star:</b> Sun</li>
            <li><b>Distance to its star:</b> 1.429.400.000 km</li>
            <li><b>Diameter:</b> 	120 536 km</li>
            <li><b>Average orbital speed:</b> 9672,4 m/s</li>
            <li><b>Gravity:</b>	10,44 m/s²</li>
            <li><b>Density:</b> 690 kg/m³</li>
            <li><b>Mass:</b> 	5,688 × 10<sup>26</sup> kg</li>
            <button id="btn-tables" class="btn-aside">See More...</button>
          </ul>
        </aside>
        <section class="main-text overflow">
          <div class="title">
            <div class="cont-appear2"><h1>Saturn</h1></div>
            <p>
              Saturn is the sixth planet in the solar system from the Sun, the second in size and mass after Jupiter, and the only one with a ring system visible from Earth. Its name comes from the Roman god Saturn. It is part of the so-called outer or gaseous planets. The most characteristic aspect of Saturn is its bright and large rings. Before the invention of the telescope, Saturn was the most distant of the known planets and, to the naked eye, did not seem bright or interesting.
            </p>
            <p class="second-text-responsive">
              The first to observe the rings was Galileo in 1610, but the low inclination of the rings and the low resolution of his telescope initially led him to believe that they were large moons. Christiaan Huygens, with better means of observation, was able to clearly observe the rings in 1659. James Clerk Maxwell, in 1859, mathematically demonstrated that the rings could not be a single solid object but must be the grouping of millions of smaller particles.
            </p>
          </div>
        </section>
        <section class="second-text-main">
          <p>
            The first to observe the rings was Galileo in 1610, but the low inclination of the rings and the low resolution of his telescope initially led him to believe that they were large moons. Christiaan Huygens, with better means of observation, was able to clearly observe the rings in 1659. James Clerk Maxwell, in 1859, mathematically demonstrated that the rings could not be a single solid object but must be the grouping of millions of smaller particles.
          </p>
        </section>
        <!-- end main text -->
      </section>
      <!-- End first main section 100vh -->
      <!-- second main section 100% -->
      <section class="main_Earth2">
        <div class="bgEarth1"></div>
        <div class="main_Saturnback">
          <div class="bgEarth1"></div>
          <div class="bgEarth1x"></div>
          <div class="main-movements" data-aos="fade-up">
            <h2>Main Movements</h2>
            <ul class="list2">
              <li>
                <b>- Rotation.</b> Saturn revolves around the Sun at a mean distance of 1,418 million km in an orbit of eccentricity 0.056, which places aphelion at 1,500 million km and perihelion at 1,240 million km. Saturn was found at perihelion in 1974
              </li>
              <li>
                <b>- Translation.</b> The period of translation around the Sun is 29 years and 167 days, while its synodic period is 378 days, so that, each year, the opposition occurs almost two weeks later than the previous year. The period of rotation on its axis is short, 10 hours and 14 minutes, with some variations between the equator and the poles.
              </li>
            </ul>
          </div>

          <div class="list-general list-general-none">
            <h2>GENERAL CHARACTERISTICS</h2>
            <ul class="list2">
              <li><b>Category:</b> Rocky Planet</li>
            <li><b>Star:</b> Sun</li>
            <li><b>Distance to its star:</b> 1.429.400.000 km</li>
            <li><b>Diameter:</b> 	120 536 km</li>
            <li><b>Average orbital speed:</b> 9672,4 m/s</li>
            <li><b>Gravity:</b>	10,44 m/s²</li>
            <li><b>Density:</b> 690 kg/m³</li>
            <li><b>Mass:</b> 	5,688 × 10<sup>26</sup> kg</li>
              <button id="btn-tables-res" class="btn-aside">See More...</button>
            </ul>
          </div>

          <div class="list-general" data-aos="fade-up">
            <h2>Most Abundant Elements On Its Atmosphere</h2>
            <ul class="list2">
              <li>Hydrogen <b>(>93%)</b></li>
              <li>Helium <b>(>5%)</b></li>
              <li>Methane <b>(0.2%)</b></li>
              <li>Gas water vapor <b>(0.1%)</b></li>
              <li>Ammonia <b>(0.01%)</b></li>
              <li>Ethane <b>(0.0005%)</b></li>
              <li>Phosphane <b>(0.0001%)</b></li>
            </ul>
          </div>
        </div>
        <div class="main_Saturnback2">
          <div class="bgEarth1"></div>
          <div class="bgEarth1x"></div>
          <div class="lists">
            <h2>
              GENERAL FEATURES OF SATURN
            </h2>
            <ul>
              <div data-aos="fade-right">
                <li>
                  - <b> Saturn's Atmosphere</b><br /><br />
                  <ul>
                    <li>
                      Saturn's atmosphere has a pattern of dark bands and light zones similar to that of Jupiter, although the distinction between the two is much less clear in the case of Saturn. The planet's atmosphere has strong winds in the direction of alternating parallels in latitude and is highly symmetrical in both hemispheres despite the seasonal effect of the planet's axial tilt. The wind is dominated by a strong and broad cloud-level equatorial current that reached speeds of up to 450 m/s in the Voyager epoch. Unlike Jupiter, no large stable vortices are apparent, although smaller ones are.
                    </li>
                    <li>
                      The upper clouds are likely to be made up of ammonia crystals. Above them, a uniform fog seems to spread over the entire planet, produced by photochemical phenomena in the upper atmosphere —around 10 mbar—. At deeper levels - around 10 bar of pressure - the water in the atmosphere could condense into a cloud layer of water that has not yet been observed.
                    </li>
                    <li>
                      As on Jupiter, storms occasionally form in Saturn's atmosphere, and some of them have been seen from Earth. In 1933, a white spot located in the equatorial zone was observed by the amateur astronomer W. T. Hay. It was large enough to be visible with a 7cm refractor, but it soon dissipated and faded away. In 1962, a new stain began to develop, but it never came to prominence. In 1990, a gigantic white cloud could be observed in the equator of Saturn that has been assimilated to a process of formation of great storms. Similar spots have been observed on photographic plates taken over the last century and a half at intervals of about 30 years. In 1994, a second major storm about half the size of the one produced in 1990 was observed.
                    </li>
                  </ul>
                </li>
              </div>
              <div data-aos="fade-right">
                <li>
                  - <b> Internal structure of Saturn</b><br /><br />
                  <ul>
                    <li>
                      Typical planetary models consider the interior of the planet to be similar to that of Jupiter, with a rocky core surrounded by hydrogen, helium, and traces of other volatile substances. An extensive layer of liquid hydrogen extends over it, due to the effects of high pressures and temperatures. The outer 30,000 km of the planet is made up of an extensive atmosphere of hydrogen and helium. The interior of the planet probably contains a core made up of icy materials accumulated in the early formation of the planet and which are in a liquid state at conditions of pressure and temperature near the core. It is found at temperatures around 12,000 K—about twice the surface temperature of the Sun.
                    </li>
                    <li>
                      Por otro lado, y al igual que Júpiter y Neptuno, Saturno irradia más calor al exterior del que recibe del Sol. Una parte de esta energía está producida por una lenta contracción del planeta que libera la energía potencial gravitatoria producida en la compresión. Este mecanismo se denomina mecanismo de Kelvin-Helmholtz. El calor extra generado se produce en una separación de fases entre el hidrógeno y el helio relativamente homogéneos que se están diferenciando desde la formación del planeta, liberando energía gravitatoria en forma de calor.
                    </li>
                  </ul>
                </li>
              </div>
              <div data-aos="fade-right">
                <li>
                  - <b> Satellites</b><br /><br />
                  <ul>
                    <li>
                      Saturn has a large number of satellites (82 with regular orbits, as of 2019), the largest of which, Titan is the only satellite in the solar system with a significant atmosphere.
                    </li>
                    <li>
                      The largest satellites known before the beginning of space research are: Mimas, Enceladus, Tethys, Dione, Rhea, Titan, Hyperion, Iapetus and Phoebe. Both Enceladus and Titan are especially interesting objects for planetary scientists, since in the former the possible existence of liquid water at a shallow depth from its surface is believed, based on the emission of water vapor in geysers and, in the latter, It has an atmosphere rich in methane and similar to that of the early Earth.
                    </li>

                    <li>
                      Another 30 satellites of Saturn have names, but the exact number is uncertain due to the large number of objects orbiting this planet. In the year 2000, 12 new satellites were detected, whose orbits suggest that they are fragments of larger objects captured by Saturn. The Cassini-Huygens mission has also found new satellites, the last of which was announced on March 3, 2009, making it number 61 on the planet.
                    </li>
                  </ul>
                </li>
              </div>
              <div data-aos="fade-right">
                <li>
                  - <b> Magnetosphere</b><br /><br />
                  <ul>
                    <li>
                      Saturn's magnetic field is much weaker than Jupiter's, and its magnetosphere is one-third that of Jupiter. Saturn's magnetosphere consists of a set of toroidal radiation belts in which electrons and atomic nuclei are trapped. The belts extend about two million kilometers from the center of Saturn, and even more, away from the Sun, although the size of the magnetosphere varies depending on the intensity of the solar wind (the flow of charged particles from the Sun)
                    </li>
                    <li>
                      The solar wind and Saturn's satellites and rings supply the particles that are trapped in the radiation belts. The 10-hour, 39-minute, 25-second rotational period of Saturn's interior was measured by Voyager 1 as it passed through the magnetosphere, which rotates synchronously with Saturn's interior. The magnetosphere interacts with the ionosphere, the upper layer of Saturn's atmosphere, causing auroral emissions of ultraviolet radiation; Recent studies show that instead of a ring of several smaller aurorae, like on Jupiter or Earth, there is a single large ring-shaped aurorae at the north pole of the planet.
                    </li>
                    <li>
                      Surrounding the orbit of Titan, and extending into the orbit of Rhea, is a huge toroidal cloud of neutral hydrogen atoms. A disk of plasma, composed of hydrogen and possibly oxygen ions, extends from just outside Tethys's orbit almost to Titan's. The plasma rotates in almost perfect synchronicity with Saturn's magnetic field.
                    </li>
                  </ul>
                </li>
              </div>
            </ul>
          </div>
        </div>

        <a href="./urano.html" class="btn next">NEXT PLANET</a>
        <!-- Footer -->
        <footer class="footer-Earth">
          <div class="wrapper">
            <a
              href="mailto:stivendiazh@gmail.com"
              target="__BLANK"
              class="iconsocial email"
            >
              <div class="tooltip">Email</div>
              <span><i class="fa-solid fa-envelope"></i></span>
            </a>
            <a
              href="https://www.linkedin.com/in/stiven-diaz-3892aa224"
              target="__BLANK"
              class="iconsocial linkdein"
            >
              <div class="tooltip" translate="no">linkdein</div>
              <span><i class="fab fa-linkedin"></i></span>
            </a>
            <a
              href="https://instagram.com/stiven_dz"
              target="__BLANK"
              class="iconsocial instagram"
            >
              <div class="tooltip">Instagram</div>
              <span><i class="fab fa-instagram"></i></span>
            </a>
            <a
              href="https://github.com/StivenDz"
              target="__BLANK"
              class="iconsocial github"
            >
              <div class="tooltip">Github</div>
              <span><i class="fab fa-github"></i></span>
            </a>
          </div>
          <p>&copy; Stiven Diaz | CoderHouse</p>
        </footer>
        <!-- End Footer -->
      </section>
      <!--End second main section 100% -->
    </main>
    <!-- End all content text and backgrounds -->
    <script src="../animation/three.min.js"></script>
    <script src="../animation/stars.js"></script>
    <script src="../animation/nav-index.js"></script>
    <script src="../animation/tables.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
