<!DOCTYPE html>
<html lang="en" translate="yes">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Saturn is the sixth planet from the Sun and the second-largest in the Solar System, after Jupiter. It is a gas giant with an average radius of about nine and a half times that of Earth. It only has one-eighth the average density of Earth; however, with its larger volume, Saturn is over 95 times more massive.
    Saturn's interior is most likely composed of a core of iron-nickel and rock (silicon and oxygen compounds). Its core is surrounded by a deep layer of metallic hydrogen, an intermediate layer of liquid hydrogen and liquid helium, and finally, a gaseous outer layer."
    />
    <meta
      name="keywords"
      content="SOLAR SYSTEM,PLANETS,GALAXY,SATURN PLANET, ROTATION, SUN, STAR, GRAVITY, PLANET ANIMATION, PLANET 3D, MASS, DENSITY"
    />

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="stylesheet" href="../styles/main.css" />
    <script
      src="https://kit.fontawesome.com/53d40d2367.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="shortcut icon"
      href="../images/Icons/favicon-32x32.png"
      type="image/x-icon"
    />

    <title>SATURN | All About Saturn Planet</title>
  </head>
  <body class="body_saturno">
    <!-- button go home -->
    <a href="/SOLAR-SYS" class="btn position-button"
      ><i class="fas fa-home"></i
    ></a>
    <!-- End button go home -->

    <!-- circle menu -->
    <section class="planets-names animation">
      <section class="planets1">
        <div class="firstPlanet">
          <p><a href="./mercurio.html"></a>Mercurio</p>
          <span></span>
        </div>
        <div class="secondPlanet">
          <p><a href="./venus.html"></a>Venus</p>
          <span></span>
        </div>
        <div class="thirdPlanet">
          <p><a href="./tierra.html"></a>Tierra</p>
          <span></span>
        </div>
      </section>
      <section class="planets2">
        <div class="firstPlanet2">
          <p><a href="./marte.html"></a>Marte</p>
          <span></span>
        </div>
        <div class="secondPlanet2">
          <p><a href="./jupiter.html"></a>Jupiter</p>
          <span></span>
        </div>
        <div class="thirdPlanet2">
          <p><a href="./saturno.html"></a>Saturno</p>
          <span></span>
        </div>
      </section>
      <section class="planets3">
        <div class="firstPlanet3">
          <p><a href="./urano.html"></a>Urano</p>
          <span></span>
        </div>
        <div class="secondPlanet3">
          <p><a href="./neptuno.html"></a>Neptuno</p>
          <span></span>
        </div>
        <div class="thirdPlanet3">
          <p><a href="./pluton.html"></a>Plutón</p>
          <span></span>
        </div>
      </section>
    </section>
    <header class="menu menu--circle">
      <input type="checkbox" id="menu__active" />
      <label for="menu__active" class="menu__active">
        <div class="menu__toggle">
          <div class="icon">
            <div class="hamburger"></div>
          </div>
        </div>

        <input type="radio" name="arrow--up" id="degree--up-0" />
        <input type="radio" name="arrow--up" id="degree--up-1" />
        <input type="radio" name="arrow--up" id="degree--up-2" />

        <div class="menu__listings">
          <ul class="circle">
            <li>
              <div class="placeholder">
                <div class="upside">
                  <a href="./venus.html" title="Venus" class="button"
                    ><i class="fa-solid fa-earth-americas"></i
                  ></a>
                </div>
              </div>
            </li>
            <li>
              <div class="placeholder">
                <div class="upside">
                  <a href="./mercurio.html" title="Mercurio" class="button"
                    ><i class="fa-solid fa-earth-africa"></i
                  ></a>
                </div>
              </div>
            </li>
            <li>
              <div class="placeholder">
                <div class="upside">
                  <a href="#">&nbsp</a>
                </div>
              </div>
            </li>
            <li>
              <div class="placeholder">
                <div class="upside">
                  <a href="./pluton.html" title="Pluton" class="button"
                    ><i class="fa-solid fa-earth-africa"></i
                  ></a>
                </div>
              </div>
            </li>
            <li>
              <div class="placeholder">
                <div class="upside">
                  <a href="./neptuno.html" title="Neptuno" class="button"
                    ><i class="fa-solid fa-earth-americas"></i
                  ></a>
                </div>
              </div>
            </li>
            <li>
              <div class="placeholder">
                <div class="upside">
                  <a href="./urano.html" title="Urano" class="button"
                    ><i class="fa-solid fa-earth-oceania"></i
                  ></a>
                </div>
              </div>
            </li>
            <li>
              <div class="placeholder">
                <div class="upside">
                  <a href="./saturno.html" title="Saturno" class="button"
                    ><i class="fa-solid fa-earth-americas"></i
                  ></a>
                </div>
              </div>
            </li>
            <li>
              <div class="placeholder">
                <div class="upside">
                  <a href="./jupiter.html" title="Jupiter" class="button"
                    ><i class="fa-solid fa-earth-africa"></i
                  ></a>
                </div>
              </div>
            </li>
            <li>
              <div class="placeholder">
                <div class="upside">
                  <a href="./marte.html" title="Marte" class="button"
                    ><i class="fa-solid fa-earth-oceania"></i
                  ></a>
                </div>
              </div>
            </li>
            <li>
              <div class="placeholder">
                <div class="upside">
                  <a href="./tierra.html" title="Tierra" class="button"
                    ><i class="fa-solid fa-earth-oceania"></i
                  ></a>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="menu__arrow menu__arrow--top">
          <ul>
            <li>
              <label class="degree--up-0" for="degree--up-0"
                ><div class="arrow"></div
              ></label>
              <label class="degree--up-1" for="degree--up-1"
                ><div class="arrow"></div
              ></label>
              <label class="degree--up-2" for="degree--up-2"
                ><div class="arrow"></div
              ></label>
            </li>
          </ul>
        </div>
      </label>
    </header>
    <!-- End circle menu -->

    <!-- all content text and backgrounds -->
    <main class="main_Container">
      <!-- first main section 100vh -->
      <section class="main_Earth">
        <!-- back appear -->
        <picture class="backAppear backAppearJs"></picture>
        <!-- back linear #000 to transparent 30% -->
        <div class="bgEarth1x"></div>
        <!-- Earth Planet Background animation -->
        <picture class="wrapperSaturno3">
          <!-- <div class="bgSaturno2"></div> -->
        </picture>
        <!-- main-text -->
        <section class="tables">
          <button class="close-tables"><span></span></button>
          <h2>GENERAL CHARACTERISTICS OF SATURN</h2>
          <ul class="listx">
            <li><b> Distancia media al Sol: </b> 9,582 UA = 1,4335x109 km</li>
            <li><b> Máxima distancia al Sol: </b> 10,044 UA =1,503x109 km</li>
            <li><b> Mínima distancia al Sol: </b> 9,014 UA =1,348x109 km</li>
            <li><b> Velocidad orbital media: </b> 9,7 km/s</li>
            <li><b> Periodo sideral: </b> 29,42 años</li>
            <li>
              <b> Periodo de rotación: </b> 10 h 13m 59s - 10 h 39m 25s interior
            </li>
            <li><b> Inclinación del ecuador a la órbita: </b> 27°</li>
            <li><b> Inclinación de la órbita a la eclíptica: </b> 2°29'</li>
            <li><b> Excentricidad orbital: </b> 0,054</li>
            <li><b> Diámetro (ecuatorial): </b> 120,536 km - 107,000 polar</li>
            <li><b> Diámetro (Tierra = 1): </b> 9,26 - 8,27 polar</li>
            <li><b> Diámetro aparente desde la Tierra, Max: </b> 20,9"</li>
            <li><b> Diámetro aparente desde la Tierra, Min: </b> 15"</li>
            <li><b> Masa: </b> 5,69x1026 kg</li>
            <li><b> Masa (Tierra=1): </b> 95,1</li>
            <li><b> Densidad media </b> 687 kg/m3</li>
            <li><b> Gravedad en la superficie (Tierra=1) </b> 1,07</li>
            <li><b> Velocidad de escape </b> 35,5 km/s</li>
            <li><b> Achatamiento </b> 0,108</li>
            <li>
              <b> Temperatura de superficie media:</b> arriba de las nubes
              -180°C=-292°F=93K
            </li>
            <li><b> Albedo </b> 0,76</li>
            <li><b> Magnitud de max. brillo: </b> -0,3</li>
            <li><b> Diámetro medio del Sol desde Saturno </b> 3'22"</li>
          </ul>
        </section>
        <aside class="aside-flotante whitoutBack">
          <h2>GENERAL CHARACTERISTICS</h2>
          <ul class="list">
            <li><b>Category:</b> Rocky Planet</li>
            <li><b>Star:</b> Sun</li>
            <li><b>Distance to its star:</b> 149,598,262 km (1 AU)</li>
            <li><b>Diameter:</b> 12,756 km</li>
            <li><b>Average orbital speed:</b> 29.8 km/s</li>
            <li><b>Gravity:</b> 9.8m/s2</li>
            <li><b>Density:</b> 5,513 Kg/m3</li>
            <li><b>Mass:</b> 5.97x10^24 Kg</li>
            <button id="btn-tables" class="btn-aside">See More...</button>
          </ul>
        </aside>
        <section class="main-text overflow">
          <div class="title">
            <div class="cont-appear2"><h1>Saturn</h1></div>
            <p>
              Planet Earth is the third planet orbiting the Sun
              <b
                >(star of type G2V, who is in his youth according to stellar
                evolution)</b
              >, is a metallic terrestrial planet, classified in this category
              along with <b>Mercury, Venus and Mars</b> due to the composition
              of their nuclei.<br />
              The planet Earth is characterized by being the densest in the
              entire Solar System, by having the most intense magnetic field and
              the highest surface gravity of the rocky planets, since it has the
              highest rotation speed.
            </p>
            <p class="second-text-responsive">
              Planet Earth does not have rings. It has a natural satellite
              called "Selene" or more popularly known as Luna, it orbits only
              384,400 km away from the surface, it is the fourth largest natural
              satellite in the Solar System. This contributes to the
              stabilization of the tilt of the Earth, as well as tidal changes.
            </p>
          </div>
        </section>
        <section class="second-text-main">
          <p>
            Planet Earth does not have rings. It has a natural satellite called
            "Selene" or more popularly known as Luna, it orbits only 384,400 km
            away from the surface, it is the fourth largest natural satellite in
            the Solar System. This contributes to the stabilization of the tilt
            of the Earth, as well as tidal changes.
          </p>
        </section>
        <!-- end main text -->
      </section>
      <!-- End first main section 100vh -->
      <!-- second main section 100% -->
      <section class="main_Earth2">
        <div class="bgEarth1"></div>
        <div class="main_Saturnback">
          <div class="bgEarth1"></div>
          <div class="bgEarth1x"></div>
          <div class="main-movements" data-aos="fade-up">
            <h2>Main Movements</h2>
            <ul class="list2">
              <li>
                <b>- Rotation.</b> A rotating movement on its own axis, which
                intermittently exposes its surface to the sun and is the cause
                of days and nights.9
              </li>
              <li>
                <b>- Translation.</b> This is the displacement of the planet
                along its solar orbit, describing more or less an ellipse as a
                path. Every time we celebrate a year, it marks one more
                revolution of the planet around the Sun
              </li>
            </ul>
          </div>

          <div class="list-general list-general-none">
            <h2>GENERAL CHARACTERISTICS</h2>
            <ul class="list2">
              <li><b>Category:</b> Rocky Planet</li>
              <li><b>Star:</b> Sun</li>
              <li><b>Distance to its star:</b> 149,598,262 km (1 AU)</li>
              <li><b>Diameter:</b> 12,756 km</li>
              <li><b>Average orbital speed:</b> 29.8 km/s</li>
              <li><b>Gravity:</b> 9.8m/s2</li>
              <li><b>Density:</b> 5,513 Kg/m3</li>
              <li><b>Mass:</b> 5.97x 10 <sup>24</sup> Kg</li>
              <button id="btn-tables-res" class="btn-aside">See More...</button>
            </ul>
          </div>

          <div class="list-general" data-aos="fade-up">
            <h2>Most Abundant Elements</h2>
            <ul class="list2">
              <li>iron <b>(32.1%)</b></li>
              <li>oxygen <b>(30.1%)</b></li>
              <li>silicon <b>(15.1%)</b></li>
              <li>magnesium <b>(13.9%)</b></li>
              <li>sulfur <b>(2.9%)</b></li>
              <li>nickel <b>(1.8%)</b></li>
              <li>calcium <b>(1.5%)</b></li>
              <li>aluminum <b>(1.4%)</b></li>
              <li>leaving 1.2% for the rest of the elements.</li>
            </ul>
          </div>
        </div>
        <div class="lists">
          <h2>
            Planet Earth is made up of concentric layers of matter that extend
            toward the core from the surface. These layers are:
          </h2>
          <ul>
            <div data-aos="fade-right">
              <li>
                - <b> lithosphere</b>. It extends from the surface (0 kilometers
                deep) to about 60 kilometers inwards, being the least dense
                layer of all and the only one that we can visit with concrete
                physical means. That's where the tectonic plates are, for
                example. The lithosphere is further divided into two distinct
                layers. <br /><br />
                <ul>
                  <li>
                    Cortex. It goes from 0 to 35 kilometers deep, being the
                    layer where life is located, consisting mainly of solid
                    silicates.
                  </li>
                  <li>
                    Upper mantle. It ranges from 35 to 60 kilometers deep, and
                    is composed mostly of peridotite rocks, extremely basic,
                    from which the basalts could come.
                  </li>
                </ul>
              </li>
            </div>
            <div data-aos="fade-right">
              <li>
                - <b> Earth's mantle</b>. The mantle of the Earth goes from 35
                kilometers deep, to 2890, that is, to the outer part of the
                core. It is the widest layer of the internal structure of the
                Earth, rich in silicates, magnesium and iron, all in a
                semi-solid state and of variable viscosity. Within the mantle is
                the inner mantle and also the asthenosphere.<br /><br />
                <ul>
                  <li>
                    Asthenosphere. A low-viscosity layer that comprises the
                    upper part of the Earth's mantle, made up of silicate
                    materials in a solid state and semi-molten or partially
                    molten, depending on its proximity to the boiling magma. The
                    tectonic plates move above the asthenosphere. This layer
                    goes from 100 to 700 kilometers deep.
                  </li>
                </ul>
              </li>
            </div>
            <div data-aos="fade-right">
              <li>
                - <b> Nucleus</b>. The terrestrial core is the "heart" of the
                planet, and is composed mostly of ferromagnetic metals (iron and
                nickel), divided into two stages:<br /><br />
                <ul>
                  <li>
                    External nucleus. Stretching from 2,890 kilometers to 5,100
                    kilometers deep, this liquid layer of highly viscous metal
                    rests on the inner core and comprises mostly iron, with
                    traces of lighter elements.
                  </li>
                  <li>
                    Inner core. The true center of the Earth is a core of solid
                    metal, which rotates with a slightly higher angular speed
                    than the rest of the planet, and which is responsible for
                    the generation of its magnetosphere. It has a radius of
                    approximately 1,255 kilometers and its composition is
                    believed to be 70% iron and 30% nickel, along with minute
                    portions of other heavy metals such as iridium, lead, and
                    titanium.
                  </li>
                </ul>
              </li>
            </div>
          </ul>
        </div>

        <a href="./urano.html" class="btn next">NEXT PLANET</a>
        <!-- Footer -->
        <footer class="footer-Earth">
          <div class="wrapper">
            <a
              href="mailto:stivendiazh@gmail.com"
              target="__BLANK"
              class="iconsocial email"
            >
              <div class="tooltip">Email</div>
              <span><i class="fa-solid fa-envelope"></i></span>
            </a>
            <a
              href="https://www.linkedin.com/in/stiven-diaz-3892aa224"
              target="__BLANK"
              class="iconsocial linkdein"
            >
              <div class="tooltip" translate="no">linkdein</div>
              <span><i class="fab fa-linkedin"></i></span>
            </a>
            <a
              href="https://instagram.com/stiven_dz"
              target="__BLANK"
              class="iconsocial instagram"
            >
              <div class="tooltip">Instagram</div>
              <span><i class="fab fa-instagram"></i></span>
            </a>
            <a
              href="https://github.com/StivenDz"
              target="__BLANK"
              class="iconsocial github"
            >
              <div class="tooltip">Github</div>
              <span><i class="fab fa-github"></i></span>
            </a>
          </div>
        </footer>
        <!-- End Footer -->
      </section>
      <!--End second main section 100% -->
    </main>
    <!-- End all content text and backgrounds -->
    <script src="../animation/three.min.js"></script>
    <script src="../animation/stars.js"></script>
    <script src="../animation/nav-index.js"></script>
    <script src="../animation/tables.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
