<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../styles/main.css" />
    <link
      rel="shortcut icon"
      href="../images/Icons/favicon-32x32.png"
      type="image/x-icon"
    />
    <title>Document</title>
  </head>
  <body style="background: rgb(15, 15, 15); color: #fff">
    <section class="tables t-mercury">
      <h2>GENERAL CHARACTERISTICS OF MERCURY</h2>
      <ul class="listx">
        <li><b> Distancia media al Sol: </b>0,387 UA = 5,79x107 km</li>
        <li><b> Máxima distancia al Sol: </b>0,467 UA=6,98x107 km</li>
        <li><b> Mínima distancia al Sol: </b>0,307 UA=4,60x107 km</li>
        <li><b> Velocidad orbital media: </b>47,4 km/s</li>
        <li><b> Periodo sideral: </b>87,969 dias</li>
        <li><b> Periodo de rotación: </b>58,646 dias</li>
        <li><b> Inclinación del ecuador a la órbita: </b>0,01°</li>
        <li><b> Inclinación de la órbita a la eclíptica: </b>7°00'16"</li>
        <li><b> Excentricidad orbital: </b>0,206</li>
        <li><b> Diámetro (ecuatorial): </b>4.879 km</li>
        <li><b> Diámetro (Tierra = 1): </b>0,382</li>
        <li><b> Diámetro aparente desde la Tierra, Max: </b>12,9"</li>
        <li><b> Diámetro aparente desde la Tierra, Min: </b>4,5"</li>
        <li><b> Masa: </b>3,3x1023 kg</li>
        <li><b> Masa (Tierra=1): </b>0,0553</li>
        <li><b> Densidad media: </b>5.427 kg/m3</li>
        <li><b> Gravedad en la superficie (Tierra=1): </b>0,38</li>
        <li><b> Velocidad de escape: </b>4,3 km/s</li>
        <li><b> Achatamiento: </b>0</li>
        <li><b> Temperatura de superficie media, dia: </b>350°C=662°F=623K</li>
        <li>
          <b> Temperatura de superficie media, noche: </b>-170°C=-274°F=103K
        </li>
        <li><b> Albedo: </b>0,1</li>
        <li><b> Magnitud de max. brillo: </b>-1,9</li>
        <li><b> Diámetro medio del Sol desde Mercurio: </b>1°22'40"</li>
      </ul>
    </section>
    <section class="tables t-venus">
      <h2>GENERAL CHARACTERISTICS OF VENUS</h2>
      <ul class="listx">
        <li><b> Distancia media al Sol: </b> 0,723 UA = 1,082x108 km</li>
        <li><b> Máxima distancia al Sol: </b> 0,728 UA =1,089x108 km</li>
        <li><b> Mínima distancia al Sol: </b> 0,718 UA =1,075x108 km</li>
        <li><b> Velocidad orbital media: </b> 35,0 km/s</li>
        <li><b> Periodo sideral: </b> 224,70 dias</li>
        <li><b> Periodo de rotación: </b> 243,01 dias Retrógrado</li>
        <li><b> Inclinación del ecuador a la órbita: </b> 177,4°</li>
        <li><b> Inclinación de la órbita a la eclíptica: </b> 3,39</li>
        <li><b> Excentricidad orbital: </b> 0,0068</li>
        <li><b> Diámetro (ecuatorial): </b> 12,104 km</li>
        <li><b> Diámetro (Tierra = 1): </b> 0,949</li>
        <li><b> Diámetro aparente desde la Tierra, Max: </b> 65,2"</li>
        <li><b> Diámetro aparente desde la Tierra, Min: </b> 9,5"</li>
        <li><b> Masa: </b> 4,87x1024 kg</li>
        <li><b> Masa (Tierra=1): </b> 0,8150</li>
        <li><b> Densidad media </b> 5.243 kg/m3</li>
        <li><b> Graved </b>ad en la superficie (Tierra=1) 0,903</li>
        <li><b> Velocidad de escape </b> 10,4 km/s</li>
        <li><b> Achatamiento </b> 0</li>
        <li><b> Temperatura media de la superficie </b> 480°C=900°F=750K</li>
        <li><b> Albedo </b> 0,65</li>
        <li><b> Magnitud de max. brillo: </b> -4,4</li>
        <li><b> Diámetro medio del Sol desde Venus </b> 44'15"</li>
      </ul>
    </section>
    <section class="tables t-earth">
      <h2>GENERAL CHARACTERISTICS OF EARTH</h2>
      <ul class="listx">
        <li><b> Distancia media al Sol: </b> 1,000 UA = 1,496x108 km</li>
        <li><b> Máxima distancia al Sol: </b> 1,017 UA =1,521x108 km</li>
        <li><b> Mínima distancia al Sol: </b> 0,983 UA =1,471x108 km</li>
        <li><b> Velocidad orbital media: </b> 29,8 km/s</li>
        <li><b> Periodo sideral: </b> 365,256 dias</li>
        <li><b> Periodo de rotación: </b> 23,9345 horas</li>
        <li><b> Inclinación del ecuador a la órbita: </b> 23° 27'</li>
        <li><b> Inclinación de la órbita a la eclíptica: </b> 0°</li>
        <li><b> Excentricidad orbital: </b> 0,0167</li>
        <li><b> Diámetro (ecuatorial): </b> 12,756 km</li>
        <li><b> Masa: </b> 5,976x1024 kg</li>
        <li><b> Densidad media </b> 5.514 kg/m3</li>
        <li><b> Velocidad de escape </b> 11,2 km/s</li>
        <li><b> Achatamiento </b> 0,0034</li>
        <li><b> Temperatura de superficie, media: </b> 20°C=68°F=293K</li>
        <li><b> Temperatura de superficie, max: </b> 60°C=140°F=333K</li>
        <li><b> Temperatura de superficie, min: </b> -90°C=-130°F=183K</li>
        <li><b> Albedo* </b> 0,39</li>
        <li><b> Magnitud de max. brillo: </b> -1,9</li>
        <li><b> Diámetro medio del Sol desde Tierra </b> 0°32'</li>
      </ul>
    </section>
    <section class="tables t-mars">
      <h2>GENERAL CHARACTERISTICS OF MARS</h2>
      <ul class="listx">
        <li><b> Distancia media al Sol: </b> 1,524 UA = 2,279x108 km</li>
        <li><b> Máxima distancia al Sol: </b> 1,666 UA =2,491x108 km</li>
        <li><b> Mínima distancia al Sol: </b> 1,382 UA =2,067x108 km</li>
        <li><b> Velocidad orbital media: </b> 24,1 km/s</li>
        <li><b> Periodo sideral: </b> 686,98 dias 1,88 años</li>
        <li><b> Periodo de rotación: </b> 24hr 37m 23s</li>
        <li><b> Inclinación del ecuador a la órbita: </b> 25° 11'</li>
        <li><b> Inclinación de la órbita a la eclíptica: </b> 1°50'59"</li>
        <li><b> Excentricidad orbital: </b> 0,0934</li>
        <li><b> Diámetro (ecuatorial): </b> 6.794 km</li>
        <li><b> Diámetro (Tierra = 1): </b> 0,532</li>
        <li><b> Diámetro aparente desde la Tierra, Max: </b> 25,7"</li>
        <li><b> Diámetro aparente desde la Tierra, Min: </b> 3,5"</li>
        <li><b> Masa: </b> 6,42x1023 kg</li>
        <li><b> Masa (Tierra=1): </b> 0,107</li>
        <li><b> Densidad media </b> 3.933 kg/m3</li>
        <li><b> Gravedad en la superficie (Tierra=1) </b> 0,380</li>
        <li><b> Velocidad de escape </b> 5,0 km/s</li>
        <li><b> Achatamiento </b> 0,006</li>
        <li><b> Temperatura de superficie, max: </b> 20°C=68°F=293K</li>
        <li><b> Temperatura de superficie, min: </b> -140°C=-220°F=133K</li>
        <li><b> Albedo </b> 0,15</li>
        <li><b> Magnitud de max. brillo: </b> -2,0</li>
        <li><b> Diámetro medio del Sol desde Marte </b> 21'</li>
      </ul>
    </section>
    <section class="tables t-jupiter">
      <h2>GENERAL CHARACTERISTICS OF JUPITER</h2>
      <ul class="listx">
        <li><b> Distancia media al Sol: </b> 5,205 UA = 7,786x108 km</li>
        <li><b> Máxima distancia al Sol: </b> 5,455 UA =8,157x108 km</li>
        <li><b> Mínima distancia al Sol: </b> 4,951 UA =7,409x108 km</li>
        <li><b> Velocidad orbital media: </b> 13,1 km/s</li>
        <li><b> Periodo sideral: </b> 11,86 años</li>
        <li><b> Periodo de rotación: </b> 9hr 50m 30s ecuatorial</li>
        <li><b> Inclinación del ecuador a la órbita: </b> 3° 04'</li>
        <li><b> Inclinación de la órbita a la eclíptica: </b> 1,30°18'</li>
        <li><b> Excentricidad orbital: </b> 0,0485</li>
        <li><b> Diámetro (ecuatorial): </b> 142,984 km - 133,500 km polar</li>
        <li><b> Diámetro (Tierra = 1): </b> 11,19 - 10,47 polar</li>
        <li><b> Diámetro aparente desde la Tierra, Max: </b> 50,1"</li>
        <li><b> Diámetro aparente desde la Tierra, Min: </b> 30,4"</li>
        <li><b> Masa: </b> 1,90x1027 kg</li>
        <li><b> Masa (Tierra=1): </b> 318</li>
        <li><b> Densidad media </b> 1.326 kg/m3</li>
        <li><b> Gravedad en la superficie (Tierra=1) </b> 2,53</li>
        <li><b> Velocidad de escape </b> 59,5 km/s</li>
        <li><b> Achatamiento </b> 0,065</li>
        <li>
          <b> Temperatura media de superficie: </b> arriba de las nubes
          -110°C=-166°F=163K
        </li>
        <li><b> Albedo </b> 0,52</li>
        <li><b> Magnitud de max. brillo: </b> -2,7</li>
        <li><b> Diámetro medio del Sol desde Júpiter </b> 6'09"</li>
      </ul>
    </section>
    <section class="tables t-saturno">
      <h2>GENERAL CHARACTERISTICS OF SATURN</h2>
      <ul class="listx">
        <li><b> Distancia media al Sol: </b> 9,582 UA = 1,4335x109 km</li>
        <li><b> Máxima distancia al Sol: </b> 10,044 UA =1,503x109 km</li>
        <li><b> Mínima distancia al Sol: </b> 9,014 UA =1,348x109 km</li>
        <li><b> Velocidad orbital media: </b> 9,7 km/s</li>
        <li><b> Periodo sideral: </b> 29,42 años</li>
        <li>
          <b> Periodo de rotación: </b> 10 h 13m 59s - 10 h 39m 25s interior
        </li>
        <li><b> Inclinación del ecuador a la órbita: </b> 27°</li>
        <li><b> Inclinación de la órbita a la eclíptica: </b> 2°29'</li>
        <li><b> Excentricidad orbital: </b> 0,054</li>
        <li><b> Diámetro (ecuatorial): </b> 120,536 km - 107,000 polar</li>
        <li><b> Diámetro (Tierra = 1): </b> 9,26 - 8,27 polar</li>
        <li><b> Diámetro aparente desde la Tierra, Max: </b> 20,9"</li>
        <li><b> Diámetro aparente desde la Tierra, Min: </b> 15"</li>
        <li><b> Masa: </b> 5,69x1026 kg</li>
        <li><b> Masa (Tierra=1): </b> 95,1</li>
        <li><b> Densidad media </b> 687 kg/m3</li>
        <li><b> Gravedad en la superficie (Tierra=1) </b> 1,07</li>
        <li><b> Velocidad de escape </b> 35,5 km/s</li>
        <li><b> Achatamiento </b> 0,108</li>
        <li>
          <b> Temperatura de superficie media:</b> arriba de las nubes
          -180°C=-292°F=93K
        </li>
        <li><b> Albedo </b> 0,76</li>
        <li><b> Magnitud de max. brillo: </b> -0,3</li>
        <li><b> Diámetro medio del Sol desde Saturno </b> 3'22"</li>
      </ul>
    </section>
    <section class="tables t-uranus">
      <h2>GENERAL CHARACTERISTICS OF URANUS</h2>
      <ul class="listx">
        <li><b> Distancia media al Sol: </b> 19,20 UA = 2,8725x109 km</li>
        <li><b> Máxima distancia al Sol: </b> 20,07 UA =3,003x109 km</li>
        <li><b> Mínima distancia al Sol: </b> 18,31 UA =2,739x109 km</li>
        <li><b> Velocidad orbital media: </b> 6,8 km/s</li>
        <li><b> Periodo sideral: </b> 83,75 años</li>
        <li><b> Periodo de rotación: </b> 17,2 horas</li>
        <li><b> Inclinación del ecuador a la órbita: </b> 97,9°</li>
        <li><b> Inclinación de la órbita a la eclíptica: </b> 0,77°</li>
        <li><b> Excentricidad orbital: </b> 0,046</li>
        <li><b> Diámetro (ecuatorial): </b> 51.118 km</li>
        <li><b> Diámetro (Tierra = 1): </b> 4,01</li>
        <li><b> Diámetro aparente desde la Tierra, Max: </b> 3,7"</li>
        <li><b> Diámetro aparente desde la Tierra, Min: </b> 3,1"</li>
        <li><b> Masa: </b> 8,7x1025 kg</li>
        <li><b> Masa (Tierra=1): </b> 14,5</li>
        <li><b> Densidad media </b> 1.271 kg/m3</li>
        <li><b> Gravedad en la superficie (Tierra=1) </b> 0,92</li>
        <li><b> Velocidad de escape </b> 21,3 km/s</li>
        <li><b> Achatamiento </b> 0,03</li>
        <li>
          <b> Temperatura de superficie media: </b> arriba de las nubes
          -216°C=-357°F=57K
        </li>
        <li><b> Albedo </b> 0,51</li>
        <li><b> Magnitud de max. brillo: </b> +5,6</li>
        <li><b> Diámetro medio del Sol desde Urano </b> 1'41"</li>
      </ul>
    </section>
    <section class="tables t-neptune">
      <h2>GENERAL CHARACTERISTICS OF NEPTUNE</h2>
      <ul class="listx">
        <li><b> Distancia media al Sol: </b> 30,05 UA = 4,4951x109 km</li>
        <li><b> Máxima distancia al Sol: </b> 30,36 UA=4,546x109 km</li>
        <li><b> Mínima distancia al Sol: </b> 29,76 UA=4,456x109 km</li>
        <li><b> Velocidad orbital media: </b> 5,43 km/s</li>
        <li><b> Periodo sideral: </b> 163,72 años</li>
        <li><b> Periodo de rotación: </b> 16,11 horas</li>
        <li><b> Inclinación del ecuador a la órbita: </b> 28,3°</li>
        <li><b> Inclinación de la órbita a la eclíptica: </b> 1,77°</li>
        <li><b> Excentricidad orbital: </b> 0,011</li>
        <li><b> Diámetro (ecuatorial): </b> 49.528 km</li>
        <li><b> Diámetro (Tierra = 1): </b> 3,88</li>
        <li><b> Diámetro aparente desde la Tierra, Max: </b> 2,2"</li>
        <li><b> Diámetro aparente desde la Tierra, Min: </b> 2,0"</li>
        <li><b> Masa: </b> 1,03x1026 kg</li>
        <li><b> Masa (Tierra=1): </b> 17,09</li>
        <li><b> Densidad media </b> 1.638 kg/m3</li>
        <li><b> Gravedad en la superficie (Tierra=1) </b> 1,12</li>
        <li><b> Velocidad de escape </b> 23,5 km/s</li>
        <li><b> Achatamiento </b> 0,026</li>
        <li>
          <b> Temperatura de superficie media:</b> arriba de las nubes
          -216°C=-357°F=57K
        </li>
        <li><b> Albedo </b> 0,35</li>
        <li><b> Magnitud de max. brillo: </b> +7,7</li>
        <li><b> Diámetro medio del Sol desde Neptuno </b> 1'04"</li>
      </ul>
    </section>
    <section class="tables t-pluto">
      <h2>GENERAL CHARACTERISTICS OF PLUTO</h2>
      <ul class="listx">
        <li><b> Distancia media al Sol: </b> 39,48 UA = 5,9064x109 km</li>
        <li><b> Máxima distancia al Sol: </b> 49,33 UA =7,380x109 km</li>
        <li><b> Mínima distancia al Sol: </b> 29,73 UA =4,447x109 km</li>
        <li><b> Velocidad orbital media: </b> 4,74 km/s</li>
        <li><b> Periodo sideral: </b> 247,93 años</li>
        <li><b> Periodo de rotación: </b> 6,3874 dias</li>
        <li><b> Inclinación del ecuador a la órbita: </b> 122°</li>
        <li><b> Inclinación de la órbita a la eclíptica: </b> 17,1°</li>
        <li><b> Excentricidad orbital: </b> 0,244</li>
        <li><b> Diámetro (ecuatorial): </b> 2.370 km</li>
        <li><b> Diámetro (Tierra = 1): </b> 0,18</li>
        <li><b> Diámetro aparente desde la Tierra: </b> 0,1"</li>
        <li><b> Masa: </b> 1x1022 kg</li>
        <li><b> Masa(Tierra=1): </b> 0,00245</li>
        <li><b> Densidad media </b> 2.095 kg/m3</li>
        <li><b> Gravedad en la superficie (Tierra=1) </b> 0,06</li>
        <li><b> Velocidad de escape </b> 1.3 km/s</li>
        <li><b> Temperatura de superficie media: </b> -223°C=-369°F=50K</li>
        <li><b> Albedo </b> 0,4</li>
        <li><b> Magnitud de max. brillo: </b> +15</li>
        <li><b> Diámetro medio del Sol desde Plutón </b> 50"</li>
      </ul>
    </section>
  </body>
</html>
