<!DOCTYPE html>
<html lang="en" translate="yes">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description"
    content="Uranus is the seventh planet from the Sun. Its name is a reference to the Greek god of the sky, Uranus, who, according to Greek mythology, was the great-grandfather of Ares (Mars), grandfather of Zeus (Jupiter) and father of Cronus (Saturn). It has the third-largest planetary radius and fourth-largest planetary mass in the Solar System. Uranus is similar in composition to Neptune, and both have bulk chemical compositions which differ from that of the larger gas giants Jupiter and Saturn. For this reason, scientists often classify Uranus and Neptune as 'ice giants' to distinguish them from the other giant planets.">

  <meta name="keywords"
    content="SOLAR SYSTEM,PLANETS,GALAXY,URANUS PLANET, ROTATION, SUN, STAR, GRAVITY, PLANET ANIMATION, PLANET 3D, MASS, DENSITY">

  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  <link rel="stylesheet" href="../styles/main.css" />
  <script src="https://kit.fontawesome.com/53d40d2367.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" href="../images/Icons/favicon-32x32.png" type="image/x-icon" />

  <title>URANUS | All About Uranus Planet</title>
</head>

<body class="body_urano">
  <!-- button go home -->
  <a href="/" class="btn position-button">
    <i class="fas fa-home"></i>
  </a>
  <!-- End button go home -->

  <!-- circle menu -->
  <section class="planets-names animation">
    <section class="planets1">
      <div class="firstPlanet">
        <p><a href="./mercurio.html"></a>Mercurio</p>
        <span></span>
      </div>
      <div class="secondPlanet">
        <p><a href="./venus.html"></a>Venus</p>
        <span></span>
      </div>
      <div class="thirdPlanet">
        <p><a href="./tierra.html"></a>Tierra</p>
        <span></span>
      </div>
    </section>
    <section class="planets2">
      <div class="firstPlanet2">
        <p><a href="./marte.html"></a>Marte</p>
        <span></span>
      </div>
      <div class="secondPlanet2">
        <p><a href="./jupiter.html"></a>Jupiter</p>
        <span></span>
      </div>
      <div class="thirdPlanet2">
        <p><a href="./saturno.html"></a>Saturno</p>
        <span></span>
      </div>
    </section>
    <section class="planets3">
      <div class="firstPlanet3">
        <p><a href="./urano.html"></a>Urano</p>
        <span></span>
      </div>
      <div class="secondPlanet3">
        <p><a href="./neptuno.html"></a>Neptuno</p>
        <span></span>
      </div>
      <div class="thirdPlanet3">
        <p><a href="./pluton.html"></a>Plutón</p>
        <span></span>
      </div>
    </section>
  </section>
  <header class="menu menu--circle">
    <input type="checkbox" id="menu__active" />
    <label for="menu__active" class="menu__active">
      <div class="menu__toggle">
        <div class="icon">
          <div class="hamburger"></div>
        </div>
      </div>

      <input type="radio" name="arrow--up" id="degree--up-0" />
      <input type="radio" name="arrow--up" id="degree--up-1" />
      <input type="radio" name="arrow--up" id="degree--up-2" />

      <div class="menu__listings">
        <ul class="circle">
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./venus.html" title="Venus" class="button"><i class="fa-solid fa-earth-americas"></i></a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./mercurio.html" title="Mercurio" class="button"><i class="fa-solid fa-earth-africa"></i></a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="#">&nbsp</a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./pluton.html" title="Pluton" class="button"><i class="fa-solid fa-earth-africa"></i></a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./neptuno.html" title="Neptuno" class="button"><i class="fa-solid fa-earth-americas"></i></a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./urano.html" title="Urano" class="button"><i class="fa-solid fa-earth-oceania"></i></a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./saturno.html" title="Saturno" class="button"><i class="fa-solid fa-earth-americas"></i></a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./jupiter.html" title="Jupiter" class="button"><i class="fa-solid fa-earth-africa"></i></a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./marte.html" title="Marte" class="button"><i class="fa-solid fa-earth-oceania"></i></a>
              </div>
            </div>
          </li>
          <li>
            <div class="placeholder">
              <div class="upside">
                <a href="./tierra.html" title="Tierra" class="button"><i class="fa-solid fa-earth-oceania"></i></a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="menu__arrow menu__arrow--top">
        <ul>
          <li>
            <label class="degree--up-0" for="degree--up-0">
              <div class="arrow"></div>
            </label>
            <label class="degree--up-1" for="degree--up-1">
              <div class="arrow"></div>
            </label>
            <label class="degree--up-2" for="degree--up-2">
              <div class="arrow"></div>
            </label>
          </li>
        </ul>
      </div>
    </label>
  </header>
  <!-- End circle menu -->
  <!-- all content text and backgrounds -->
  <main class="main_Container">
    <!-- first main section 100vh -->
    <section class="main_Earth">
      <!-- back appear -->
      <picture class="backAppear backAppearJs"></picture>
      <!-- back linear #000 to transparent 30% -->
      <div class="bgEarth1x"></div>
      <!-- Earth Planet Background animation -->
      <div class="wrapperUrano1"></div>
      <!-- main-text -->
      <section class="tables">
        <button class="close-tables"><span></span></button>
        <h2>GENERAL CHARACTERISTICS OF URANUS</h2>
        <ul class="listx">
          <li><b> Distancia media al Sol: </b> 19,20 UA = 2,8725x109 km</li>
          <li><b> Máxima distancia al Sol: </b> 20,07 UA =3,003x109 km</li>
          <li><b> Mínima distancia al Sol: </b> 18,31 UA =2,739x109 km</li>
          <li><b> Velocidad orbital media: </b> 6,8 km/s</li>
          <li><b> Periodo sideral: </b> 83,75 años</li>
          <li><b> Periodo de rotación: </b> 17,2 horas</li>
          <li><b> Inclinación del ecuador a la órbita: </b> 97,9°</li>
          <li><b> Inclinación de la órbita a la eclíptica: </b> 0,77°</li>
          <li><b> Excentricidad orbital: </b> 0,046</li>
          <li><b> Diámetro (ecuatorial): </b> 51.118 km</li>
          <li><b> Diámetro (Tierra = 1): </b> 4,01</li>
          <li><b> Diámetro aparente desde la Tierra, Max: </b> 3,7"</li>
          <li><b> Diámetro aparente desde la Tierra, Min: </b> 3,1"</li>
          <li><b> Masa: </b> 8,7x1025 kg</li>
          <li><b> Masa (Tierra=1): </b> 14,5</li>
          <li><b> Densidad media </b> 1.271 kg/m3</li>
          <li><b> Gravedad en la superficie (Tierra=1) </b> 0,92</li>
          <li><b> Velocidad de escape </b> 21,3 km/s</li>
          <li><b> Achatamiento </b> 0,03</li>
          <li>
            <b> Temperatura de superficie media: </b> arriba de las nubes
            -216°C=-357°F=57K
          </li>
          <li><b> Albedo </b> 0,51</li>
          <li><b> Magnitud de max. brillo: </b> +5,6</li>
          <li><b> Diámetro medio del Sol desde Urano </b> 1'41"</li>
        </ul>
      </section>
      <aside class="aside-flotante whitoutBack">
        <h2>GENERAL CHARACTERISTICS</h2>
        <ul class="list">
          <li><b>Category:</b> Rocky Planet</li>
          <li><b>Star:</b> Sun</li>
          <li><b>Distance to its star:</b> 2.870.990.000 km</li>
          <li><b>Diameter:</b> 51.118 km</li>
          <li><b>Average orbital speed:</b> 6,81 km/s<sup>2</sup></li>
          <li><b>Gravity:</b> 8,69 m/s²<sup>2</sup><br>
            0,886 g
          </li>
          <li><b>Density:</b> 1,274 g/cm³<sup>2</sup></li>
          <li><b>Mass:</b> 8,686 × 10<sup>25</sup> kg <br>
            14,5406455069 Earths.</li>
          <button id="btn-tables" class="btn-aside">See More...</button>
        </ul>
      </aside>
      <section class="main-text overflow">
        <div class="title">
          <div class="cont-appear2">
            <h1>URANUS</h1>
          </div>
          <p>
            Uranus is the seventh planet in the solar system, the third largest, and the fourth most massive. It is named after the Greek sky deity Uranus (from ancient Greek Οὐρανός), the father of Cronus (Saturn) and the grandfather of Zeus (Jupiter). Although it is detectable with the naked eye in the night sky, it was not cataloged as a planet by ancient astronomers due to its low luminosity and the slowness of its orbit.
          </p>
          <p class="second-text-responsive">
            William Herschel announced his discovery on March 13, 1781, expanding the then-known boundaries of the solar system for the first time in modern history. Uranus is also the first planet discovered by means of a telescope.
            Uranus is similar in composition to Neptune, and the two have a different composition from the other two gas giants (Jupiter and Saturn).
          </p>
        </div>
      </section>
      <section class="second-text-main">
        <p>
          William Herschel announced his discovery on March 13, 1781, expanding the then-known boundaries of the solar system for the first time in modern history. Uranus is also the first planet discovered by means of a telescope.
          Uranus is similar in composition to Neptune, and the two have a different composition from the other two gas giants (Jupiter and Saturn).
        </p>
      </section>
      <!-- end main text -->
    </section>
    <!-- End first main section 100vh -->
    <!-- second main section 100% -->
    <section class="main_Earth2">
      <div class="bgEarth1"></div>
      <div class="main_Uranoback">
        <!-- <div class="bgEarth1"></div>
        <div class="bgEarth1x"></div> -->

        <div class="main-movements" data-aos="fade-up">
          <h2>Main Movements</h2>
          <ul class="list2">
            <li>
              <b>- Rotation.</b> Uranus orbits the Sun once every 84.01 Earth years.
              Its average distance from the Sun is about 3 billion kilometers (about 20 AU) (2,870,990,000 km).
            </li>
            <li>
              <b>- Orbit.</b> Mars' axial tilt is 25.19° relative to its orbital plane, similar to Earth's axial tilt. Consequently, Mars has seasons like Earth's, though they are almost twice as long there because its orbital period is much greater. At present, the orientation of the Martian north pole is similar to that of the star Deneb.
            </li>
          </ul>
        </div>

        <div class="list-general list-general-none">
          <h2>GENERAL CHARACTERISTICS</h2>
          <ul class="list2">
            <li><b>Category:</b> Rocky Planet</li>
            <li><b>Star:</b> Sun</li>
            <li><b>Distance to its star:</b> 2.870.990.000 km</li>
            <li><b>Diameter:</b> 51.118 km</li>
            <li><b>Average orbital speed:</b> 6,81 km/s<sup>2</sup></li>
            <li><b>Gravity:</b> 8,69 m/s²<sup>2</sup><br>
              0,886 g
            </li>
            <li><b>Density:</b> 1,274 g/cm³<sup>2</sup></li>
            <li><b>Mass:</b> 8,686 × 10<sup>25</sup> kg <br>
              14,5406455069 Earths.</li>
            <button id="btn-tables-res" class="btn-aside">See More...</button>
          </ul>
        </div>

        <div class="list-general" data-aos="fade-up">
          <h2>Most Abundant Elements On Its Atmosphere</h2>
          <ul class="list2">
            <li>Hydrogen <b>(83%)</b></li>
            <li>Helium <b>(15%)</b></li>
            <li>Methane <b>(1.99%)</b></li>
            <li>Ammonia <b>(0.01%)</b></li>
            <li>Ethane <b>(0.00025%)</b></li>
            <li>Acetylene <b>(0.00001%)</b></li>
            <li>Carbon monoxide <b>Traces</b></li>
            <li>Trace Hydrogen <b>Sulfide</b></li>
            <li>Hydrogen deuteride <b>(HD)</b></li>
          </ul>
        </div>
      </div>
      <div class="lists">
        <h2>
          GENERAL FEATURES OF URANUS
        </h2>
        <ul>
          <div data-aos="fade-right">
            <li>
              - <b> Uranus's Atmosphere</b><br /><br />
              <ul>
                <li>
                  Although there is no well-defined solid surface inside Uranus, the outermost part of Uranus's gaseous envelope that is accessible by remote sensing is called the atmosphere. Remote sensing capabilities extend to approximately 300 km below the 1 bar (100 kPa) level, with a corresponding pressure of about 100 bar (10 MPa) and a temperature of 320 K. The tenuous corona of the atmosphere it extends notably over two planetary radii from the nominal surface (point with pressure of 1 bar).
                </li>
                <li>
                  The atmosphere of Uranus can be divided into three layers: the troposphere, between altitudes of −300 and 50 km and pressures from 100 to 0.1 bar (10 MPa to 10 kPa), the stratosphere, at altitudes between 50 and 4000 km and pressures between 0.1 and 10-10 bar (10 kPa to 10 μPa), and the thermosphere/corona, which extends from 4,000 km to about 50,000 km from the surface. There is no mesosphere.
                </li>
              </ul>
            </li>
          </div>
          <div data-aos="fade-right">
            <li>
              - <b> Composition Of Uranus</b><br /><br />
              <ul>
                <li>
                  The composition of Uranus' atmosphere is different from that of the entire Uranus, as it consists mainly of molecular hydrogen and helium. The mole fraction of helium, i.e., the number of helium atoms per gas molecule, is 0, 15 ± 0.03 in the upper troposphere, corresponding to a mass fraction of 12:26 ± 0.05. This value is very close to the protosolar helium mass fraction of 0.275 ± 0.01, indicating that helium was not deposited in the center of the planet unlike the rest of the gas giants. The third most abundant component in Uranus' atmosphere is methane (CH4). Methane has prominent absorption bands in the visible and near-infrared (IR) bands, which give Uranus its aquamarine or cyan color.
                </li>
                <li>
                  Methane molecules represent 2.3% of the atmosphere by mole fraction below the methane cloud cover at the 1.3 bar (130 kPa) pressure level, representing 20 to 30 times the abundance of carbon found in the sun. The mixing rate is much lower in the upper atmosphere due to its extremely low temperature, which lowers the saturation level and causes excess methane to freeze out. The abundance of less volatile compounds such as ammonia, water, or hydrogen sulfide in the indoor atmosphere is poorly understood. However, it is also probably higher than on the Sun.
                </li>
              </ul>
            </li>
          </div>
          <div data-aos="fade-right">
            <li>
              - <b> Planetary Rings</b><br /><br />
              <ul>
                <li>
                  Uranus, like the other giant planets in the solar system, has a ring system. Uranus' ring system was the second to be discovered in the solar system after Saturn's. The particles that make up the rings are very dark, ranging in size from micrometers to fractions of a meter. Currently 13 rings are known, of which the brightest is the ε ring. All but two of the rings are extremely narrow, with some rings only a few kilometers wide. It is mainly composed of large bodies, 0.2-20 m in diameter. However, some rings are optically thin
                </li>
                <li>
                  The rings are probably quite young, dynamical considerations indicate that they did not form together with Uranus. The matter in the rings may have been part of a satellite (or satellites) that was shattered by high-velocity impacts. Of the many pieces of debris generated by these impacts, only a few particles survived in a limited number of stable zones that correspond to today's rings.
                </li>
              </ul>
            </li>
          </div>
          <div data-aos="fade-right">
            <li>
              - <b> Magnetic Field</b><br /><br />
              <ul>
                <li>
                  Voyager observations revealed that the magnetic field is also abnormal in its position and characteristics since its origin is not at the geometric center of the planet, and furthermore the magnetic axis is tilted 59° from the axis of rotation. In fact, the magnetic dipole is displaced towards the south pole of rotation by almost a third of the planetary radius. This unusual geometry results in a highly asymmetric magnetosphere, where the magnetic field strength at the surface of the southern hemisphere can be as low as 0.1 gauss (10 μT), while in the northern hemisphere it can be as high as 1.1 gauss (110 μT). The mean field at the surface is 0.23 gauss (23 μT).
                </li>
                <li>
                  By comparison, Earth's magnetic field is roughly equal in strength at both poles, and its "magnetic equator" is roughly parallel to the geographic equator. Uranus' magnetic dipole moment is 50 times that of Earth. Neptune's magnetic field is also shifted in a similar way, suggesting that this is a common feature of ice giants. One hypothesis is that, unlike the magnetic fields of terrestrial planets and gas giants, which are Generated within their cores, the ice giants' magnetic fields are generated by movement in relatively shallow areas, such as the water-ammonia ocean.
                </li>
              </ul>
            </li>
          </div>
        </ul>
      </div>

      <a href="./neptuno.html" class="btn next">NEXT PLANET</a>
      <!-- Footer -->
      <footer class="footer-Earth">
        <div class="wrapper">
          <a href="mailto:stivendiazh@gmail.com" target="__BLANK" class="iconsocial email">
            <div class="tooltip">Email</div>
            <span><i class="fa-solid fa-envelope"></i></span>
          </a>
          <a href="https://www.linkedin.com/in/stiven-diaz-3892aa224" target="__BLANK" class="iconsocial linkdein">
            <div class="tooltip" translate="no">linkdein</div>
            <span><i class="fab fa-linkedin"></i></span>
          </a>
          <a href="https://instagram.com/stiven_dz" target="__BLANK" class="iconsocial instagram">
            <div class="tooltip">Instagram</div>
            <span><i class="fab fa-instagram"></i></span>
          </a>
          <a href="https://github.com/StivenDz" target="__BLANK" class="iconsocial github">
            <div class="tooltip">Github</div>
            <span><i class="fab fa-github"></i></span>
          </a>
        </div>
        <p>&copy; Stiven Diaz | CoderHouse</p>
      </footer>
      <!-- End Footer -->
    </section>
    <!--End second main section 100% -->
  </main>
  <!-- End all content text and backgrounds -->
  <script src="../animation/three.min.js"></script>
  <script src="../animation/stars.js"></script>
  <script src="../animation/nav-index.js"></script>
  <script src="../animation/tables.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>