<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/index.css">
    <script src="https://kit.fontawesome.com/53d40d2367.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="../images/Icons/favicon-32x32.png" type="image/x-icon">
    <title>SOLAR SYS</title>
</head>
<body>
    <header class="menu menu--circle">
        <input type="checkbox" id="menu__active"/>
        <label for="menu__active" class="menu__active">
          <div class="menu__toggle">
            <div class="icon">
              <div class="hamburger"></div>
            </div>
          </div>

          <input type="radio" name="arrow--up" id="degree--up-0"/>
          <input type="radio" name="arrow--up" id="degree--up-1" />
          <input type="radio" name="arrow--up" id="degree--up-2" />

          <div class="menu__listings">
            <ul class="circle">
              <li>
                <div class="placeholder">
                  <div class="upside">
                    <a href="./venus.html" title="Venus" class="button"><i class="fa-solid fa-earth-americas"></i></a>
                  </div>
                </div>
              </li>
              <li>
                <div class="placeholder">
                  <div class="upside">
                    <a href="./mercurio.html" title="Mercurio" class="button"><i class="fa-solid fa-earth-africa"></i></a>
                  </div>
                </div>
              </li>
              <li>
                <div class="placeholder">
                  <div class="upside">
                    <a href="#">&nbsp</a>
                  </div>
                </div>
              </li>
              <li>
                <div class="placeholder">
                  <div class="upside">
                    <a href="./pluton.html" title="Pluton" class="button"><i class="fa-solid fa-earth-africa"></i></a>
                  </div>
                </div>
              </li>
              <li>
                <div class="placeholder">
                  <div class="upside">
                    <a href="./neptuno.html" title="Neptuno" class="button"><i class="fa-solid fa-earth-americas"></i></a>
                  </div>
                </div>
              </li>
              <li>
                <div class="placeholder">
                  <div class="upside">
                    <a href="./urano.html" title="Urano" class="button"><i class="fa-solid fa-earth-oceania"></i></a>
                  </div>
                </div>
              </li>
              <li>
                <div class="placeholder">
                  <div class="upside">
                    <a href="./saturno.html" title="Saturno" class="button"><i class="fa-solid fa-earth-americas"></i></a>
                  </div>
                </div>
              </li>
              <li>
                <div class="placeholder">
                  <div class="upside">
                    <a href="./jupiter.html"title="Jupiter" class="button"><i class="fa-solid fa-earth-africa"></i></a>
                  </div>
                </div>
              </li>
              <li>
                <div class="placeholder">
                  <div class="upside">
                    <a href="./marte.html" title="Marte" class="button"><i class="fa-solid fa-earth-oceania"></i></a>
                  </div>
                </div>
              </li>
              <li>
                <div class="placeholder">
                  <div class="upside">
                    <a href="./tierra.html" title="Tierra" class="button"><i class="fa-solid fa-earth-oceania"></i></a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="menu__arrow menu__arrow--top">
            <ul>
              <li>
                <label for="degree--up-0"><div class="arrow"></div></label>
                <label for="degree--up-1"><div class="arrow"></div></label>
                <label for="degree--up-2"><div class="arrow"></div></label>
              </li>
            </ul>
          </div>
        </label>
    </header>
    <main>
        <!-- <section> imagen,video de fondo y contenido sobre el planeta Urano </section> -->
    </main>
    <footer>
        <!-- <div heredado de social_networks.html></div> -->
    </footer>
</body>
</html>