<!DOCTYPE html>
<html lang="en" translate="yes">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Venus is the second planet from the Sun. It is named after the Roman goddess of love and beauty. As the brightest natural object in Earth's night sky after the Moon, Venus can cast shadows and can be visible to the naked eye in broad daylight. Venus's orbit is smaller than that of Earth, but its maximal elongation is 47°; thus, it can be seen not only near the Sun in the morning or evening, but also a couple of hours before or after sunrise or sunset, depending on the observer's latitude and on the positions of Venus and the Sun."
    />
    <meta
      name="keywords"
      content="SOLAR SYSTEM,PLANETS,GALAXY,VENUS PLANET, ROTATION, SUN, STAR, GRAVITY, PLANET ANIMATION, PLANET 3D, MASS, DENSITY"
    />

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="stylesheet" href="../styles/main.css" />
    <script
      src="https://kit.fontawesome.com/53d40d2367.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="shortcut icon"
      href="../images/Icons/favicon-32x32.png"
      type="image/x-icon"
    />

    <title>VENUS | All About Venus Planet</title>
  </head>
  <body class="body_venus">
    <!-- button go home -->
    <a href="/" class="btn position-button"
      ><i class="fas fa-home"></i
    ></a>
    <!-- End button go home -->

    <!-- circle menu -->
    <section class="planets-names animation">
      <section class="planets1">
        <div class="firstPlanet">
          <p><a href="./mercurio.html"></a>Mercurio</p>
          <span></span>
        </div>
        <div class="secondPlanet">
          <p><a href="./venus.html"></a>Venus</p>
          <span></span>
        </div>
        <div class="thirdPlanet">
          <p><a href="./tierra.html"></a>Tierra</p>
          <span></span>
        </div>
      </section>
      <section class="planets2">
        <div class="firstPlanet2">
          <p><a href="./marte.html"></a>Marte</p>
          <span></span>
        </div>
        <div class="secondPlanet2">
          <p><a href="./jupiter.html"></a>Jupiter</p>
          <span></span>
        </div>
        <div class="thirdPlanet2">
          <p><a href="./saturno.html"></a>Saturno</p>
          <span></span>
        </div>
      </section>
      <section class="planets3">
        <div class="firstPlanet3">
          <p><a href="./urano.html"></a>Urano</p>
          <span></span>
        </div>
        <div class="secondPlanet3">
          <p><a href="./neptuno.html"></a>Neptuno</p>
          <span></span>
        </div>
        <div class="thirdPlanet3">
          <p><a href="./pluton.html"></a>Plutón</p>
          <span></span>
        </div>
      </section>
    </section>
    <header class="menu menu--circle">
      <input type="checkbox" id="menu__active" />
      <label for="menu__active" class="menu__active">
        <div class="menu__toggle">
          <div class="icon">
            <div class="hamburger"></div>
          </div>
        </div>

        <input type="radio" name="arrow--up" id="degree--up-0" />
        <input type="radio" name="arrow--up" id="degree--up-1" />
        <input type="radio" name="arrow--up" id="degree--up-2" />

        <div class="menu__listings">
          <ul class="circle">
            <li>
              <div class="placeholder">
                <div class="upside">
                  <a href="./venus.html" title="Venus" class="button"
                    ><i class="fa-solid fa-earth-americas"></i
                  ></a>
                </div>
              </div>
            </li>
            <li>
              <div class="placeholder">
                <div class="upside">
                  <a href="./mercurio.html" title="Mercurio" class="button"
                    ><i class="fa-solid fa-earth-africa"></i
                  ></a>
                </div>
              </div>
            </li>
            <li>
              <div class="placeholder">
                <div class="upside">
                  <a href="#">&nbsp</a>
                </div>
              </div>
            </li>
            <li>
              <div class="placeholder">
                <div class="upside">
                  <a href="./pluton.html" title="Pluton" class="button"
                    ><i class="fa-solid fa-earth-africa"></i
                  ></a>
                </div>
              </div>
            </li>
            <li>
              <div class="placeholder">
                <div class="upside">
                  <a href="./neptuno.html" title="Neptuno" class="button"
                    ><i class="fa-solid fa-earth-americas"></i
                  ></a>
                </div>
              </div>
            </li>
            <li>
              <div class="placeholder">
                <div class="upside">
                  <a href="./urano.html" title="Urano" class="button"
                    ><i class="fa-solid fa-earth-oceania"></i
                  ></a>
                </div>
              </div>
            </li>
            <li>
              <div class="placeholder">
                <div class="upside">
                  <a href="./saturno.html" title="Saturno" class="button"
                    ><i class="fa-solid fa-earth-americas"></i
                  ></a>
                </div>
              </div>
            </li>
            <li>
              <div class="placeholder">
                <div class="upside">
                  <a href="./jupiter.html" title="Jupiter" class="button"
                    ><i class="fa-solid fa-earth-africa"></i
                  ></a>
                </div>
              </div>
            </li>
            <li>
              <div class="placeholder">
                <div class="upside">
                  <a href="./marte.html" title="Marte" class="button"
                    ><i class="fa-solid fa-earth-oceania"></i
                  ></a>
                </div>
              </div>
            </li>
            <li>
              <div class="placeholder">
                <div class="upside">
                  <a href="./tierra.html" title="Tierra" class="button"
                    ><i class="fa-solid fa-earth-oceania"></i
                  ></a>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="menu__arrow menu__arrow--top">
          <ul>
            <li>
              <label class="degree--up-0" for="degree--up-0"
                ><div class="arrow"></div
              ></label>
              <label class="degree--up-1" for="degree--up-1"
                ><div class="arrow"></div
              ></label>
              <label class="degree--up-2" for="degree--up-2"
                ><div class="arrow"></div
              ></label>
            </li>
          </ul>
        </div>
      </label>
    </header>
    <!-- End circle menu -->

    <!-- all content text and backgrounds -->
    <main class="main_Container">
      <section class="main_Earth">
        <!-- back appear -->
        <picture class="backAppear backAppearJs"></picture>
        <!-- back linear #000 to transparent 30% -->
        <!-- <div class="bgEarth1x"></div> -->
        <!-- Earth Planet Background Image -->
        <!-- <picture class="wrapperVenus1">
          <div class="bgVenus1"></div>
        </picture> -->
        <div class="earth-Animation">
          <button class="close"><span></span></button>
          <canvas class="webgl"></canvas>
        </div>
        <!-- main-text -->
        <aside class="aside-flotante whitoutBack">
          <h2>GENERAL CHARACTERISTICS</h2>
          <ul class="list">
            <li><b>Category:</b> Rocky Planet</li>
            <li><b>Star:</b> Sun</li>
            <li><b>Distance to its star:</b> 108.200.000 km (0,723 AU)</li>
            <li><b>Diameter:</b> 12,104 km</li>
            <li><b>Average orbital speed:</b> 35,0 km/s</li>
            <li><b>Gravity:</b> 8.87m/s<sup>2</sup></li>
            <li><b>Density:</b> 5.243 g/cm<sup>3</sup></li>
            <li><b>Mass:</b> 4.8673 x 10<sup>24</sup>Kg<br />0,815 Earths</li>
            <button id="btn-tables" class="btn-aside">See More...</button>
          </ul>
        </aside>
        <section class="tables">
          <button class="close-tables"><span></span></button>
          <h2>GENERAL CHARACTERISTICS OF VENUS</h2>
          <ul class="listx">
            <li><b> Distancia media al Sol: </b> 0,723 UA = 1,082x108 km</li>
            <li><b> Máxima distancia al Sol: </b> 0,728 UA =1,089x108 km</li>
            <li><b> Mínima distancia al Sol: </b> 0,718 UA =1,075x108 km</li>
            <li><b> Velocidad orbital media: </b> 35,0 km/s</li>
            <li><b> Periodo sideral: </b> 224,70 dias</li>
            <li><b> Periodo de rotación: </b> 243,01 dias Retrógrado</li>
            <li><b> Inclinación del ecuador a la órbita: </b> 177,4°</li>
            <li><b> Inclinación de la órbita a la eclíptica: </b> 3,39</li>
            <li><b> Excentricidad orbital: </b> 0,0068</li>
            <li><b> Diámetro (ecuatorial): </b> 12,104 km</li>
            <li><b> Diámetro (Tierra = 1): </b> 0,949</li>
            <li><b> Diámetro aparente desde la Tierra, Max: </b> 65,2"</li>
            <li><b> Diámetro aparente desde la Tierra, Min: </b> 9,5"</li>
            <li><b> Masa: </b> 4,87x1024 kg</li>
            <li><b> Masa (Tierra=1): </b> 0,8150</li>
            <li><b> Densidad media 5.243 kg/m3</b></li>

            <li><b> Graved </b>ad en la superficie (Tierra=1) 0,903</li>
            <li><b> Velocidad de escape </b> 10,4 km/s</li>
            <li><b> Achatamiento </b> 0</li>
            <li>
              <b> Temperatura media de la superficie </b> 480°C=900°F=750K
            </li>
            <li><b> Albedo </b> 0,65</li>
            <li><b> Magnitud de max. brillo: </b> -4,4</li>
            <li><b> Diámetro medio del Sol desde Venus </b> 44'15"</li>
          </ul>
        </section>
        <section class="main-text overflow">
          <div class="title">
            <div class="cont-appear2"><h1 data-text="The Earth">VENUS</h1></div>
            <p>
              Venus is the second planet in the solar system in order of
              proximity to the Sun and the third in size in ascending order
              after Mercury and Mars. Like Mercury, it has no natural
              satellites. It receives its name in honor of Venus, the Roman
              goddess of love (gr. Aphrodite). <br />
              As the second brightest natural object after the Moon, it can be
              seen in a clear night sky with the naked eye. It is an inner
              planet of a rocky, terrestrial type, often called Earth's sister
              planet, as both are similar in size, mass, and composition, yet
              totally different in thermal and atmospheric matters (the average
              temperature of Venus is 463.85°C).
            </p>
            <p class="second-text-responsive">
              Its atmospheric pressure is 90 times higher than Earth's; it is,
              therefore, the highest atmospheric pressure of all the rocky
              planets in the solar system. It is white/yellowish in color due to
              its atmosphere composed mainly of carbon dioxide (CO2), hydrogen
              sulfide (H2S) and nitrogen (N2).
            </p>
            <button class="buttonSeeAndCheck2 buttonResponsive second-text-responsive">INSPECT</button>
          </div>
        </section>
        <section class="second-text-main">
          <button class="buttonSeeAndCheck">INSPECT</button>
          <p>
            Its atmospheric pressure is 90 times higher than Earth's; it is,
            therefore, the highest atmospheric pressure of all the rocky planets
            in the solar system. It is white/yellowish in color due to its
            atmosphere composed mainly of carbon dioxide (CO2), hydrogen sulfide
            (H2S) and nitrogen (N2).
          </p>
        </section>
      </section>
      <section class="main_Earth2">
        <!-- <div class="bgEarth1"></div> -->
        <div class="main_Venusback">
          <!-- <div class="bgEarth1"></div>
          <div class="bgEarth1x"></div> -->
          <div class="main-movements" data-aos="fade-up">
            <h2>Main Movements</h2>
            <ul class="list2">
              <li>
                <b>- Rotation.</b> Venus rotates on itself very slowly in a retrograde motion, clockwise from the north pole, from east to west instead of west to east like the rest of the planets (except Uranus, which is very inclined), taking 243,187 Earth days to make a complete turn on itself. The reason for the peculiar rotation of Venus is not known. If the Sun could be seen from the surface of Venus, it would appear rising from the west and setting in the east, with a day-night cycle of 116.75 Earth days9 and a Venusian year of less than one star day (0.92 star days). Venusians).
              </li>
              <li><b>- Orbit.</b> Although all planetary orbits are elliptical, the orbit of Venus is the closest to a circle, with an eccentricity of less than 1.2%. <br><br>

              The cycle between two maximum elongations (synodic orbital period) lasts 584 days. After those 584 days Venus appears in a position at 72° from the previous elongation. Since there are five periods of 72° in a circumference, Venus returns to the same point in the sky every eight years (minus two days for leap years). This period was known as the Sotis cycle in Ancient Egypt.</li>
            </ul>
          </div>

          <div class="list-general list-general-none">
            <h2>GENERAL CHARACTERISTICS</h2>
            <ul class="list2">
              <li><b>Category:</b> Rocky Planet</li>
              <li><b>Star:</b> Sun</li>
              <li><b>Distance to its star:</b> 108.200.000 km (0,723 AU)</li>
              <li><b>Diameter:</b> 12,104 km</li>
              <li><b>Average orbital speed:</b> 35,0 km/s</li>
              <li><b>Gravity:</b> 8.87m/s<sup>2</sup></li>
              <li><b>Density:</b> 5.243 g/cm<sup>3</sup></li>
              <li><b>Mass:</b> 4.8673 x 10<sup>24</sup>Kg<br />0,815 Earths</li>
              <button id="btn-tables-res" class="btn-aside">See More...</button>
            </ul>
          </div>

          <div class="list-general" data-aos="fade-up">
            <h2>Most Abundant Elements on its atmosphere</h2>
            <ul class="list2">
              <li>Carbon dioxide <b>(96.5%)</b></li>
              <li>Nitrogen <b>(3.5%)</b></li>
              <li>Sulfur dioxide <b>(0.015%)</b></li>
              <li>Argon <b>(0.007%)</b></li>
              <li>Water vapor <b>(0.002%)</b></li>
              <li>Carbon monoxide <b>(0.0017%)</b></li>
              <li>Helium <b>(0.0012%)</b></li>
              <li>Neon <b>(0.0007%)</b></li>
              <li>Oxygen <b>(10ppm)</b></li>
            </ul>
          </div>
        </div>

        <div class="">
          <!-- <div class="bgEarth1x3"></div>
          <div class="bgEarth1x"></div> -->
          <div class="lists">
            <h2>GENERAL FEATUREs of Venus</h2>
            <ul>
              <div data-aos="fade-right">
                <li>
                  - <b>Venus's Atmosphere</b><br /><br />
                  <ul>
                    <li>
                      Venus has a dense atmosphere, composed mostly of carbon dioxide and a small amount of nitrogen. The pressure at surface level is ninety times greater than the atmospheric pressure at the Earth's surface (an equivalent pressure on Earth). to the pressure that is submerged in water at a depth of one kilometer). The huge amount of carbon dioxide in the atmosphere causes a strong greenhouse effect that raises the planet's surface temperature to about 464°C in lower-elevation regions near the equator.
                    </li>
                  </ul>
                </li>
              </div>
              <div data-aos="fade-right">
                <li>
                  - <b> venus Geology</b><br /><br />
                  <ul>
                    <li>
                      Venus has a slow retrograde rotation, which means that it rotates from east to west, rather than from west to east as most of the other major planets do (Uranus also has a retrograde rotation, although Uranus' axis of rotation , inclined 97.86°, practically rests on the orbital plane). Why Venus is different in this regard is unknown, although it could be the result of a collision with an asteroid sometime in the remote past.Venus has a slow retrograde rotation, which means that it rotates from east to west, rather than from west to east as most of the other major planets do (Uranus also has a retrograde rotation, although Uranus' axis of rotation , inclined 97.86°, practically rests on the orbital plane). Why Venus is different in this regard is unknown, although it could be the result of a collision with an asteroid sometime in the remote past.
                    </li>
                    <li>
                      In addition to this unusual retrograde rotation, Venus's rotation period and orbit are nearly synchronized, so that it always faces the same face to Earth when the two planets are closest together (5,001 Venusian solar days between each inferior conjunction). ). This could be the result of tidal forces affecting the rotation of Venus whenever the planets are close enough, although the mechanism is not clear.
                    </li>
                  </ul>
                </li>
              </div>
              <div data-aos="fade-right">
                <li>
                  - <b> Internal Structure</b><br /><br />
                  <ul>
                    <li>
                      Without seismic information or details, moment of inertia, little direct data exists on the geochemistry and internal structure of Venus. However, the similarity in size and density between Venus and Earth suggests that they share a similar internal structure: a core, a mantle, and a crust. Like Earth, it is speculated that the core of Venus is at least partially liquid. The smaller size and density of Venus indicates that the pressures inside it are considerably less than on Earth
                    </li>
                    <li>
                      The main difference between the two planets is the lack of plate tectonics on Venus, probably due to the dryness of the mantle and surface. As a consequence, heat loss from the planet is low, preventing it from cooling and providing a viable explanation for the lack of an internal magnetic field.
                    </li>
                  </ul>
                </li>
              </div>
            </ul>
          </div>
        </div>

        <a href="./tierra.html" class="btn next">NEXT PLANET</a>
        <!-- Footer -->
        <footer class="footer-Earth">
          <div class="wrapper">
            <a
              href="mailto:stivendiazh@gmail.com"
              target="__BLANK"
              class="iconsocial email"
            >
              <div class="tooltip">Email</div>
              <span><i class="fa-solid fa-envelope"></i></span>
            </a>
            <a
              href="https://www.linkedin.com/in/stiven-diaz-3892aa224"
              target="__BLANK"
              class="iconsocial linkdein"
            >
              <div class="tooltip" translate="no">linkdein</div>
              <span><i class="fab fa-linkedin"></i></span>
            </a>
            <a
              href="https://instagram.com/stiven_dz"
              target="__BLANK"
              class="iconsocial instagram"
            >
              <div class="tooltip">Instagram</div>
              <span><i class="fab fa-instagram"></i></span>
            </a>
            <a
              href="https://github.com/StivenDz"
              target="__BLANK"
              class="iconsocial github"
            >
              <div class="tooltip">Github</div>
              <span><i class="fab fa-github"></i></span>
            </a>
          </div>
          <p>&copy; Stiven Diaz | CoderHouse</p>
        </footer>
        <!-- End Footer -->
      </section>
    </main>
  <script src="../animation/three.min.js"></script>
  <script src="../animation/stars.js"></script>
  <script src="../animation/nav.js"></script>
  <script type="module" src="../animation/venus.js"></script>
  <script src="../animation/tables.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  </body>
</html>
