@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth; }

@keyframes showNames {
  0% {
    transform: translate(0px); }
  100% {
    transform: translate(-1000px); } }

@keyframes hidden {
  0% {
    transform: translate(-1000px); }
  100% {
    transform: translate(0px); } }

@keyframes move {
  0% {
    background-position: top; }
  50% {
    background-position: bottom; }
  100% {
    background-position: top; } }

@keyframes backAppear {
  0% {
    background: #000; }
  100% {
    background: rgba(0, 0, 0, 0); } }

@keyframes bright3 {
  0% {
    background-position: top;
    filter: brightness(1.5);
    -webkit-filter: brightness(1); }
  50% {
    filter: brightness(2.5);
    -webkit-filter: brightness(2.5); }
  100% {
    filter: brightness(1.5);
    -webkit-filter: brightness(1.5); } }

@keyframes bright3Earth {
  0% {
    background-position: top;
    filter: brightness(3.5);
    -webkit-filter: brightness(3.5); }
  50% {
    filter: brightness(4);
    -webkit-filter: brightness(4); }
  100% {
    filter: brightness(3.5);
    -webkit-filter: brightness(3.5); } }

@keyframes bright2 {
  0% {
    background-position: top; }
  50% {
    background-position: center; }
  100% {
    background-position: top; } }

@keyframes boxshad {
  0% {
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0); }
  100% {
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.151); } }

@keyframes bright {
  0% {
    filter: brightness(1);
    -webkit-filter: brightness(1);
    background-position: top; }
  50% {
    filter: brightness(2);
    -webkit-filter: brightness(2);
    background-position: center; }
  100% {
    filter: brightness(1);
    -webkit-filter: brightness(1);
    background-position: top; } }

@keyframes onlyBright {
  0% {
    filter: brightness(1);
    -webkit-filter: brightness(1); }
  50% {
    filter: brightness(1.3);
    -webkit-filter: brightness(1.3); }
  100% {
    filter: brightness(1);
    -webkit-filter: brightness(1); } }

@keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes textColor {
  0% {
    color: white; }
  100% {
    color: rgba(255, 255, 255, 0); } }

@keyframes letterAppear {
  0% {
    width: 0;
    white-space: nowrap; } }

@keyframes cursor {
  0% {
    white-space: nowrap;
    border-right: 3px solid #ffffff; }
  50% {
    white-space: nowrap;
    border-color: transparent; }
  100% {
    white-space: nowrap;
    border-right: 3px solid #ffffff; } }

@keyframes showPage {
  0% {
    background: #000; }
  100% {
    background: #00000000;
    z-index: 1; } }

.novisible {
  animation: hidden 2s 1 both; }

.animation {
  animation: showNames 2.5s 1 both; }

.planets-names {
  position: fixed;
  top: 0;
  right: -1000px;
  border: 2px solid transparent;
  width: 313.33333333333334px;
  height: 243.33333333333334px;
  z-index: 1300;
  pointer-events: none; }
  .planets-names .planets1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #ffffff;
    height: 100%;
    width: 100%; }
  .planets-names .planets2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #ffffff;
    height: 100%;
    width: 100%; }
  .planets-names .planets3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #ffffff;
    height: 100%;
    width: 100%; }
  .planets-names div {
    border-radius: 3rem;
    position: relative;
    width: 100%; }
    .planets-names div > span {
      right: 167px;
      top: 4px;
      position: absolute;
      display: block;
      transform: rotate(45deg);
      z-index: -1;
      width: 27px;
      height: 27px;
      border-right: 6.66667px solid #0072ff;
      border-top: 6.66667px solid #0072ff;
      border-radius: 3px;
      transition: border-color 0.3s;
      cursor: pointer;
      pointer-events: auto; }
    .planets-names div p {
      width: max-content;
      position: relative;
      z-index: 5;
      padding: 0.3rem 1rem;
      border: none;
      border-radius: 3rem 20rem 20rem 3rem;
      font-family: 'Poppins', sans-serif;
      font-weight: 200;
      cursor: pointer;
      text-transform: uppercase;
      background: linear-gradient(to right, rgba(0, 115, 255, 0.616), #0072ff);
      color: white;
      transition: background 1s;
      text-decoration: none; }
      .planets-names div p a {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 10;
        pointer-events: all; }
  .planets-names .firstPlanet {
    position: absolute;
    padding-left: 10px; }
    .planets-names .firstPlanet > span {
      right: 189px; }
  .planets-names .secondPlanet {
    padding-left: 85px;
    position: absolute;
    top: 90px; }
    .planets-names .secondPlanet > span {
      right: 141px;
      top: 4.2px; }
  .planets-names .thirdPlanet {
    padding-left: 170px;
    position: absolute;
    bottom: 70px; }
    .planets-names .thirdPlanet > span {
      right: 58px; }
  .planets-names .firstPlanet2 {
    position: absolute;
    padding-left: 38px; }
    .planets-names .firstPlanet2 > span {
      right: 189px; }
  .planets-names .secondPlanet2 {
    padding-left: 80px;
    position: absolute;
    top: 90px; }
    .planets-names .secondPlanet2 > span {
      right: 141px;
      top: 4.2px; }
  .planets-names .thirdPlanet2 {
    padding-left: 150px;
    position: absolute;
    bottom: 70px; }
    .planets-names .thirdPlanet2 > span {
      right: 55px; }
  .planets-names .firstPlanet3 {
    position: absolute;
    padding-left: 33px; }
    .planets-names .firstPlanet3 > span {
      right: 189px; }
  .planets-names .secondPlanet3 {
    padding-left: 65px;
    position: absolute;
    top: 90px; }
    .planets-names .secondPlanet3 > span {
      right: 141px;
      top: 4.2px; }
  .planets-names .thirdPlanet3 {
    padding-left: 160px;
    position: absolute;
    bottom: 70px; }
    .planets-names .thirdPlanet3 > span {
      right: 58px; }
  .planets-names .planets2, .planets-names .planets3 {
    display: none; }

.icon {
  position: absolute;
  top: 70%;
  left: 70%;
  transform: translateX(-50%) translateY(-50%); }

.hamburger {
  content: ' ';
  position: relative;
  width: 20px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  transition: all 0.333333333333333s ease;
  transform: rotate(90deg); }
  .hamburger:after, .hamburger:before {
    content: ' ';
    position: absolute;
    left: 50%;
    width: 100%;
    border: 2px solid #ffffff;
    border-radius: 5px;
    transform: translateX(-50%);
    transition-property: top, bottom, transform;
    transition-duration: 1s, 1s, 0.25s; }
  .hamburger:after {
    top: -8px; }
  .hamburger:before {
    bottom: -8px; }

.menu {
  pointer-events: none; }

.menu--circle {
  position: fixed;
  z-index: 1200;
  width: 243.33333333333334px;
  height: 243.33333333333334px;
  background-color: #39233800;
  overflow: hidden;
  right: 0px;
  transform: rotate(90deg); }

.menu__active {
  position: relative; }

.menu__toggle {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 700;
  position: absolute;
  top: -100px;
  left: -100px;
  width: 200px;
  height: 200px;
  background-color: black;
  border-radius: 50%;
  transition: transform 1.3s;
  cursor: pointer;
  pointer-events: auto; }

.menu__listings {
  z-index: 500;
  position: absolute;
  top: -200px;
  left: -200px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  transform: scale(0.1) rotate(150deg);
  transition: transform 1s; }

.menu__arrow {
  visibility: hidden;
  position: absolute; }
  .menu__arrow input[type="radio"] {
    position: fixed;
    top: -99999px;
    left: -99999px; }
  .menu__arrow ul {
    padding: 0;
    margin: 0;
    list-style: none; }
  .menu__arrow--top {
    top: 0.5em;
    left: 220px; }
    .menu__arrow--top .arrow {
      transform: rotate(-45deg); }
  .menu__arrow--left {
    top: 220px;
    left: 0.5em; }
    .menu__arrow--left .arrow {
      transform: rotate(-135deg); }

.arrow {
  width: 20px;
  height: 20px;
  border-right: 6.666666666666667px solid #fff;
  border-top: 6.666666666666667px solid #fff;
  border-radius: 3px;
  transition: border-color 0.3s;
  cursor: pointer;
  pointer-events: auto; }
  .arrow:hover {
    border-color: #0c029b;
    transition: border-color 0.3s; }

.circle {
  position: relative;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 50%;
  transform: rotate(108deg);
  overflow: hidden;
  list-style: none; }
  .circle li {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    transform-origin: 0 100%; }
    .circle li .placeholder {
      position: absolute;
      left: -100%;
      padding-top: 1.5em;
      width: 200%;
      height: 200%;
      text-align: center;
      transform: skewY(54deg) rotate(18deg); }
      .circle li .placeholder .upside {
        transform: rotate(180deg); }
      .circle li .placeholder a {
        text-decoration: none;
        pointer-events: auto; }
      .circle li .placeholder button {
        pointer-events: auto; }
      .circle li .placeholder .button {
        font-size: 2.3em;
        background-color: transparent;
        border: none;
        color: #000000;
        cursor: pointer; }
    .circle li:nth-child(1) {
      transform: rotate(0deg) skewY(-54deg);
      background-color: #fff; }
    .circle li:nth-child(2) {
      transform: rotate(36deg) skewY(-54deg);
      background-color: #fff; }
    .circle li:nth-child(3) {
      transform: rotate(72deg) skewY(-54deg);
      background-color: #fff; }
    .circle li:nth-child(4) {
      transform: rotate(108deg) skewY(-54deg);
      background-color: #fff; }
    .circle li:nth-child(5) {
      transform: rotate(144deg) skewY(-54deg);
      background-color: #fff; }
    .circle li:nth-child(6) {
      transform: rotate(180deg) skewY(-54deg);
      background-color: #fff; }
    .circle li:nth-child(7) {
      transform: rotate(216deg) skewY(-54deg);
      background-color: #fff; }
    .circle li:nth-child(8) {
      transform: rotate(252deg) skewY(-54deg);
      background-color: #fff; }
    .circle li:nth-child(9) {
      transform: rotate(288deg) skewY(-54deg);
      background-color: #fff; }
    .circle li:nth-child(10) {
      transform: rotate(324deg) skewY(-54deg);
      background-color: #fff; }

#menu__active {
  position: fixed;
  top: -99999px;
  left: -99999px; }
  #menu__active:checked ~ label .menu__listings {
    transform: rotate(10deg) scale(1);
    transition: transform 1s; }
  #menu__active:checked ~ label .menu__toggle {
    background-color: #000000;
    transition: all 1s; }
  #menu__active:checked ~ label .hamburger {
    border-color: transparent;
    transition: border-color 0.333333333333333s; }
  #menu__active:checked ~ label .hamburger:after {
    top: -2px;
    border-color: #fff;
    transform: translateX(-50%) rotate(45deg);
    transition-property: top, transform;
    transition-duration: 0.25s, 1s; }
  #menu__active:checked ~ label .hamburger:before {
    bottom: -2px;
    border-color: #fff;
    transform: translateX(-50%) rotate(-45deg);
    transition-property: bottom, transform;
    transition-duration: 0.25s, 1s; }
  #menu__active:checked ~ label .button:hover {
    color: #0c029b; }
  #menu__active:checked ~ label .menu__arrow {
    visibility: visible;
    transition: all 1s 1.111111111111111s; }
    #menu__active:checked ~ label .menu__arrow--top label {
      display: none; }
      #menu__active:checked ~ label .menu__arrow--top label[for="degree--up-0"] {
        display: block; }
  #menu__active:checked ~ label #degree--up-0:checked ~ .menu__listings {
    transform: rotate(116deg); }
  #menu__active:checked ~ label #degree--up-0:checked ~ .menu__arrow--top label {
    display: none; }
  #menu__active:checked ~ label #degree--up-0:checked ~ .menu__arrow--top label[for="degree--up-1"] {
    display: block; }
  #menu__active:checked ~ label #degree--up-1:checked ~ .menu__listings {
    transform: rotate(224deg); }
    #menu__active:checked ~ label #degree--up-1:checked ~ .menu__listings ~ .menu__arrow--top label {
      display: none; }
    #menu__active:checked ~ label #degree--up-1:checked ~ .menu__listings ~ .menu__arrow--top label[for="degree--up-2"] {
      display: block; }

/*  STARTING MAIN CONTAINERS CONFIGURATIONS   */
body {
  overflow-y: scroll;
  scroll-behavior: smooth; }
  body::-webkit-scrollbar {
    display: none;
    background: rgba(0, 0, 0, 0);
    border-radius: 5px;
    width: 10px;
    box-shadow: 0px 0px 5px 0px rgba(34, 34, 34, 0); }
  body::-webkit-scrollbar-thumb {
    background-color: #eeff0000;
    border-radius: 5px;
    display: none; }

.full-screen {
  display: block;
  height: 100vh;
  width: 100%; }

.body_Planets {
  padding: 0;
  height: 100%;
  min-height: 100vh;
  background: #000000; }
  .body_Planets::-webkit-scrollbar {
    display: none; }

.body_Index {
  /* background: url(../images/stars.jpg); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.body_venus, .body_saturno, .body_mercury, .body_earth, .body_mars, .body_jupiter {
  height: 100%;
  background: #000000; }

.main_Planets {
  margin-bottom: 100px; }

.main_index {
  width: 100%;
  height: 100vh;
  position: relative;
  min-height: 535px; }

.main_Earth {
  width: 100%;
  height: 100vh;
  position: relative;
  min-height: 515px; }

.main_Earth2 {
  width: 100%;
  height: 100%;
  position: relative;
  background: linear-gradient(to top, rgba(18, 4, 145, 0.253), transparent); }

.main_Earthback {
  width: 100%;
  height: 100%;
  position: relative;
  background: url(../images/Earth3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.main_Mercuryback {
  width: 100%;
  height: 100%;
  position: relative;
  background: url(../images/Mercurio2.jpg) 50% 50%;
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat; }

.main_Mercury2 {
  width: 100%;
  height: 100%;
  position: relative;
  background: linear-gradient(to top, rgba(145, 68, 4, 0.37), transparent); }

.earth-Animation {
  position: relative;
  z-index: 100; }
  .earth-Animation .webgl {
    width: 100vw !important;
    height: 100vh !important;
    position: relative;
    pointer-events: none;
    cursor: grab; }
    .earth-Animation .webgl:active {
      cursor: grabbing; }

/*  ALL BACKGROUNDS */
.stars {
  position: fixed;
  width: 100% !important;
  height: 100vh !important;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: .5; }

.backAppear {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 200;
  background: #000;
  animation: backAppear 7s 2s both; }

.backAppearReset {
  animation: none; }

.backAppearRefresh {
  animation: backAppear 3s 1 both; }

.back {
  border-radius: 6px;
  z-index: 400;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.801), transparent); }

.back3 {
  border-radius: 6px;
  z-index: 400;
  width: 100%;
  height: 100vh;
  position: absolute;
  background: linear-gradient(to bottom, transparent, black); }

.back2 {
  border-radius: 6px;
  width: 100%;
  height: 100%;
  position: absolute;
  width: 101%;
  left: 0;
  bottom: 0;
  background: linear-gradient(to top, black, rgba(0, 0, 0, 0.185)); }

.backPro {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1400;
  animation: showPage 3s 2s 1 both;
  pointer-events: none; }

.background {
  background: #000; }

.colorS1 {
  background: none !important; }

.colorM1 {
  background: linear-gradient(to right, rgba(54, 43, 4, 0.055), rgba(0, 0, 0, 0.171)) !important;
  border-top: 1px solid rgba(148, 114, 4, 0) !important;
  border-left: 1px solid rgba(148, 114, 4, 0) !important; }

.colorM2 {
  background: linear-gradient(to top, black, rgba(197, 152, 2, 0.021)) !important; }

.colorM3 {
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(117, 92, 8, 0.075)) !important; }

.remove {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.89), transparent) !important; }

.whitoutBack {
  background: none !important; }

.wrapperBackSize, .wrapperEarth1, .wrapperMercury1, .wrapperMercury2, .wrapperVenus1, .wrapperVenus2, .wrapperSaturno1, .wrapperSaturno2, .wrapperMarte1, .wrapperMarte2, .wrapperJupiter1, .wrapperJupiter2, .bg, .bgEarth2 {
  background-size: cover !important;
  background-repeat: no-repeat !important; }

.wrapperIndex {
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  opacity: .5; }

.wrapperEarth1 {
  height: 100vh;
  position: relative; }

.wrapperEarth2, .wrapperEarth1, .wrapperMercury1, .wrapperMercury2, .wrapperVenus1, .wrapperVenus2, .wrapperSaturno1, .wrapperSaturno2, .wrapperMarte1, .wrapperMarte2, .wrapperJupiter1, .wrapperJupiter2 {
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100; }

.wrapperMercury1 {
  background: url(../images/Mercurio2.jpg) 50% 50%;
  animation: bright2 7s infinite alternate ease-in-out; }

.wrapperMercury2 {
  background: url(../images/Mercurio3.jpg) 50% 50%;
  animation: bright2 7s infinite alternate ease-in-out; }

.wrapperVenus1 {
  background: url(../images/Venus2.jpg) 50% 50%;
  animation: bright2 7s infinite alternate ease-in-out; }

.wrapperVenus2 {
  background: url(../images/Venus.jpg) 50% 50%;
  animation: bright2 7s infinite alternate ease-in-out; }

.wrapperSaturno1 {
  background: url(../images/saturno.jpg) 50% 50%;
  background-position: bottom;
  animation: onlyBright 7s infinite alternate ease-in-out; }

.wrapperSaturno2 {
  background: url(../images/saturno2.jpg) 50% 50%;
  animation: bright 7s infinite alternate ease-in-out; }

.wrapperMarte1 {
  background: url(../images/marte.jpg) 50% 50%;
  background-position: bottom;
  animation: bright2 7s infinite alternate ease-in-out; }

.wrapperMarte2 {
  background: url(../images/marte2.jpg) 50% 50%;
  animation: bright 7s infinite alternate ease-in-out; }

.wrapperJupiter1 {
  background: url(../images/jupiter.jpg) 50% 50%;
  background-position: bottom;
  animation: bright2 7s infinite alternate ease-in-out; }

.wrapperJupiter2 {
  background: url(../images/jupiter3.jpg) 50% 50%;
  background-position: left; }

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../images/onion.png) 50% 50%;
  animation: bright 7s infinite alternate ease-in-out; }
  .bgSizePos, .bgEarth1, .bgEarthx, .bgEarth1x, .bgEarth2, .bgMercury1, .bgMercury2, .bgVenus1, .bgVenus2, .bgSaturno1, .bgSaturno2, .bgMarte1, .bgMarte2, .bgJupiter1, .bgJupiter2 {
    width: 100%;
    height: 100%;
    position: absolute; }
  .bgEarth1 {
    background: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0)); }
  .bgEarthx {
    z-index: 5;
    background: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0.404)); }
  .bgEarth1x {
    height: 40%;
    bottom: 0;
    z-index: 150;
    background: linear-gradient(to top, #000, rgba(0, 0, 0, 0)); }
  .bgEarth2 {
    background: url(../images/Earth3.jpg) 50% 50%;
    animation: bright2 7s infinite alternate ease-in-out; }
  .bgMercury1 {
    background: linear-gradient(to top, #000, rgba(148, 114, 4, 0.171)); }
  .bgMercury2 {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.411), rgba(0, 0, 0, 0)); }
  .bgVenus1 {
    background: linear-gradient(to top, #000, rgba(148, 114, 4, 0.171)); }
  .bgVenus2 {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.993), rgba(0, 0, 0, 0)); }
  .bgSaturno1 {
    background: linear-gradient(to top, #000, rgba(6, 4, 148, 0.171)); }
  .bgSaturno2 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0)); }
  .bgMarte1 {
    background: linear-gradient(to top, #000, rgba(6, 4, 148, 0.171)); }
  .bgMarte2 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0)); }
  .bgJupiter1 {
    background: linear-gradient(to top, #000, rgba(6, 4, 148, 0.171)); }
  .bgJupiter2 {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0)); }

/*  MAIN TEXT  */
.main-text {
  position: absolute;
  z-index: 900;
  width: 50%;
  height: auto;
  top: 50%;
  left: 0%;
  transform: translateY(-50%); }
  .main-text::-webkit-scrollbar {
    display: none; }
  .main-text .title {
    color: #e7e7e7;
    padding: 0 2rem; }
    .main-text .title .cont-appear {
      overflow: hidden;
      width: 100%;
      animation: letterAppear 3s 1 steps(30), cursor 0.7s 5; }
    .main-text .title .cont-appear2 {
      overflow: hidden;
      width: 100%;
      white-space: nowrap;
      animation: letterAppear 3s 1 steps(30); }
    .main-text .title .cont-appear h1, .main-text .title .cont-appear2 h1, .main-text .title .cont-appear2 h1 {
      text-transform: uppercase;
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      font-size: 3rem;
      color: white;
      animation: textColor 2.5s 5s ease-in-out infinite alternate both;
      position: relative; }
    .main-text .title p {
      text-align: justify;
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      color: #ececec;
      width: 85%;
      margin: 1rem 0;
      animation: show 2s 2s ease-in-out 1 both; }

.cont-appear2 h2 {
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  color: white; }

.second-text-responsive {
  display: none; }

.second-text-main {
  width: 90%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 900;
  text-align: justify;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: white;
  margin: 1rem 0;
  animation: show 2s 2s ease-in-out 1 both; }

.main-text2-r {
  display: none; }

.main-text2-nr {
  position: relative;
  height: 150vh;
  width: 100vw;
  z-index: 900;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: linear-gradient(to bottom, #000, transparent);
  grid-template-rows: repeat(6, minmax(50px, 25vh)); }
  .main-text2-nr div {
    position: relative; }
    .main-text2-nr div h2 {
      text-transform: uppercase;
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      font-size: 1.2rem;
      color: white; }
    .main-text2-nr div p {
      text-align: justify;
      text-transform: uppercase;
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      color: #ececec; }
  .main-text2-nr > div:nth-child(1) {
    justify-self: flex-start;
    background: linear-gradient(to right, rgba(15, 39, 4, 0.349), rgba(0, 0, 0, 0));
    border-radius: 15px;
    padding: 15px;
    grid-column: 1/ span 1;
    grid-row: 1/ span 3;
    align-self: center; }
  .main-text2-nr > div:nth-child(2) {
    justify-self: flex-end;
    grid-column: 2/ span 1;
    grid-row: 2/ span 2; }
  .main-text2-nr > div:nth-child(3) {
    justify-self: flex-start;
    grid-column: 1/ span 2;
    grid-row: 4/ span 3;
    background: linear-gradient(to top, #000, rgba(15, 39, 4, 0.158));
    width: 100%;
    padding: 30px;
    border-radius: 15px 15px 0px 0px;
    transition: box-shadow .5s; }
    .main-text2-nr > div:nth-child(3):hover {
      box-shadow: 0px 0px 7px 0px #a8a8a8; }

.main_Earth2 .main-movements {
  position: relative;
  z-index: 700;
  margin-top: 150px;
  width: 50%; }
  .main_Earth2 .main-movements h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    color: white;
    animation: textColor 2.5s 5s ease-in-out infinite alternate both; }
  .main_Earth2 .main-movements .list2 {
    color: white;
    list-style: none; }
    .main_Earth2 .main-movements .list2 li {
      padding-left: 40px;
      margin-top: 12px;
      text-align: justify;
      color: #ececec;
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      color: #ececec; }

.main_Earth2 .lists {
  margin-top: 100px;
  padding: 10px 7vw 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  .main_Earth2 .lists h2 {
    text-transform: uppercase;
    animation: textColor 2.5s 5s ease-in-out infinite alternate both; }
  .main_Earth2 .lists > ul {
    padding: 40px;
    width: 95%;
    border-radius: 15px; }
    .main_Earth2 .lists > ul div {
      position: relative;
      border-radius: 15px;
      border-top: 3px solid rgba(255, 255, 255, 0.438);
      border-left: 3px solid rgba(255, 255, 255, 0.74);
      padding: 15px 5px 10px 25px;
      list-style: none;
      margin-bottom: 15px;
      background: linear-gradient(to left, #000, transparent); }
      .main_Earth2 .lists > ul div > li {
        margin-bottom: 15px; }
        .main_Earth2 .lists > ul div > li ul {
          background: #0f0f0f;
          border-radius: 15px; }
          .main_Earth2 .lists > ul div > li ul li {
            margin-bottom: 15px; }

.list {
  list-style: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #ececec;
  width: 85%;
  border-radius: 15px;
  padding: 7px;
  background-color: #ffffff10; }
  .list li:nth-child(1) {
    width: 100%;
    margin-bottom: 5px;
    padding: 8px;
    border-radius: 15px;
    font-size: 1.1vw; }
  .list li:nth-child(1) {
    background: #0f0f0f;
    outline: 1px solid #2c2c2c5e; }
  .list li:nth-child(2) {
    width: 100%;
    margin-bottom: 5px;
    padding: 8px;
    border-radius: 15px;
    font-size: 1.1vw; }
  .list li:nth-child(2) {
    background: black; }
  .list li:nth-child(3) {
    width: 100%;
    margin-bottom: 5px;
    padding: 8px;
    border-radius: 15px;
    font-size: 1.1vw; }
  .list li:nth-child(3) {
    background: #0f0f0f;
    outline: 1px solid #2c2c2c5e; }
  .list li:nth-child(4) {
    width: 100%;
    margin-bottom: 5px;
    padding: 8px;
    border-radius: 15px;
    font-size: 1.1vw; }
  .list li:nth-child(4) {
    background: black; }
  .list li:nth-child(5) {
    width: 100%;
    margin-bottom: 5px;
    padding: 8px;
    border-radius: 15px;
    font-size: 1.1vw; }
  .list li:nth-child(5) {
    background: #0f0f0f;
    outline: 1px solid #2c2c2c5e; }
  .list li:nth-child(6) {
    width: 100%;
    margin-bottom: 5px;
    padding: 8px;
    border-radius: 15px;
    font-size: 1.1vw; }
  .list li:nth-child(6) {
    background: black; }
  .list li:nth-child(7) {
    width: 100%;
    margin-bottom: 5px;
    padding: 8px;
    border-radius: 15px;
    font-size: 1.1vw; }
  .list li:nth-child(7) {
    background: #0f0f0f;
    outline: 1px solid #2c2c2c5e; }
  .list li:nth-child(8) {
    width: 100%;
    margin-bottom: 5px;
    padding: 8px;
    border-radius: 15px;
    font-size: 1.1vw; }
  .list li:nth-child(8) {
    background: black; }
  .list-general {
    z-index: 700;
    position: relative;
    margin: 110px 0 120px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column; }
    .list-general h2 {
      text-align: center;
      text-transform: uppercase;
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      font-size: 1.8vw;
      color: white;
      animation: textColor 2.5s 5s ease-in-out infinite alternate both;
      margin-bottom: 20px; }
    .list-general .list2 {
      width: 50%;
      list-style: none;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      padding-left: 18vw;
      border-radius: 15px;
      padding: 7px;
      background-color: #ffffff10;
      backdrop-filter: blur(12px);
      -webkit-backdrop-filter: blur(12px); }
    .list-general .list2 li:nth-child(1) {
      width: 100%;
      margin-bottom: 15px;
      padding: 8px;
      border-radius: 15px;
      font-size: 1.3vw; }
    .list-general .list2 li:nth-child(1) {
      background: #181818; }
    .list-general .list2 li:nth-child(2) {
      width: 100%;
      margin-bottom: 15px;
      padding: 8px;
      border-radius: 15px;
      font-size: 1.3vw; }
    .list-general .list2 li:nth-child(2) {
      background: #0f0f0f; }
    .list-general .list2 li:nth-child(3) {
      width: 100%;
      margin-bottom: 15px;
      padding: 8px;
      border-radius: 15px;
      font-size: 1.3vw; }
    .list-general .list2 li:nth-child(3) {
      background: #181818; }
    .list-general .list2 li:nth-child(4) {
      width: 100%;
      margin-bottom: 15px;
      padding: 8px;
      border-radius: 15px;
      font-size: 1.3vw; }
    .list-general .list2 li:nth-child(4) {
      background: #0f0f0f; }
    .list-general .list2 li:nth-child(5) {
      width: 100%;
      margin-bottom: 15px;
      padding: 8px;
      border-radius: 15px;
      font-size: 1.3vw; }
    .list-general .list2 li:nth-child(5) {
      background: #181818; }
    .list-general .list2 li:nth-child(6) {
      width: 100%;
      margin-bottom: 15px;
      padding: 8px;
      border-radius: 15px;
      font-size: 1.3vw; }
    .list-general .list2 li:nth-child(6) {
      background: #0f0f0f; }
    .list-general .list2 li:nth-child(7) {
      width: 100%;
      margin-bottom: 15px;
      padding: 8px;
      border-radius: 15px;
      font-size: 1.3vw; }
    .list-general .list2 li:nth-child(7) {
      background: #181818; }
    .list-general .list2 li:nth-child(8) {
      width: 100%;
      margin-bottom: 15px;
      padding: 8px;
      border-radius: 15px;
      font-size: 1.3vw; }
    .list-general .list2 li:nth-child(8) {
      background: #0f0f0f; }
    .list-general .list2 li:nth-child(9) {
      width: 100%;
      margin-bottom: 15px;
      padding: 8px;
      border-radius: 15px;
      font-size: 1.3vw; }
    .list-general-none {
      display: none; }
  .lists {
    position: relative;
    z-index: 700;
    color: #ffffff;
    overflow-x: scroll;
    font-family: 'Poppins', sans-serif; }
    .lists ul {
      padding: 40px; }
    .lists::-webkit-scrollbar {
      display: none; }
    .lists li {
      margin-bottom: 2px; }
  .list2 {
    color: #ececec;
    list-style: circle; }
    .list2 li {
      font-family: 'Poppins', sans-serif; }

.aside-flotante {
  width: 350px;
  position: absolute;
  right: 4px;
  z-index: 500;
  top: 40%;
  transform: translateY(-40%);
  background: linear-gradient(to left, #000, transparent);
  border-radius: 15px;
  animation: show 2s 4s ease-in-out 1 both; }
  .aside-flotante h2 {
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    text-align: left;
    color: white;
    animation: textColor 2.5s 5s ease-in-out infinite alternate both;
    margin-bottom: 7px; }

.carousel {
  height: 100% !important;
  width: 100% !important; }

.carousel-inner {
  height: 100% !important;
  width: 100% !important; }

.carousel-item {
  height: 100% !important;
  width: 100% !important; }
  .carousel-item img {
    object-fit: cover !important;
    width: 100% !important;
    height: 100% !important; }

.p-planets, .h2-planetsName {
  position: relative;
  z-index: 700; }

.maxZindex {
  z-index: 1199 !important; }

.pointer-event {
  pointer-events: all !important; }

.magicContainer {
  position: absolute;
  overflow: hidden;
  width: 80%;
  white-space: nowrap;
  top: 50px;
  left: 25px;
  z-index: 1500;
  height: max-content;
  color: lightgray;
  animation: letterAppear 3s 1 steps(30); }

.magic {
  text-transform: uppercase;
  font-family: 'poppins', sans-serif;
  font-weight: 900;
  animation: textColor 2.5s 5s ease-in-out infinite alternate both;
  font-size: 3rem;
  position: relative;
  animation: textColor 2.5s 2s ease-in-out infinite alternate; }

.br-index-res {
  display: none; }

.earth-Animation .close {
  display: none;
  position: absolute;
  left: 75%;
  top: 15%;
  z-index: 1199;
  padding: 20px;
  border-radius: 15px;
  background: black;
  outline: none;
  border: none; }
  .earth-Animation .close span {
    display: block;
    height: 5px;
    width: 25px;
    background: #fff;
    transform: rotate(45deg);
    border-radius: 15px; }
    .earth-Animation .close span::after {
      content: '';
      display: block;
      height: 5px;
      width: 25px;
      background: #fff;
      transform: rotate(90deg);
      border-radius: 15px; }

.buttonSeeAndCheck, .buttonSeeAndCheck2 {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  padding: 1rem 1.7rem;
  border: none;
  border-radius: 2.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgba(0, 115, 255, 0);
  color: #0072ff;
  outline: 2px solid #0072ff;
  z-index: 900;
  transition: color 1s , background 1s, outline 0s; }
  .buttonSeeAndCheck:hover, .buttonSeeAndCheck2:hover {
    color: white;
    background-color: #0073ff;
    outline: 2px solid rgba(0, 115, 255, 0); }

.buttonSeeAndCheck2:hover {
  color: white;
  background-color: #0073ff;
  outline: 2px solid rgba(0, 115, 255, 0); }

.buttonResponsive {
  margin: auto;
  margin-bottom: 10px;
  transform: none;
  left: 0; }

.btn, .btn-rev {
  display: inline-block;
  text-decoration: none;
  padding: 1rem 1.7rem;
  margin-top: 2.5rem;
  border: none;
  border-radius: 2.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #0072ff;
  color: white;
  transition: color 1s , background 1s, outline 0s; }
  .btn:hover, .btn-rev:hover {
    color: #0072ff;
    background: transparent;
    outline: 2px solid #0072ff; }
  .btn-rev:hover {
    color: white;
    background-color: #0072ff;
    outline: none; }

.position-button {
  position: absolute;
  z-index: 1200;
  padding: .5rem 1.2rem;
  left: 30px; }
  .position-button i {
    font-size: 20px; }

.next {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 40px;
  z-index: 1200; }

.btn-sections {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%) rotate(45deg);
  height: 15px;
  width: 15px;
  border-top: 5px solid #fff;
  border-right: 5px solid #fff; }

.position-button-planets {
  position: fixed;
  z-index: 1300;
  padding: .5em 1rem;
  right: 30px;
  top: 0px;
  text-align: center; }

.position-button-planets i {
  font-size: 22px;
  transform: rotate(180deg); }

.btnplanetsBack {
  text-decoration: none;
  border: none;
  margin-top: 8px;
  border-radius: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #0072ff;
  color: white;
  transition: color 1s , background 1s, outline 0s; }

.btnplanets {
  display: inline-block;
  text-decoration: none;
  margin-top: 2.5rem;
  border: none;
  border-radius: 2.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #0072ff;
  color: white;
  transition: color 1s , background 1s, outline 0s;
  position: absolute;
  left: 50%;
  bottom: 15%;
  transform: translate(-50%, -10%);
  opacity: 0;
  transition: opacity 1s; }

.btnplanets2 {
  text-decoration: none;
  padding: .5rem 1.2rem;
  margin-top: 2.5rem;
  border: none;
  border-radius: 2.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #0072ff;
  color: white;
  transition: color 1s , background 1s, outline 0s;
  position: relative;
  z-index: 700;
  transition: opacity 1s; }

.btnplanets:hover, .btnplanets2:hover, .btnplanetsBack:hover {
  color: #0072ff;
  background: transparent;
  outline: 2px solid #0072ff; }

/* FOOTER */
.footer-Earth {
  height: 20vh;
  width: 100%;
  position: relative;
  z-index: 180;
  background: #0f0f0f;
  border-radius: 50% 50% 0% 100% / 100% 100% 0% 0%;
  border-top: 1px solid #ffffff; }
  .footer-Earth .wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .footer-Earth .wrapper .iconsocial {
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      position: relative;
      border-radius: 50%;
      padding: 15px;
      margin: 10px;
      width: 50px;
      height: 50px;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      cursor: pointer; }
      .footer-Earth .wrapper .iconsocial i {
        color: #fff;
        transition: .4s linear;
        font-size: 22px; }
      .footer-Earth .wrapper .iconsocial::before, .footer-Earth .wrapper .iconsocial::after {
        content: '';
        position: absolute;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        transition: .4s linear; }
      .footer-Earth .wrapper .iconsocial:hover::before {
        border-radius: 50%;
        border-left: 4px solid;
        border-right: 4px solid;
        transform: skewX(20deg);
        color: #fff; }
      .footer-Earth .wrapper .iconsocial:hover::after {
        border-radius: 50%;
        border-top: 4px solid;
        border-bottom: 4px solid;
        transform: skewY(-20deg);
        color: #fff; }
      .footer-Earth .wrapper .iconsocial:hover .tooltip {
        top: -45px;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        text-align: center; }
    .footer-Earth .wrapper .tooltip {
      font-family: 'Poppins', sans-serif;
      position: absolute;
      top: 0;
      font-size: 14px;
      color: #ffffff;
      padding: 5px 8px;
      border-radius: 5px;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
      opacity: 0;
      pointer-events: none;
      transition: all 0.35 cubic-bezier 0.68, -0.55, 9.265, 1.55; }

/*** making responsive all ****/
@media only screen and (max-width: 1085px) {
  .title h1 {
    font-size: 1.8rem; }
  .title p {
    width: 100%;
    font-size: 0.9rem;
    margin: 0.5rem 0; }
  .btn, .btn-rev, .btn-rev {
    padding: 0.5rem 1rem;
    margin-top: 1.7rem;
    font-size: 0.8rem; } }

@media only screen and (max-width: 1000px) {
  .main-text {
    width: 55%; }
  .main_Earth2 .main-movements {
    width: 80%;
    margin: 150px auto 0; }
  .title {
    width: 100%; }
  .list-general h2 {
    font-size: 2.3vw; }
  .list-general .list2 {
    width: 70%; }
  .list-general .list2 li:nth-child(1) {
    font-size: 1.5vw; }
  .list-general .list2 li:nth-child(2) {
    font-size: 1.5vw; }
  .list-general .list2 li:nth-child(3) {
    font-size: 1.5vw; }
  .list-general .list2 li:nth-child(4) {
    font-size: 1.5vw; }
  .list-general .list2 li:nth-child(5) {
    font-size: 1.5vw; }
  .list-general .list2 li:nth-child(6) {
    font-size: 1.5vw; }
  .list-general .list2 li:nth-child(7) {
    font-size: 1.5vw; }
  .list-general .list2 li:nth-child(8) {
    font-size: 1.5vw; }
  .list-general .list2 li:nth-child(9) {
    font-size: 1.5vw; } }

@media screen and (max-width: 916px) {
  .main-text {
    top: 42%; } }

@media only screen and (max-width: 900px) {
  .main-text {
    width: 60%; }
  .title h1 {
    color: white; }
  .title p {
    color: #cdcdcd; } }

@media screen and (max-width: 828px) {
  .aside-flotante {
    display: none; }
  .list-general h2 {
    font-size: 2.8vw; }
  .list-general .list2 {
    width: 85%; }
  .list-general .list2 li:nth-child(1) {
    font-size: 1.9vw; }
  .list-general .list2 li:nth-child(2) {
    font-size: 1.9vw; }
  .list-general .list2 li:nth-child(3) {
    font-size: 1.9vw; }
  .list-general .list2 li:nth-child(4) {
    font-size: 1.9vw; }
  .list-general .list2 li:nth-child(5) {
    font-size: 1.9vw; }
  .list-general .list2 li:nth-child(6) {
    font-size: 1.9vw; }
  .list-general .list2 li:nth-child(7) {
    font-size: 1.9vw; }
  .list-general .list2 li:nth-child(8) {
    font-size: 1.9vw; }
  .list-general .list2 li:nth-child(9) {
    font-size: 1.9vw; }
  .list-general-none {
    display: flex; }
  .main-text2-nr > div:nth-child(1) {
    display: none; }
  .main-text2-nr > div:nth-child(2) {
    display: none; }
  .main-text2-nr > div:nth-child(3) {
    background: linear-gradient(to top, #000, transparent); }
  .main-text2-r {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    grid-column: 1 / span 2;
    grid-row: 1 / span 3;
    border: none;
    display: flex;
    position: relative;
    align-items: center;
    overflow: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory; }
  .main-text2-r section {
    min-width: 100%;
    scroll-snap-align: start;
    position: relative;
    height: 100%;
    background: linear-gradient(to bottom, #000, transparent) !important; }
  .listInd {
    padding-left: 20px; }
  .listInd li {
    font-size: 18px; }
  .general-c {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 15px;
    padding: 15px;
    animation: show 2s 4s ease-in-out 1 both;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .general-c .list2 {
    padding: 25px; }
  .general-c h2 {
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.5rem !important;
    color: white; } }

@media only screen and (max-width: 790px) {
  .overflow, .overflow2 {
    width: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    overflow-y: scroll; }
  .overflow {
    top: 55%; }
  .title {
    display: flex;
    align-items: center;
    flex-direction: column; }
  .title p {
    color: #f8f8f8; }
  .title .second-text-responsive {
    display: block;
    margin-top: 20px; }
  .second-text-main {
    display: none; } }

@media screen and (max-width: 768px) {
  .magic {
    font-size: 2rem; }
  .main_Earth2 .lists {
    padding: 10px 0; }
    .main_Earth2 .lists h2 {
      font-size: 3.6vw;
      text-align: left;
      padding-left: 4px; } }

@media screen and (max-width: 700px) {
  .main-text {
    width: 100%; } }

@media screen and (max-width: 672px) {
  .magic {
    font-size: 2rem !important; }
  .main_Earth2 .main-movements {
    width: 95%;
    margin-top: 70px; }
    .main_Earth2 .main-movements .list2 li {
      padding-left: 5px; }
  .list-general h2 {
    font-size: 3.2vw; }
  .list-general .list2 {
    width: 85%; }
  .list-general .list2 li:nth-child(1) {
    font-size: 2.6vw; }
  .list-general .list2 li:nth-child(2) {
    font-size: 2.6vw; }
  .list-general .list2 li:nth-child(3) {
    font-size: 2.6vw; }
  .list-general .list2 li:nth-child(4) {
    font-size: 2.6vw; }
  .list-general .list2 li:nth-child(5) {
    font-size: 2.6vw; }
  .list-general .list2 li:nth-child(6) {
    font-size: 2.6vw; }
  .list-general .list2 li:nth-child(7) {
    font-size: 2.6vw; }
  .list-general .list2 li:nth-child(8) {
    font-size: 2.6vw; }
  .list-general .list2 li:nth-child(9) {
    font-size: 2.6vw; } }

@media screen and (max-width: 570px) {
  .title .cont-appear h1 {
    font-size: 2rem;
    animation: none; }
  .main_Earth2 .lists > ul {
    width: 100%;
    padding: 4px; }
  .main_Earth2 .lists > ul div > li {
    font-size: 3.5vw; }
  .list-general .list2 {
    padding-left: 7vw; }
  .list-general h2 {
    font-size: 4vw; }
  .list-general h2 {
    font-size: 3.9vw; }
  .list-general .list2 {
    width: 85%;
    padding: 5px 2px 2px; }
  .list-general .list2 li:nth-child(1) {
    font-size: 3.5vw; }
  .list-general .list2 li:nth-child(2) {
    font-size: 3.5vw; }
  .list-general .list2 li:nth-child(3) {
    font-size: 3.5vw; }
  .list-general .list2 li:nth-child(4) {
    font-size: 3.5vw; }
  .list-general .list2 li:nth-child(5) {
    font-size: 3.5vw; }
  .list-general .list2 li:nth-child(6) {
    font-size: 3.5vw; }
  .list-general .list2 li:nth-child(7) {
    font-size: 3.5vw; }
  .list-general .list2 li:nth-child(8) {
    font-size: 3.5vw; }
  .list-general .list2 li:nth-child(9) {
    font-size: 3.5vw; } }

@media screen and (min-device-height: 510px) and (max-width: 508px) {
  .overflow {
    top: 65%; }
  .main_Earth2 .main-movements {
    margin-top: 110px; } }

@media screen and (max-width: 500px) {
  .lists {
    padding: 10px; }
  .lists ul {
    padding: 20px; } }

@media screen and (max-width: 469px) {
  .magic {
    font-size: 1.5rem !important; }
  .list {
    text-align: left; }
  .main_Earth2 .main-movements .list2 li {
    font-size: 14px; } }

@media screen and (max-width: 435px) {
  .main-text .title p {
    width: 100%; } }

@media screen and (max-width: 430px) {
  .magic {
    font-size: 1.6rem; }
  .p-planets {
    text-align: left; } }

@media screen and (max-width: 402px) {
  .magic {
    font-size: 1.3rem; } }

@media screen and (max-width: 395px) {
  .main-text {
    margin-top: 20px; } }

@media screen and (max-width: 390px) {
  .main-text {
    margin-top: 15px; }
    .main-text .title p {
      font-size: 12px; }
  .main_Earth2 .main-movements .list2 li {
    font-size: 3.5vw; }
  .overflow {
    height: 100vh;
    border-radius: 5px; }
  .overflow2 {
    height: 70vh;
    box-shadow: 1px 2px 1px 0px rgba(148, 114, 4, 0.699);
    border-radius: 5px; }
  .overflow::-webkit-scrollbar, .overflow2::-webkit-scrollbar {
    display: none; } }

@media screen and (max-width: 368px) {
  .title .cont-appear h1 {
    text-align: center; }
  .title .cont-appear {
    animation: none; }
  .main-text2-r {
    border-radius: 15px;
    border-top: 2px solid #0c029b; }
  .mercury-color {
    border-top: 2px solid rgba(148, 114, 4, 0.699); }
  .listInd li {
    font-size: 15px; }
  .general-c p {
    text-align: left !important; }
  .br-index-res {
    display: block; }
  .main-text .title {
    padding: 0 20px; } }

@media screen and (max-width: 350px) {
  .lists {
    padding: 5px; }
  .lists ul {
    padding: 10px; } }

@media screen and (max-width: 330px) {
  .magic {
    font-size: 1.1rem; } }

@media only screen and (max-width: 1023px) and (max-device-height: 560px) {
  .second-text-main {
    width: 95%; } }

@media screen and (min-width: 1440px) {
  .main-text .title .cont-appear2 h1 {
    font-size: 4.5vw; }
  .main-text .title p {
    font-size: 1.3vw; }
  .aside-flotante {
    width: 35vw; }
  .aside-flotante h2 {
    font-size: 2vw; }
  .list li {
    font-size: 1.5vw; }
  .second-text-main p {
    font-size: 1.3vw; } }
