.planets-names{
    position: fixed;
    top: 0;
    right: -1000px;
    border: 2px solid transparent;
    width: 313.33333333333334px;
    height: 243.33333333333334px;
    z-index: 1300;
    pointer-events: none;
}

.animation{
    animation: showNames 2.5s 1 both;
}
@keyframes showNames {
    0%{
        transform: translate(0px);
    }100%{
        transform: translate(-1000px);
    }
}
@keyframes hidden {
    0%{
        transform: translate(-1000px);
    }100%{
        transform: translate(0px);
    }
}

.novisible{
    animation: hidden 2s 1 both;
}

.planets-names .planets1, .planets-names .planets2, .planets-names .planets3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #ffffff;
    height: 100%;
    width: 100%;
}

.planets-names div{
    border-radius: 3rem;
    position: relative;
    width: 100%;
}
.planets-names div>span{
    right: 167px;
    top: 4px;
    position: absolute;
    display: block;
    transform: rotate(45deg);
    z-index: -1;
    width: 27px;
    height: 27px;
    border-right: 6.666666666666667px solid rgb(0, 114, 255);
    border-top: 6.666666666666667px solid rgb(0, 114, 255);
    border-radius: 3px;
    transition: border-color 0.3s;
    cursor: pointer;
    pointer-events: auto;
}

.planets-names div p{
    width: max-content;
    position: relative;
    z-index: 5;
    padding: 0.3rem 1rem;
    border: none;
    border-radius: 3rem 20rem 20rem 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    cursor: pointer;
    text-transform: uppercase;
    background: linear-gradient(to right ,rgba(0, 115, 255, 0.616),rgb(0, 114, 255)) ;
    color: rgb(255, 255, 255);
    transition: background 1s;
    text-decoration: none;
}
.planets-names div p a{
    width: 100%;
    height: 100%;
    position: absolute;z-index: 10;
    pointer-events: all;
}

.planets-names .firstPlanet{
    position: absolute;
    padding-left: 10px;
}

.planets-names .firstPlanet>span{
    right: 189px;
}
.planets-names .secondPlanet{
    padding-left: 85px;
    position: absolute;
    top: 90px;
}
.planets-names .secondPlanet>span{
    right: 141px;
    top: 4.2px;
}
.planets-names .thirdPlanet{
    padding-left: 170px;
    position: absolute;
    bottom: 70px;
}
.planets-names .thirdPlanet>span{
    right: 58px;
}
/*--------------------------------*/
.planets-names .firstPlanet2{
    position: absolute;
    padding-left: 38px;
}

.planets-names .firstPlanet2>span{
    right: 189px;
}
.planets-names .secondPlanet2{
    padding-left: 80px;
    position: absolute;
    top: 90px;
}
.planets-names .secondPlanet2>span{
    right: 141px;
    top: 4.2px;
}
.planets-names .thirdPlanet2{
    padding-left: 150px;
    position: absolute;
    bottom: 70px;
}
.planets-names .thirdPlanet2>span{
    right: 55px;
}
/*--------------------------------*/
.planets-names .firstPlanet3{
    position: absolute;
    padding-left: 33px;
}

.planets-names .firstPlanet3>span{
    right: 189px;
}
.planets-names .secondPlanet3{
    padding-left: 65px;
    position: absolute;
    top: 90px;
}
.planets-names .secondPlanet3>span{
    right: 141px;
    top: 4.2px;
}
.planets-names .thirdPlanet3{
    padding-left: 160px;
    position: absolute;
    bottom: 70px;
}
.planets-names .thirdPlanet3>span{
    right: 58px;
}
/*--------------------------------*/
.planets-names .planets2 , .planets-names .planets3{
    display: none;
}